
@import "variable";

/*apc-video*/
.apc-video{overflow:hidden;position: relative;background-color:#000;background-repeat:no-repeat;background-size:cover;}
.apc-video.trial:before{content:"正在试播....";position:absolute;z-index:1;top:50%;left:50%;width:auto;height:auto;padding:rem(5) rem(10);color:#FFF;font-size:rem(12);letter-spacing:rem(0);border-radius:rem(5);background:rgba($color_red,.75);transform:translate(-50%,-50%);}
.apc-video>.txt{position:absolute;z-index:1;left:0;top:0;width:100%;height:8%;text-align: center;color:rgba(255,255,255,0.6);;background-color: rgba(255,255,255,0.3);transition: all 1s;}
.apc-video>.playCount{position: absolute;z-index:1;left:rem(10);top:0;color:rgba(255,255,255,0.6);transition: all 1s;}
.apc-video .video,.apc-video .prism-player{width:100% !important;height:100% !important;}
.apc-video .ctrl{position: absolute;top:0;left:0;width:100%;height:100%;}
// .apc-video .apc-btn:active{background: none;}
.apc-video .play{position: absolute;top:0;left:0;width:100%;height:100%;transition: all 1s;}
.apc-video .play .icon{display:block;position:absolute;left:50%;top:50%;width:rem(100);height:rem(100);margin:rem(-50) 0 0 rem(-50);padding: rem(15) rem(10) rem(7) rem(22);transform:scale(.65);border-radius: 50%;background-color: rgba(255,255,255,.5);fill:#fff;}
.apc-video .stop, .apc-video .full{position:absolute;width:6.75%;height:12%;transition: all 1s;}
.apc-video .stop .icon, .apc-video .full .icon{position:absolute;left:0;top:0;width:100%;height:100%;fill:rgba(255,255,255,.8 );}
.apc-video .stop{left:0;bottom:0;}
.apc-video .stop .icon{padding:rem(18) rem(16) rem(16) rem(14);}
.apc-video .full{right:0;bottom:0;}
.apc-video .full .icon{padding:rem(16) rem(12) rem(22) rem(10);}
.apc-video .apc-bar{cursor:pointer;position:absolute;left:6.75%;bottom:0;width:86.5%;height:12%;border-top:rem(30) solid transparent;border-bottom:rem(21) solid transparent;border-left-width:0;border-right-width:0;transition: all 1s;}
.apc-video .apc-bar .cur{transition:none;width:0;}
.apc-video .apc-bar .cur:before{top:rem(-3);right:rem(-3);width:rem(8);height:rem(10);background-color: #42b983;}
.apc-video .apc-bar b{position:absolute;width:rem(40);top:rem(5);font-size: rem(12);color:#666;}
.apc-video .apc-bar .cTime{left:0;}
.apc-video .apc-bar .tTime{right:rem(10);}
.apc-video .count{position:absolute;top:rem(8);left:rem(10);color:#FFF;text-shadow:rem(1) rem(1) rem(1) rgba(#000,.5);}
.apc-video .count .view{margin-right:rem(10);padding:rem(2) rem(5);border-radius:rem(3);background:rgba(0,0,0,.3)}
.apc-video .count .view:after{content:" 次访问";font-size:rem(9);}
.apc-video .count .live:after{content:" 人在观看";font-size:rem(9);}

.apc-video .lock{position:absolute;z-index:111;bottom:0;left:0;width:100%;height:rem(60);padding-left:rem(15);display:flex;align-items:center;color:#FFF;border-right:rem(120) solid transparent;background-color:rgba(#1c1c20,.95);background-clip:padding-box;}
// .apc-video .cd{position:absolute;z-index:111;bottom:0;left:0;width:100%;height:rem(100);padding-left:rem(20);display:flex;align-items:center;color:#FFF;background-color:rgba(#1c1c20,.75);border-bottom-left-radius:rem(5);border-bottom-right-radius:rem(5);}
.iPhone .apc-video .lock,.iPad .apc-video .lock,.Mac .apc-video .lock,.iPhone .apc-video .remind,.iPad .apc-video .remind,.Mac .apc-video .remind
{-webkit-backdrop-filter:saturate(180%) blur(rem(20));backdrop-filter:saturate(180%) blur(rem(20));}
.iPhone .apc-video .lock,.iPad .apc-video .lock,.Mac .apc-video .lock{background-color:rgba(#1c1c20,.5);}
.iPhone .apc-video .remind,.iPad .apc-video .remind,.Mac .apc-video .remind{background-color:rgba(#FF7F00,1);}
.iPhone .apc-video .remind.free,.iPad .apc-video .remind.free,.Mac .apc-video .remind.free{background-color:rgba($color_one,1);}
.iPhone .apc-video .remind.c,.iPad .apc-video .remind.c,.Mac .apc-video .remind.c{background-color:rgba($color_green,1);}
.apc-video .cd .n{position:relative;font-size:rem(30);color:#FFF;text-shadow:0 0 rem(10) #FFF;}
.apc-video .cd .n:before{content:"距离直播开始，还有";display:block;width:rem(200);padding-top:rem(5);text-shadow:0 0 0;color:rgba(#FFF,.5);font-size:rem(9);}
.apc-video .cd .n:after{font-size:rem(14);padding-left:rem(10);}
.apc-video .cd.day .n:after{content:"天"}
.apc-video .cd.hour .n:after{content:"小时"}
.apc-video .cd time{position:absolute;bottom:rem(10);left:0;width:100%;padding-left:rem(120);text-align:center;color:rgba(#FFF,.5);}
.apc-video .cd time:before{content:"直播定于";margin-right:rem(10);}
.apc-video .cd time:after{content:"开始";margin-left:rem(10);}
.apc-video .remind{position:absolute;z-index:112;top:0;right:rem(-120);width:rem(120);height:100%;padding:0 0 rem(15);color:#FFF;font-size:rem(16);border-radius:0;background:rgba(#FF7F00,.95);@extend %center_flex;}
.apc-video .remind:before{content:"（开课提醒）";position:absolute;bottom:rem(8);left:0;width:100%;font-size:rem(12);text-align:center;line-height:1;letter-spacing:rem(2)}
.apc-video .remind.replay{background-color:rgba(#1c1c20,.95)}
.apc-video .remind.replay b{display:none;}
.apc-video .remind.replay:before{content:""}
.apc-video .remind:active{background:rgba(#FF7F00,.95)}
.apc-video .remind.free,.apc-video .remind.free:active{background-color:rgba($color_one,1)}
.apc-video .remind.free .coin:before{content:"免费课程";font-size:rem(16)}
.apc-video .remind.c,.apc-video .remind.c:activev{background-color:rgba($color_green,1)}
.apc-video .remind.c:before{content:"(已设置提醒)";}
.apc-video .remind .m{display:none;position:absolute;top:rem(-25);right:rem(10);width:rem(100);text-align:right;letter-spacing:rem(1);color:rgba(#FFF,.5)}
.apc-video .remind .m:before{content:"已有";margin-right:rem(5);}
.apc-video .remind .m:after{content:"人预约";margin-left:rem(5);}
.apc-video .remind .coin{letter-spacing:rem(1);font-size:rem(24);line-height:rem(40)}
// .apc-video .remind .coin:after{content:"新芽币";font-size:rem(9)}
// .apc-video .remind .coin:before{content:"￥"}
// .apc-video .remind .coin.free{top:rem(2);}
.apc-video .remind .coin.free:before{content:"免费";font-size:rem(12)}

.apc-video .end .txt{display:flex !important;left:0 !important;width:100%;font-size:rem(24);height:100%;text-align:center;color:rgba(#FFF,.75);@extend %center_flex;}
.apc-video .end .txt:before{content:"直播已结束，请等待回放"}
.apc-video .end.noPlayBack .txt:before{content:"直播已结束"}
.apc-video .end.pay .txt .coin{font-size:rem(50);}
.apc-video .end .coin:before{content:"￥";font-size:rem(40)}
.apc-video .end.pay .txt:before{content:""}
.apc-video .end.pay .remind.pay:before{content:"购买课程"}

.apc-video .remind.buy:before{content:"购买";}
.apc-video .remind.buy .m:after{content:"人购买";}



  .prism-player{background:none !important;}
  .prism-controlbar{height:auto !important;}
  .prism-controlbar-bg{height:rem(40) !important;display:block;background:rgba(0,0,0,.3) !important;}
  .prism-progress{top:auto !important;bottom:0 !important;}
  .prism-play-btn{width:rem(40) !important;height:rem(40) !important;margin:0 !important;background:url(data:image/svg+xml;base64,PHN2ZyBjbGFzcz0iQVZQbGF5IiBmaWxsPSIjRkZGIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA0OCA0OCI+PHBhdGggZD0iTTQwLjIsMjRMNy44LDQyLjlWNS4xTDQwLjIsMjR6Ij48L3BhdGg+PC9zdmc+DQo=) center center no-repeat !important;background-size:50% !important;}
  .prism-play-btn.playing{background-image:url(data:image/svg+xml;base64,PHN2ZyBjbGFzcz0iQVZQYXVzZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB2aWV3Qm94PSIwIDAgNDggNDgiPjxwYXRoIGZpbGw9IiNGRkYiIGQ9Ik0yNy45LDQyLjZWNS40aDkuNHYzNy4zSDI3LjlMMjcuOSw0Mi42eiBNMTAuNyw0Mi42aDkuNFY1LjRoLTkuNFY0Mi42TDEwLjcsNDIuNnoiPjwvcGF0aD48L3N2Zz4NCg==) !important}
  .prism-fullscreen-btn{width:rem(40) !important;height:rem(40) !important;margin:0 !important;background:url(data:image/svg+xml;base64,PHN2ZyBjbGFzcz0iQVZGdWxsIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA1MCA1MCI+PHBhdGggZmlsbD0iI0ZGRiIgZD0iTTQ5LjUsMzkuMmgtNDlDMC4yLDM5LjIsMCwzOSwwLDM4LjdWMTEuM2MwLTAuMywwLjItMC41LDAuNS0wLjVoNDljMC4zLDAsMC41LDAuMiwwLjUsMC41djI3LjVDNTAsMzksNDkuOCwzOS4yLDQ5LjUsMzkuMnpNMSwzOC4yaDQ4VjExLjhIMVYzOC4yeiBNNDYuNiwyNHYtOS44aC05LjhMNDYuNiwyNHogTTMuNCwyNnY5LjhoOS44TDMuNCwyNnoiLz48L3N2Zz4NCg==) center center no-repeat !important;background-size:50% !important;}
  .prism-time-display{position:absolute;bottom:rem(0);left:50%;height:rem(20) !important;margin:0 !important;color:#EEE !important;line-height:rem(20) !important;transform:translate(-50%,0);}
  .time-bound{padding:0 rem(2)}
  .quality-components {padding-top: 0;}
  .quality-components .current-quality{display: none !important;}
  .quality-components .quality-list{display: block !important;width: rem(86);height: rem(42); right: rem(20);bottom: rem(-38);transition: all 0s;}
  .quality-components .quality-list li{position: absolute;width: rem(36);font-size: rem(12);opacity: 0.5; background-color: transparent;border: none;}
  .quality-components .quality-list li:hover{background-color: transparent;}
  .quality-components .quality-list:after{content:'';display: block;width: rem(1);height: rem(28);background-color: white;transform:translate(rem(43),rem(6)) rotate(32deg) ;}
  .quality-components .quality-list li:last-child{top: 0; right: 54%;text-align: right;}
  .quality-components .quality-list li:first-child{bottom: 0; left: 54%;text-align: left;}
  .quality-components .quality-list li.current{width: rem(50);font-size: rem(14);opacity: 1; color: white;}

  .prism-volume,.prism-stream-selector,.prism-speed-selector{display:none !important;}
  .prism-cover{overflow:hidden;width:100%;height:100%;border-radius:rem(3);background-size:cover;background-position:center;background-repeat:no-repeat;background-color:#FFF !important;}

  .prism-big-play-btn{position:absolute;top:0;left:0;width:100%;height:100%;@extend %center_flex;}
  .prism-big-play-btn .icon{display:block;width:rem(60);height:rem(60);padding:rem(10) rem(6) rem(10) rem(14);border:rem(2) solid #FFF;border-radius:rem(100);fill:#FFF;background:rgba(#FFF,.1);}



@media screen and (max-width:2732px) and (-webkit-min-device-pixel-ratio:1.5) { //iPad Pro
}
@media screen and (max-width:2732px) and (orientation:landscape) and (-webkit-min-device-pixel-ratio:1.5) { // iPad ProH  1366*1024
}
@media screen and (max-width:2048px) and (orientation:portrait) and (-webkit-min-device-pixel-ratio:1.5) { // iPad Pro V 1024*1366
}
@media screen and (max-width:2048px) and (-webkit-min-device-pixel-ratio:1.5) { // iPad
}
@media screen and (max-width:2048px) and (orientation:landscape) and (-webkit-min-device-pixel-ratio:1.5) { // iPad H 1024*768
}
@media screen and (max-width:1536px) and (orientation:portrait) and (-webkit-min-device-pixel-ratio:1.5) { // iPad V 768*1024
}
@media screen and (max-width:1440px) and (orientation:portrait){ //Android 1440p 1440*2560
// @media (min-resolution:250dpi), screen and (max-width:1440px) and (-webkit-min-device-pixel-ratio:1.5) and (orientation:portrait){ //Android 1440p 1440*2560

  .apc-video .play u{width:rem(50);height:rem(50);padding: rem(9) rem(5) rem(7) rem(12);}
  .apc-video .stop .icon{padding:rem(2) rem(4);}
  .apc-video .full .icon{padding:rem(1) rem(2);}
  .apc-video .apc-bar{border-top-width:rem(8);border-bottom-width:rem(11);}
  .apc-video .apc-bar b{width:rem(40);top:rem(2);font-size: rem(9);}
  .apc-video .apc-bar .tTime{right:rem(-4);}
  .apc-video .apc-bar .cur:before{top:rem(-2);right:rem(-3);width:rem(4);height:rem(6);}
  // .apc-video .lock{padding-left:0;height:100%;border-radius: 0;display:block;}
  // // .apc-video .cd{padding-left:0;height:100%;border-radius: 0;display:block;}
  // .apc-video .cd .n{display:block;margin-top:rem(35);font-size:rem(30);text-align:center;}
  // .apc-video .cd .n:before{top:rem(-20);}
  // .apc-video .cd time{bottom:rem(5);padding-left:rem(10);font-size:rem(10);}
  // // .apc-video .cd .n:after{font-size:rem(9);}
  // .apc-video .cd.minute .n{font-size:rem(40);}
  // .apc-video .remind{top:auto;bottom:rem(15);right:0;width:rem(300);height:rem(36);margin:rem(10);border:1px solid #FFF;background:rgba(255,255,255,.1);}
  // .apc-video .remind .coin{top:rem(0);left:rem(10);width:auto;font-size:rem(16);line-height:rem(35)}
  // .apc-video .remind .m{bottom:rem(-20);font-size:rem(10)}

.apc-video .cd .n{position:relative;font-size:rem(30);color:#FFF;text-shadow:0 0 rem(10) #FFF;}
.apc-video .cd .n:before{content:"距离直播开始，还有";display:block;width:rem(200);padding-top:rem(5);text-shadow:0 0 0;color:rgba(#FFF,.5);font-size:rem(9);}
.apc-video .cd .n:after{font-size:rem(14);padding-left:rem(10);}
.apc-video .cd.day .n:after{content:"天"}
.apc-video .cd.hour .n:after{content:"小时"}
.apc-video .cd time{position:absolute;bottom:rem(10);left:0;width:100%;padding-left:rem(120);text-align:center;color:rgba(#FFF,.5);}
.apc-video .cd time:before{content:"直播定于";margin-right:rem(10);}
.apc-video .cd time:after{content:"开始";margin-left:rem(10);}
.apc-video .remind{position:absolute;z-index:112;top:0;right:rem(-120);width:rem(120);height:100%;padding:0 0 rem(15);color:#FFF;font-size:rem(16);border-radius:0;background:rgba(#FF7F00,.95);}
.apc-video .remind:active{background:inherit;}
.apc-video .remind:before{content:"（开课提醒）";position:absolute;bottom:rem(8);left:0;width:100%;font-size:rem(12);text-align:center;line-height:1;letter-spacing:rem(2)}
.apc-video .remind.replay:before{content:""}
.apc-video .remind.free{background-color:rgba($color_one,.95)}
.apc-video .remind.free .coin:before{content:"免费课程";font-size:rem(16)}
.apc-video .remind.c{background-color:rgba($color_green,.95);}
.apc-video .remind.c:before{content:"(已设置提醒)";}
.apc-video .remind .m{display:none;position:absolute;top:rem(-25);right:rem(10);width:rem(100);text-align:right;letter-spacing:rem(1);color:rgba(#FFF,.5)}
.apc-video .remind .m:before{content:"已有";margin-right:rem(5);}
.apc-video .remind .m:after{content:"人预约";margin-left:rem(5);}
.apc-video .remind .coin{letter-spacing:rem(1);font-size:rem(24);line-height:rem(40)}

  .apc-video .lock{height:rem(40);padding-left:rem(10);border-right-width:rem(100);}
  .apc-video .cd .n{font-size:rem(20);}
  .apc-video .cd .n:before{font-size:rem(6)}
  .apc-video .cd time{display:none;}
  .apc-video .remind{right:rem(-100);width:rem(100);padding-bottom:rem(12)}
  .apc-video .remind:before{bottom:rem(4);font-size:rem(9)}
  .apc-video .remind .coin{font-size:rem(20)}
  .apc-video .remind.free .coin:before{font-size:rem(12)}

  .apc-video .end .txt{font-size:rem(16)}

  .prism-player .prism-liveshift-progress, .prism-player .prism-progress{top:0 !important;bottom:0 !important;}
  .quality-components {transform: scale(.8);}
  .quality-components .quality-list{height: rem(24); right: 0;bottom: rem(-35);}
  .quality-components .quality-list:after{height: rem(28);transform:translate(rem(43),rem(-2)) rotate(32deg) ;}

  // .TA .apc-video{overflow:visible;}
  // .TA .prism-play-btn{position:absolute;left:50%;bottom:rem(-60);margin-left:rem(-25) !important;background:url(data:image/svg+xml;base64,PHN2ZyBjbGFzcz0iQVZQbGF5IiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA1MCA1MCI+PHBhdGggZmlsbD0iIzNDOERGRiIgZD0iTTEyLjUsOGMwLjgsMC41LDEuOCwxLjEsMi43LDEuNmMxLjQsMC44LDIuOSwxLjcsNC40LDIuNWMxLjIsMC43LDIuNSwxLjQsMy43LDIuMWM1LjgsMy40LDExLjYsNi43LDE3LjQsMTAuMSBjMC4yLDAuMSwwLjMsMC41LDAuMywwLjZjMCwwLjQtMC41LDAuOC0wLjksMC45Yy0wLjMsMC4yLTAuNywwLjQtMSwwLjZjLTEsMC42LTIuMSwxLjItMy4xLDEuOGMtMS41LDAuOC0zLDEuNy00LjUsMi42IGMtNyw0LjEtMTQsOC4xLTIxLjEsMTIuMmMtMC4yLDAuMS0wLjUsMC4zLTAuOCwwLjNDOS40LDQzLjMsOSw0Myw5LDQyLjZWNy42QzksNyw5LjQsNi43LDkuOSw2LjdDMTAuNSw2LjcsMTIuMSw3LjgsMTIuNSw4eiIvPjwvc3ZnPgo=) center center no-repeat !important;background-size:80% !important;}
  // .prism-play-btn.playing{background-image:url(data:image/svg+xml;base64,PHN2ZyBjbGFzcz0iQVZQYXVzZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB2aWV3Qm94PSIwIDAgNDggNDgiPjxwYXRoIGZpbGw9IiNGRkYiIGQ9Ik0yNy45LDQyLjZWNS40aDkuNHYzNy4zSDI3LjlMMjcuOSw0Mi42eiBNMTAuNyw0Mi42aDkuNFY1LjRoLTkuNFY0Mi42TDEwLjcsNDIuNnoiPjwvcGF0aD48L3N2Zz4NCg==) !important}
  // .TA .prism-fullscreen-btn{position:absolute;left:50%;bottom:rem(-60);display: flex;justify-content: center;align-items: center;margin-left:rem(90) !important;color:$color_one;background:none !important;}
  // .TA .prism-fullscreen-btn:before{display: flex;justify-content: center;align-items: center;content:"全屏";width:rem(40);height:rem(30);color:#999;border-radius:rem(3);border:1px solid #EEE;background:none;box-sizing:border-box;border:0;}
  // .TA .prism-speed-selector{display:flex !important;position:absolute;left:50%;bottom:rem(-60);width:rem(50) !important;height:rem(50) !important;justify-content: center;align-items: center;margin-left:rem(-140) !important;color:$color_one;background:none !important;}
  // .TA .prism-speed-selector .current-speed-selector{display:flex;justify-content: center;align-items: center;width:rem(40);height:rem(30);padding:rem(2) rem(7);color:#999;border-radius:rem(3);border:1px solid #EEE;background:none;border:0;}
  // .TA .apc-video .count{display:none;}




  .P.consumer.content.live .pH{display:block !important;transition:all .4s;}
  .CD .pH,.END .pH{display:block !important;height:rem(230) !important;}
  .prism-big-play-btn{height:rem(180);}
  .P.consumer.content.live .mContent.extend .apc-video{transition:all .4s;}
  .P.consumer.content.CD .mContent.extend .apc-video,.P.consumer.content.END .mContent.extend .apc-video{height:rem(230) !important;}
  .live .mContent.extend .apc-video .video{height:rem(180) !important;}
  .live .mContent.extend .apc-video .prism-player{height:rem(180) !important;}
  .apc-video .lock{overflow:hidden;top:rem(180);bottom:auto;height:0;padding:0;background:#EEE !important;transition:all .4s;display:flex !important;justify-content:center;align-items:center;}
  .P.consumer.content.live .L{transition:padding .4s;}
  .CD .apc-video .lock,.END .apc-video .lock{height:rem(50);backdrop-filter:none !important;}
  .CD .L,.END .L{padding-top:rem(230) !important;}
  .apc-video .cd .n,.apc-video .cd .live{font-size:rem(18);color:#FF7F00;}
  .apc-video .cd .n:before,.apc-video .cd .live{position:relative;top:rem(-1);display:inline;font-size:rem(16);margin-right:rem(10);color:#FF7F00;}
  .END .apc-video .cd .live.n:after{content:"开始";font-size:rem(16);}



}
@media screen and (max-width:1080px) and (-webkit-min-device-pixel-ratio:1.5){ // Android 1080p 1080*1920
}
@media screen and (max-width:828px) and (-webkit-min-device-pixel-ratio:1.5){ // iPhone6+ 414
}
@media screen and (max-width:786px) and (-webkit-min-device-pixel-ratio:1.5){ //
}
@media screen and (max-width:768px) and (-webkit-min-device-pixel-ratio:1.5){ //iPad
}
@media screen and (max-width:750px) and (-webkit-min-device-pixel-ratio:1.5){ // iPhone6 375
}
@media screen and (max-width:720px) and (-webkit-min-device-pixel-ratio:1.5){ // Android 720p 720*1280
}
@media screen and (max-width:640px) and (-webkit-min-device-pixel-ratio:1.5){ // iPhone5 320
}
@media screen and (max-width:480px) and (-webkit-min-device-pixel-ratio:1.5){/*海信m20-t*/
}


