
@import "variable";

.C.account .U{overflow:auto;}
.C.account .map .apc-country{width:rem(800);margin:0 auto;}
.C.account .map .icon{display:block;}
.C.account .map path{fill:#DDD;stroke:#DDD;stroke-width:.5px;}
//.C.account .map path:first-child{stroke-width:0;fill:#F5F5F5}
.C.account .map path.c{fill:$color_green;}
.C.account .map path:hover{cursor:pointer;stroke:#FF7F00;stroke-width:1px;}
//.C.account .map path:first-child:hover{fill:transparent;stroke-width:0;}
.C.account .L{padding-top:rem(60);}
.C.account .panel{clear:left;position:relative;display:block;padding:0;text-align:center;border:solid transparent;border-width:rem(30) 0 0;}
.C.account .panel .label{position:relative;float:left;margin:rem(10) 0 rem(10);padding:rem(10) rem(20);font-size:rem(20);transition:all .4s;}
.C.account .panel .label:before{display:none;}
.C.account .panel .label:after{content:"交易记录"}
.C.account .panel .label .tp{display:none;}
.C.account .panel .label:before{content:"";position:absolute;top:rem(20);left:0;width:rem(10);height:rem(10);border-radius:rem(10);background:#000;}
.C.account .panel .apc-switch{z-index:10;top:rem(4);float:left;width:auto;margin:rem(10) 0 rem(30);border-radius:rem(5);transition:all .4s;background:#F5F5F5;}
.C.account .panel .sw_i{width:rem(60) !important;font-size:rem(14);}
// .C.account .panel a.sw_i.c{background:#F5F5F5}
.C.account .panel a.paid:before{content:"已付"}
.C.account .panel a.unpaid:before{content:"未付"}
.C.account .panel a.today:before{content:"今天"}
.C.account .panel a.week:before{content:"本周"}
.C.account .panel a.month:before{content:"本月"}
.C.account .panel a.all:before{content:"累计"}
.C.account .panel a.income:before{content:"收入"}
.C.account .panel a.buyer:before{content:"购买"}
.C.account .panel a.view:before{content:"访问"}
.C.account .panel a.play:before{content:"播放"}
.C.account .panel a.time:before{content:"时长"}
.C.account .panel a.opinion:before{content:"发言"}
.C.account .panel a.share:before{content:"分享"}
.C.account .panel a.ip:before{content:"IP"}
.C.account .panel a.user:before{content:"登录"}
.C.account .panel a.live:before{content:"在线"}
.C.account .panel a.reg:before{content:"注册"}

.C.account .panel>.data{}
.C.account .mStats{}
.C.account .mStats .item{float:none;display:inline-block;width:auto;margin:0 auto;}
.C.account .mStats .item>.n{font-size:rem(60)}
.C.account .mStats .item.sBalance>.n:before{font-size:rem(14);content:"账户余额"}
.C.account .summary .apc-btn{display:inline-block;margin:0 auto;padding:0 rem(15) 0 rem(20);color:#FFF;background:$color_one;}
.C.account .summary .take:before{content:"取现";}
.C.account .summary .recharge:before{content:"充值";}

.C.account .L .panel .range{position:relative;top:rem(4);float:left;width:rem(400);margin:rem(10) rem(10) rem(30) rem(20);}
.C.account .L .panel .range .apc-input{float:left;width:rem(100);margin:0 rem(10);}
.C.account .L .panel .range .apc-input .label{display:none;}
.C.account .L .panel .range .apc-btn{float:left;width:rem(60);height:rem(30);margin:rem(5) rem(10);padding:0;color:#FFF;letter-spacing:0;font-size:rem(16);background:$color_one;}
.C.account .L .panel .range .apc-btn:before{content:"查询";}
.C.account .L .panel .range .apc-btn.d{background:#999;}

// .table .mR.th .td{color:#CCC;}
.table .mR.th .td.desc:after{content:"描述"}
.table .mR.th .td.coin:after{content:"金额"}
.table .mR.th .td.amount:after{content:"学习人数"}
.table .mR.th .td.time:after{content:"时间"}
.table .mR.th .td.type:after{content:"类型"}
.section .table .mR.th .td.desc:after{content:"课程 / 课时"}
.table .mR.th .td.price .pay:after{content:"支付金额"}
.table .mR.th .td.price .original:after{content:"原价"}
.table .mR.th .td.time .pay:after{content:"支付时间"}
.table .mR.th .td.time .order:after{content:"下单时间"}
.table .mR.th .td.sum:after{content:"总计"}
.table .mR.th .td.user:after{content:"人员"}

.reproduce .table .mOrg.th .td.name:after{content:"组织"}
.reproduce .table .mOrg.th .td.ip:after{content:"IP总数"}
.reproduce .table .mOrg.th .td.view:after{content:"访问总数"}
.reproduce .table .mOrg.th .td.dur:after{content:"播放时长"}

.table .mR .td .pay{font-size:inherit;}
.table .mR .td .original,.table .mR .td .order{position:relative;margin-left:rem(10);padding:rem(7) 0 0 rem(10);color:#CCC;}
.table .mR .td .original:before,.table .mR .td .order:before{content:"";position:absolute;top:rem(3);left:0;width:1px;height:rem(20);background:#CCC;transform:rotate(30deg)}
.table .mR .td .name{display:inline-block;padding:rem(2) rem(7);font-size:rem(14);border-radius:rem(3);}
.table .mR .td .name:active{color:#FFF;background:$color_one;}
.table .mR .out .td{color:#FF7F00;}

@media screen and (max-width:2732px) and (-webkit-min-device-pixel-ratio:1.5) { //iPad Pro
}
@media screen and (max-width:2732px) and (orientation:landscape) and (-webkit-min-device-pixel-ratio:1.5) { // iPad Pro H 1366*1024
}
@media screen and (max-width:2048px) and (orientation:portrait) and (-webkit-min-device-pixel-ratio:1.5) { // iPad Pro V 1024*1366
}
@media screen and (max-width:2048px) and (-webkit-min-device-pixel-ratio:1.5) { // iPad
}
@media screen and (max-width:2048px) and (orientation:landscape) and (-webkit-min-device-pixel-ratio:1.5) { // iPad H 1024*768
}
@media screen and (max-width:1536px) and (orientation:portrait) and (-webkit-min-device-pixel-ratio:1.5) { // iPad V 768*1024
}
@media (min-resolution:200dpi), screen and (max-width:1440px) and (-webkit-min-device-pixel-ratio:1.5) and (orientation:portrait){ //Android 1440p 1440*2560
}
@media screen and (max-width:1080px) and (-webkit-min-device-pixel-ratio:1.5){ // Android 1080p 1080*1920
}
@media screen and (max-width:828px) and (-webkit-min-device-pixel-ratio:1.5){ // iPhone6+ 414
}
@media screen and (max-width:786px) and (-webkit-min-device-pixel-ratio:1.5){ //
}
@media screen and (max-width:768px) and (-webkit-min-device-pixel-ratio:1.5){ //iPad
}
@media screen and (max-width:750px) and (-webkit-min-device-pixel-ratio:1.5){ // iPhone6 375
}
@media screen and (max-width:720px) and (-webkit-min-device-pixel-ratio:1.5){ // Android 720p 720*1280
}
@media screen and (max-width:640px) and (-webkit-min-device-pixel-ratio:1.5){ // iPhone5 320
}


