
@import "variable";



.A>.NN{opacity:.5;bottom:0;top:auto;height:auto;padding:rem(10);}
.A>.NN:before{display:none;}
.A>.NN>.apc-switch{float:left;top:0;width:auto;height:rem(30);margin-top:rem(10);margin-right:rem(10)}
.A>.NN>.apc-switch .sw_i{top:0;flex-grow:initial;width:auto;padding:rem(1) rem(20) 0;font-size:rem(12);}
.A>.NN>.apc-switch .sw_i.c{background:#000;color:#FFF;}




.P.admin.home .H{background:none;}

.P.admin.home .H .admin{position:absolute;top:rem(10);right:rem(10);width:rem(100);height:rem(40);padding-left:rem(1);color:#FF7F00;letter-spacing:rem(1);}
.P.admin.home .H .admin:before{content:"超级管理";}
.P.admin.home .H .admin:active{color:#FFF;background:#FF7F00;}

.P.admin.home.iC .H>.txt:before{content:""}

.P.admin .C.org .L.flex .panel .title{@extend %text_overflow;}

.P.admin.home .C.subarea.list .H>.txt:before{content:"选择区域"}
.P.admin.home .C.group.list .H>.txt:before{content:"选择小组"}
.P.admin.home .C.org.list .H>.txt:before{content:"选择学校"}
.P.admin.home.subarea .flex .icon{fill:$color_green;}
.P.admin.home.subarea .flex .title{color:$color_green;}
.P.admin.home.subject .flex .icon{fill:#FE280E;}
.P.admin.home.subject .flex .title{color:#FE280E;}
.P.admin.home.super .flex .icon{fill:#FF7F00;}
.P.admin.home.super .flex .title{color:#FF7F00;}
.P.admin.home .flex .user .icon,.P.admin.home .flex .message .icon{fill:none;stroke:$color_one;stroke-width:2;padding:rem(22)}
.P.admin.home.subarea .flex .user .icon,.P.admin.home.subarea .flex .message .icon{stroke:$color_green;}
.P.admin.home.subject .flex .user .icon,.P.admin.home.subject .flex .message .icon{stroke:#FE280E;}
.P.admin.home.super .flex .user .icon,.P.admin.home.super .flex .message .icon{stroke:#FF7F00;}
.P.admin.home .flex .d .icon{fill:#DDD;}
.P.admin.home .flex .d.user .icon{stroke:#DDD;}
.P.admin.home .flex .d .title{color:#CCC;}
.P.admin.home .flex .d.message .icon{fill:none;stroke:#DDD;}
.P.admin.home .C.admin .flex .org .title:before{content:"个人信息"}
.P.admin.home .U{padding-top:rem(80);/* @extend %center_flex; */}
.P.admin.home .flex{position:relative;flex-wrap:wrap;width:rem(1000);min-height:rem(450);margin:0 auto;padding-top:rem(50);/* border-radius:rem(10) */@extend %clearfloat}
.P.admin.home .flex:before{position:absolute;top:0;left:0;font-size:rem(16);padding:rem(10) 0;color:#999;}
.P.admin.home .flex.func:before{content:"核心功能"}
.P.admin.home .flex .panel{width:25%;flex-wrap:wrap;background:#F5F5F5;border: solid #FFF;border-width:1px 1px 0 0;}
.P.admin.home .C.org.list .flex .panel{width:50%;}

  .P.admin.home .C.org .L.flex{display:block;padding:0;}
  .P.admin.home .C.org .L.flex .panel{float:left;width:50%;height:rem(60);margin:0;}
  .P.admin.home .C.org .L.flex .panel .item{display:block;justify-content:left;align-items:left;width:100%;padding-left:rem(15);}
  .P.admin.home .C.org .L.flex .panel .icon{float:left;width:rem(40);height:rem(40);margin:0 rem(10) 0 0;padding:rem(5);border:0;background:none;}
  .P.admin.home .C.org .L.flex .panel .title{display:block;text-align:left;margin:0;padding-top:rem(2);justify-content:left;}
  .P.admin.home .C.org .add .txt:before{content:"新建学校"}

.P.admin.home.subarea .flex .panel{width:33.33%;}
.P.admin.home.super .flex .panel{width:20%;}
.P.admin.home .flex .subject .title:before{content:"管理主题"}
.P.admin.home .flex .subarea .title:before{content:"管理分区"}
.P.admin.home .flex .org .title:before{content:"管理学校"}
.P.admin.home .flex .user .title:before{content:"管理用户"}
.P.admin.home .flex .marketing .title:before{content:"管理营销"}
.P.admin.home .flex .stats .title:before{content:"数据统计"}
.P.admin.home .flex .article .title:before{content:"管理文章"}
.P.admin.home .flex .content .title:before{content:"管理课程"}
.P.admin.home .flex .test .title:before{content:"管理题库"}
.P.admin.home .flex .topic .title:before{content:"管理专题"}
.P.admin.home .flex .message .title:before{content:"管理消息"}
.P.admin.home .flex .attachment .title:before{content:"管理课件"}

.P.admin.home .flex.shortcut{display:block;min-height:rem(40);margin-bottom:rem(30)}
.P.admin.home .flex.shortcut:before{content:"快速新建"}
.P.admin.home .flex.shortcut .panel{float:left;width:rem(180);width:20%;height:rem(50)}
.P.admin.home .flex.shortcut .panel .icon{float:left;width:rem(30);height:rem(30);margin-right:rem(10);padding:rem(2);border:0;background:none;}
.P.admin.home .flex.shortcut .panel .title{float:left;margin:0;height:rem(30);padding-top:rem(2);line-height:1;}
.P.admin.home .flex.shortcut .panel.live .title:before{content:"直播课程"}
.P.admin.home .flex.shortcut .panel.video .title:before{content:"视频课程"}
.P.admin.home .flex.shortcut .panel.audio .title:before{content:"音频课程"}
.P.admin.home .flex.shortcut .panel.text .title:before{content:"图文课程"}
.P.admin.home .flex.shortcut .panel.series .title:before{content:"系列课程"}
.P.admin.home .flex.shortcut .panel.article .title:before{content:"文章资讯"}
.P.admin.home .flex.shortcut .panel.signup .title:before{content:"报名公告"}

.P.admin.home .flex.count{display:block;min-height:rem(100);}
.P.admin.home .flex.count:before{content:"今日统计"}

.P.admin.home .flex.updates{display:block;min-height:rem(90);margin-bottom:rem(30);}
.P.admin.home .flex.updates:before{content:"最新动态"}
.P.admin.home .flex.updates .panel{display:block;float:left;width:50%;}
.P.admin.home .flex.updates .panel .title{display:block;float:left;margin:0;width:100%;text-align:left;height:rem(50);padding:rem(1) rem(10) 0 rem(80);line-height:1;font-size:rem(16);letter-spacing:0;line-height:rem(50);@extend %text_overflow}
.P.admin.home .flex.updates .panel .title .status{position:absolute;top:rem(15);left:rem(15);width:rem(60);height:rem(20);letter-spacing:0;margin-right:rem(10);padding:rem(2) rem(5) rem(2);color:#FFF;font-size:rem(12);border-radius:rem(3);background:$color_one;}
.P.admin.home .flex.updates .panel .title .status.cd:before{content:"直播倒计"}
.P.admin.home .flex.updates .panel .title .status.live:before{content:"正在直播"}
.P.admin.home .flex.updates .panel.signup .title .status:before{content:"正在报名";position:relative;z-index:1;}
.P.admin.home .flex.updates .panel.signup:hover .title .status:before{content:"";}
.P.admin.home .flex.updates .panel.signup .title .status{background:#CCC;}
.P.admin.home .flex.updates .panel.signup .title .status .n{position:absolute;top:0;left:0;height:rem(20);padding-right:rem(5);text-align:right;line-height:rem(20);border-radius:rem(3);}
.P.admin.home .flex.updates .panel.signup .title .status .n.signup{color:$color_one;background:$color_one;}
.P.admin.home .flex.updates .panel.signup:hover .title .status .n.signup{color:#FFF;}
.P.admin.home .flex.updates .panel.signup .title .status .n.checkin{color:$color_green;background:$color_green;}
.P.admin.home .flex.updates .panel.signup:hover .title .status .n.checkin{color:#FFF;}

.P.admin.home .org.list .flex .org .title:before{content:""}
// .P.admin.home.subarea .C.home .flex .service .title:before{content:"管理学校 Pro"}
// .P.admin.home.subarea .flex .content .title:before{content:"管理课程 Pro"}
// .P.admin.home.subarea .flex .user .title:before{content:"管理用户 Pro"}
// .P.admin.home.subarea .flex .stats .title:before{content:"数据统计 Pro"}
// .P.admin.home.super .C.home .flex .app .title:before{content:"管理主题 Pro"}
// .P.admin.home.super .C.home .flex .subarea .title:before{content:"管理分区 Pro"}
// .P.admin.home.super .C.home .flex .service .title:before{content:"管理学校 Pro"}
// .P.admin.home.super .flex .content .title:before{content:"管理课程 Pro"}
// .P.admin.home.super .flex .user .title:before{content:"管理用户 Pro"}
// .P.admin.home.super .flex .stats .title:before{content:"数据统计 Pro"}

.P.admin.home .flex .news .item,
.P.admin.home .flex .blank,
.P.admin.home.org .flex .subject,
.P.admin.home.org .flex .subarea,
.P.admin.home.subarea .flex .subject,
.P.admin.home.subarea .flex .subarea,
.P.admin.home.subarea .flex .marketing,
.P.admin.home.subarea .flex .message,
.P.admin.home.subject .flex .subarea,
.P.admin.home.subject .flex .org,
.P.admin.home.subarea .flex.shortcut,
.P.admin.home.subarea .flex.count,
.P.admin.home.subarea .flex.updates,
.P.admin.home.super .flex .marketing{display:none;}
.P.admin.home.super .flex .blank,
.P.admin.home.super .flex .blank{display:flex;}


// .P.admin.super.verifyOrg>.H{width:auto;}
.P.admin .C>.N .apc-switch{top:rem(85);left:rem(40);width:rem(440);height:rem(40)}
.P.admin .C.group>.N .apc-switch{width:rem(220);}
.P.admin .C>.N .apc-switch .icon{display:none;top:0;width:rem(20);height:rem(20);border-radius:rem(30);background:$color_one;fill:#FFF;}
.P.admin .C>.N .apc-switch .c .icon{display:inline-block;}
.P.admin>.N .apc-switch .subarea .txt:after{content:"分区列表";}
.P.admin>.N .apc-switch .group .txt:after{content:"小组列表";}
.P.admin>.N .apc-switch .verify .txt:after{content:"待审核";}
.P.admin>.N .apc-switch .org .txt:after{content:"学校列表";}
.P.admin>.N .apc-switch .personal .txt:after{content:"个体列表";}
.P.admin>.N .apc-switch .subject .txt:after{content:"主题列表";}
.P.admin>.N .apc-switch .topic .txt:after{content:"专题列表";}
.P.admin>.N .apc-switch .course .txt:after{content:"课程列表";}
// .P.admin .C>.N .apc-switch .sw_s{width:50%;border-radius:rem(3);border-color:$color_one;background:none;}
.P.admin .C>.N:before{display:none;}

.P.admin.org .H>.txt:before{content:"管理学校"}
.P.admin.home.org .H>.txt:before{content:""}
.P.admin.user .H>.txt:before{content:"管理用户"}
.P.admin.marketing .H>.txt:before{content:"管理营销"}
// .P.admin.course .H>.txt:before{content:"管理课程"}
.P.admin.article .H>.txt:before{content:"管理文章"}
// .P.admin.topic .H>.txt:before{content:"管理专题"}


  .P.admin .C.org.edit .L .form{float:none;width:auto;}

.M.confirm .P.search.adminer .H .txt:before{content:"添加管理员"}
.M.confirm .P.search.teacher .H .txt:before{content:"添加老师"}
.M.confirm .P.search.course .H .txt:before{content:"转载课程"}
.M.confirm .P.search .searchUser{width:rem(300);margin:rem(60) auto rem(30);}
// .M.confirm .P.search
.searchUser input.text {width:rem(160);}
.M.confirm .P.search .searchUser .search{position: absolute;z-index:1;top:0;right:0;width:rem(28);height:rem(28);padding:rem(5);fill:#999;}
.M.confirm .P.search .mlist{position:relative;height:rem(120);@extend %center_flex;}
.M.confirm .P.search .mlist.nodata:before{content:"无此用户，请重新搜索";font-size:rem(20);color:#666;}
.M.confirm .P.search .mU.item{width:33.33%;float:none;margin:0 auto;border-color:#DDD;background:#F5F5F5;}
.M.confirm .P.search .mU.item.c:after{content:"";position:absolute;top:rem(-10);right:rem(-10);width:rem(30);height:rem(30);border-radius:rem(30);background-color:$color_green;background-image:url(data:image/svg+xml;base64,PHN2ZyBjbGFzcz0iUmlnaHQiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgdmlld0JveD0iMCAwIDQ4IDQ4Ij48cGF0aCBmaWxsPSIjRkZGIiBkPSJNMTIsMjIuOWw2LjUsNi41bDE2LjQtMTYuNGwyLjIsMi4yTDE4LjUsMzMuOGwtOC43LTguN0wxMiwyMi45Ij48L3BhdGg+PC9zdmc+Cg==)}
.M.confirm .P.search .mU.item.d{background:none;}
.M.confirm .P.search .mU.item.d:after{display:none;}
.M.confirm .P.search .mU.item.d:before{opacity:1;content:"该用户已存在，不能重复添加";position:absolute;bottom:rem(-30);left:0;width:100%;text-align:center;color:#E60000;font-size:rem(14)}

.M.confirm .P.search .mlist{width:rem(1000)}

.P.admin .C.apc-opinion .N{left:50%;top:rem(60);width:rem(800);transform:translate(-50%,0)}
.P.admin .C.apc-opinion .U{width:rem(800);margin:0 auto;padding-top:rem(60)}

.M.verify .B{right:0;top:0;width:rem(380);height:100%;}

.M.verify .mContent{position:relative;width:auto;margin:rem(10);padding:rem(40) rem(20) rem(10);border-radius:rem(5);transition:all .4s;@extend %clearfloat;}
.M.verify .mContent:nth-child(3n){margin-right:0;}
.M.verify .mContent .author{position:absolute;z-index:1;top:0;left:0;display:flex;width:100%;height:rem(40);padding:rem(10);align-items:center;color:#999;}
.M.verify .mContent .author .icon{display:block;position:relative;top:rem(1);width:rem(14);height:rem(14);margin-right:rem(5);border-radius:rem(20);background-size:cover;}
.M.verify .mContent .author .txt{margin-top:rem(1);}
// .M.verify .mContent .poster{width:rem(198);height:rem(352);margin:rem(10) auto;background-size:100% auto;}
.M.verify .mContent .name{position:relative;z-index:1;font-size:rem(16);line-height:2;@extend %text_overflow;}
.M.verify .mContent .cover{width:100%;height:rem(180);margin:rem(5) auto;background-size:cover;}
.M.verify .mContent .time{position:absolute;z-index:1;top:rem(15);right:rem(15);color:#CCC;font-size:rem(11);}
.M.verify .mContent.price .time{display:none;}
.M.verify .mContent .tag{display:none;line-height:2;color:#999;}
.M.verify .mContent .content{margin-bottom:rem(10);}
.M.verify .mContent .content h1{padding:rem(5) 0;font-size:rem(14);line-height:2;font-weight:700;}
.M.verify .mContent .content p{padding:rem(5) 0;font-size:rem(14);line-height:2;color:#333;}
.M.verify .mContent .content a{font-size:rem(14);line-height:2;}
.M.verify .mContent .content span{font-size:inherit}
.M.verify .mContent .content blockquote{display: block; border-left: rem(8) solid #d0e5f2; padding: rem(5) rem(10); margin: rem(10) 0; line-height:2; font-size: rem(12); background-color: #f1f1f1;}
.M.verify .mContent .summary{margin:rem(10) 0;padding:rem(5) rem(10);font-size:rem(10);line-height:2;color:#666;background:#F5F5F5;}
.M.verify .mContent .summary:before{content:"摘要：";}

.M.verify .mlist{padding:rem(20);border-top:rem(10) solid #F5F5F5;}
.M.verify .mlist .mData{position:relative;margin-bottom:rem(10);padding:rem(10) rem(10) rem(10) rem(60)}
.M.verify .mlist .mData:before{content:'';position:absolute;}
.M.verify .mlist .mData .pic{position:absolute;top:rem(10);left:rem(10);width:rem(40);height:rem(40);border-radius:rem(50);background-size:cover;}
.M.verify .mlist .mData .name{font-size:rem(14);line-height:1.5;}
.M.verify .mlist .mData .name:after{position:relative;top:rem(-1);margin-left:rem(10);padding:rem(2) rem(7);color:#FFF;font-size:rem(12);border-radius:rem(40);}
.M.verify .mlist .mData.apply .name:after{content:"发布内容";background:#000;}
.M.verify .mlist .mData .org{display:block;font-size:rem(14);line-height:1.5;color:#999;}
.M.verify .mlist .mData .time{position:absolute;top:rem(14);right:rem(10);color:#999;}
.M.verify .mlist .mData.pass .name:after{content:"审核通过";color:#FFF;background:$color_green;}
.M.verify .mlist .mData.wait{background:#F5F5F5;}
.M.verify .mlist .mData.wait .pic:before{content:'...';position:relative;top:rem(-7);width:100%;height:100%;color:#999;font:rem(30) 'Arial';@extend %center_flex;}
.M.verify .mlist .mData.wait .name:before{content:"等待管理员审核";}
.M.verify .mlist .mData.auto.wait .name:before{content:"自动审核";}
.M.verify .mlist .mData.auto.pass .name:before{content:"";}
.M.verify .mlist .mData.auto.pass .name:after{margin:0;}


@media screen and (max-width:2732px) and (-webkit-min-device-pixel-ratio:1.5) { //iPad Pro
}
@media screen and (max-width:2732px) and (orientation:landscape) and (-webkit-min-device-pixel-ratio:1.5) { // iPad Pro H 1366*1024
}
@media screen and (max-width:2048px) and (orientation:portrait) and (-webkit-min-device-pixel-ratio:1.5) { // iPad Pro V 1024*1366
}
@media screen and (max-width:2048px) and (-webkit-min-device-pixel-ratio:1.5) { // iPad
}
@media screen and (max-width:2048px) and (orientation:landscape) and (-webkit-min-device-pixel-ratio:1.5) { // iPad H 1024*768
}
@media screen and (max-width:1536px) and (orientation:portrait) and (-webkit-min-device-pixel-ratio:1.5) { // iPad V 768*1024
}
@media (min-resolution:200dpi), screen and (max-width:1440px) and (-webkit-min-device-pixel-ratio:1.5) and (orientation:portrait){ //Android 1440p 1440*2560
// @media (min-resolution:250dpi), screen and (max-width:1440px) and (-webkit-min-device-pixel-ratio:1.5) and (orientation:portrait){ //Android 1440p 1440*2560
  .P.admin .C.org .L.flex{display:block;width:auto;padding:0;}
  .P.admin .C.org .L.flex .panel{width:auto;height:rem(60);margin:rem(10);background:none;}
  .P.admin .C.org .L.flex .panel .item{display:block;justify-content:left;align-items:left;width:100%;padding-left:rem(15);}
  .P.admin .C.org .L.flex .panel .icon{float:left;}
  .P.admin .C.org .L.flex .panel .title{display:block;text-align:left;padding-top:rem(2);justify-content:left;}
  .P.admin .C.org .add .txt:before{content:"新建学校"}

  // .P.admin>.N{right:rem(10) !important;top:rem(10);}
  // .P.admin>.N>.apc-switch{top:0;right:0;width:rem(160)}
  // .P.admin > .N > .apc-switch .sw_i .txt{font-size:rem(14)}


  // .P.admin>.N>.apc-switch{display:block;position:absolute;top:rem(10);right:0;height:auto;}
  .P.admin>.N>.apc-switch .sw_i{height:rem(40);padding:0;margin-bottom:1px;}
  .C.stats .curve .apc-switch .sw,.C.stats .region .apc-switch{display:none;flex-wrap:wrap;width:rem(140);height:auto;}
  .C.stats .curve .apc-switch.c,.C.stats .region .apc-switch.c{display:flex;}

  .M.confirm .B{}
  .M.confirm .P.search .searchUser{margin-bottom:rem(40);}
  .M.confirm .P.search .L{padding:0 rem(20);}


  .P.admin.home .U{padding-top:rem(40);padding-bottom:rem(40)}
  .P.admin.home .F{width:auto;}
  .P.admin.home .C.home .flex{width:100%;min-height:auto;margin-bottom:rem(0) !important;padding-top:rem(35);}
  .P.admin.home .C.home .flex:before{padding:rem(10) rem(10) 0;font-size:rem(12);}
  .P.admin.home .C.home .flex.count{padding:rem(10) rem(10) 0;}
  .P.admin.home .C.home .flex.count:before{display:none;}
  .P.admin.home .C.home .flex .panel{width:33.33%;height:rem(110);background:none;}
  .P.admin.home .C.home .flex .panel .icon{width:rem(40);height:rem(40);margin:0 auto;padding:rem(10);}
  .P.admin.home .C.home .flex .panel .title{margin-top:rem(5);font-size:rem(14);letter-spacing:0;}

  .P.admin.home .C.home .flex.updates{padding:rem(35) rem(10) rem(10);}
  .P.admin.home .C.home .flex.updates .panel{width:100%;height:auto;padding:rem(10);}
  .P.admin.home .C.home .flex.updates .panel .title{display:block;height:rem(40);margin:0;padding:0 0 0 rem(60);text-align:left;line-height:1.5;white-space:normal;font-size:rem(14)}
  .P.admin.home .C.home .flex.updates .panel .title .status{position:absolute;top:rem(9);left:rem(10);width:rem(50);padding:rem(2) rem(5);font-size:rem(10)}


  .P.admin.home .C.home .flex.shortcut{padding:rem(35) rem(10) rem(10);}
  .P.admin.home .C.home .flex.shortcut .panel{width:50%;height:rem(60);}
  .P.admin.home .C.home .flex.shortcut .panel .title{padding-right:rem(10);font-size:rem(14)}

  .P.admin.home .C.home .flex.func{padding:rem(35) rem(10) rem(10);}
  .A>.N{display:none;}

}
@media screen and (max-width:1080px) and (-webkit-min-device-pixel-ratio:1.5){ // Android 1080p 1080*1920
}
@media screen and (max-width:828px) and (-webkit-min-device-pixel-ratio:1.5){ // iPhone6+ 414
}
@media screen and (max-width:786px) and (-webkit-min-device-pixel-ratio:1.5){ //
}
@media screen and (max-width:768px) and (-webkit-min-device-pixel-ratio:1.5){ //iPad
}
@media screen and (max-width:750px) and (-webkit-min-device-pixel-ratio:1.5){ // iPhone6 375
}
@media screen and (max-width:720px) and (-webkit-min-device-pixel-ratio:1.5){ // Android 720p 720*1280
}
@media screen and (max-width:640px) and (-webkit-min-device-pixel-ratio:1.5){ // iPhone5 320
}
