
@import "variable";


// .P>.H{position:absolute;top:0;left:0;width:100%;height:rem(60);padding:rem(20);}
// .P>.H>.txt{font-size:rem(20);}
.P.file.video .list .H>.txt:before{content:"选择视频"}
.P.file.video .form .H>.txt:before{content:"上传视频"}
.P.file.cover .list .H>.txt:before{content:"选择封面"}
.P.file.cover .form .H>.txt:before{content:"上传封面"}
.P.file.banner .list .H>.txt:before{content:"选择背景"}
.P.file.banner .form .H>.txt:before{content:"上传背景"}
.P.file.poster .list .H>.txt:before{content:"选择海报"}
.P.file.poster .form .H>.txt:before{content:"上传海报"}
.P.file.attachment .list .H>.txt:before{content:"选择附件"}
.P.file.attachment .form .H>.txt:before{content:"上传附件"}
.P.file.test .list .H>.txt:before{content:"选择练习"}
.P.file.test .form .H>.txt:before{content:"新建练习"}
.P.file.test.vote .list .H>.txt:before{content:"选择问卷"}
.P.file.test.vote .form .H>.txt:before{content:"新建问卷"}


.M.file .B{opacity:1 !important;height:85%;}
.M.file .P>.H{background:rgba(255,255,255,.95);}
.M.file .P .H>.txt{display:inline;}

// .M.file .head .txt{font-size:rem(24);}

.M .P.file .H .doc{position:absolute;top:rem(9);left:rem(90);width:rem(40);height:rem(40);margin-left:rem(20);padding:rem(5);}
.M .P.file .H .doc u{display:block;padding:rem(5);background:#fff;fill:#DDD;border-color:#FFF;border-radius:rem(40);}
.M .P.file .H .doc:active u{background:#ff7f00;fill:#FFF;}

.M .P.file .N{position:absolute;top:0;left:0;width:100%;}
.M .P.file .N .switch{position:absolute;top:rem(10);right:rem(10);width:rem(400);}
.M .P.file .N .switch a{padding-top:rem(5)}
.M .P.file .N .input{z-index:10;width:rem(300);margin:0 auto;padding-top:rem(4);}
/*
.P.file .U:before { display:none; }
.P.file .P { height:700px; }
.P.file .P .H { left:0;width:auto;margin:0;padding:0 20px; }
.P.file .P .L { width:auto;height:100%; }*/
// .P.file .switch a { width:75px; }
// .P.file .switch u{ left:50%;margin-left:-10px; }
// .P.file .P { height:80%; }



.P.file .C { position:absolute;width:100%;}
// .P.file .C .H{position:absolute;top:0;left:0;width:100%;height:rem(60);padding:rem(20);}
// .P.file .C .H>.txt{font-size:rem(20);}
// .M.file .C .U{padding-top:rem(60);}
.P.file .C .f:hover input{ opacity:.9; }
// .P.file .L .input { float:none;width: auto; min-height: rem(235); padding: 0; border: 0; background: none; }
// .P.file .L .input:before { display:none; }
.P.file .file .f { position:relative;float:left;width:rem(200);height:rem(200);margin:rem(10) rem(20) rem(10) 0;background-size:cover;background-position:center;background-repeat:no-repeat;transition:transform .4s;@extend %center_flex; }
.P.file .file .f img{width:100%;height:100%;}
.P.file .C.cover .file .f{ width:rem(125);height:rem(187.5);margin:rem(10); }
.P.file .C.video .file .f{ width:rem(320);height:rem(180);width:rem(215);height:rem(121);margin:rem(10);box-shadow:0 0 2px #DDD; }
.P.file .C.banner .file .f{width:rem(380);height:rem(114);margin:rem(10);} // 10:3 长宽比例
.P.file .C.poster .file .f{width:rem(150);height:rem(270);margin:rem(10);} // 10:3 长宽比例
.P.file .C.attachment .file .f{width:rem(150);height:rem(150);margin:rem(10);padding:rem(10);border-radius:rem(3);border:1px solid #EEE;background:#F5F5F5;} // 10:3 长宽比例
.P.file .C.attachment.list .file .f{display:block;width:rem(150);height:rem(150);margin:rem(10);padding:rem(10);border-radius:rem(3);border:1px solid #EEE;background:#F5F5F5;} // 10:3 长宽比例
.P.file .C.attachment .file .f .icon{display:block;width:rem(70);height:rem(70);margin:0 auto;padding:rem(10);}
.P.file .C.attachment .file .f .fn{display:block;text-align:center;line-height:1.5;}
.P.file .C.attachment .file .f .n{display:block;font-size:rem(12);line-height:2;text-align:center;color:#999;}
.P.file .C.attachment .file .f .n:before{content:"size: ";}
.P.file .C.video .file .f .rename{opacity:1;position:absolute;bottom:50%;left:50%;transform:translate(-50%,50%);cursor:pointer;}
.P.file.cover .C .file .f .rename{bottom:rem(0);left:0;transform:none;cursor:pointer;}
.P.file .C.test .file .f{width:rem(580);height:rem(52);margin:rem(10);border:1px solid #EEE;background:#F5F5F5;} // 10:3 长宽比例

.P.file .apc-toast{width:rem(180);height:rem(30);margin:rem(-15) 0 0 rem(-90);text-align:center;border-radius:rem(30);background:#E60000;animation:oI 1s,iF 1s,oO 2s 1s,iB 2s 1s;}
.P.file .apc-toast .icon{position:absolute;top:0;left:0;width:rem(30);height:rem(30);fill:#FFF;}
.P.file .apc-toast .txt{height:rem(30);font-size:rem(12);color:#FFF;line-height:rem(30);}
.P.file .C.video.list .file .f .apc-toast .txt:before{content:"已被使用，不能删除"}

// .P.file .C.cover .f{ width:rem(100);height:rem(150);margin:10px; }
.P.file .C.illustration .file .f{ width:rem(500);height:rem(210);border:0; }
.P.file .C.illustration .file .add{width:rem(210);height:rem(210);}
.P.file .C .file .ff{cursor:pointer;position:relative;float:left;width:rem(275);height:rem(60);margin:rem(10);border:1px solid #DDD;}
.P.file .C .file .ff.add{border:0;}
// .P.file .C .ff.vl,.P.file .C.audio .ff.al{border-color:#AAD010;}
// .P.file .C .ff.vm{border-color:#2A8BBE;}
// .P.file .C .ff.vs,.P.file .C.audio .ff.as{border-color:#FF7F00;}
.P.file .C .file .ff.vl.c,.P.file .C.audio .file .ff.al.c{background:#AAD010;}
.P.file .C .file .ff.vm.c{background:#2A8BBE;}
.P.file .C .file .ff.c{}
.P.file .C .file .ff.vs.c,.P.file .C.audio .ff.as.c{background:#FF7F00;}
.P.file .C .file .ff.c{color:#FFF;border-color:transparent;background:$color_one;}
.P.file .C .file .ff.c path{fill:#FFF;}
.P.file .C .file .ff>u{position:absolute;top:rem(10);left:rem(10);width:rem(20);height:rem(20);}
.P.file .C .file .ff>i{position:absolute;top:rem(12);left:rem(40);font-size:rem(18);}
.P.file .C .file .file~.text{display:inline-block;width:rem(300);}
// .P.file u.bar { top: 50%; }
.P.file .file .f .add { width:100%;height:100%;border:1px dashed #DDD;box-shadow:0 0 0 !important;background:none;@extend %center_flex; }
.P.file .C.attachment .add:hover{outline:0 !important;box-shadow:0 0 0 !important;}
.P.file .C.attachment .add .icon{display:block;/*width:rem(75);*/height:auto;fill:$color_one;}
.P.file .C.attachment .add .icon svg{display:block;width:rem(50);height:rem(50);margin:0 auto;}
.P.file .C.attachment .add .icon:after{content:"添加文件";display:block;position:relative;top:rem(-5);left:0;width:100%;font-size:rem(16);letter-spacing:rem(2);text-align:center;fill:$color_one;}
.P.file .test .f .add{padding-top:rem(2);border:0;}
.P.file .test .add .icon{width:auto;}
.P.file .test .add .icon svg{display:inline-block;width:rem(40);height:rem(40);}
.P.file .test .add .icon:after{display:inline-block;top:rem(-13);width:auto;font-size:rem(18);}
.P.file .video .add u:after{content:"添加视频"}
.P.file .image .add u:after{content:"添加图片"}
.P.file .audio .add u:after{content:"添加音频"}
.P.file .cover .add u:after{content:"添加封面"}
.P.file .banner .add u:after{content:"添加背景"}
.P.file .poster .add u:after{content:"添加海报"}
.P.file .test .add u:after{content:"新建练习"}
.P.file .test.vote .add u:after{content:"新建问卷"}
.P.file .C.attachment .file .f.add{padding:0;border:0;background:none}
.P.file .C.attachment .file .add .icon{display:block;width:rem(80);height:rem(80);margin-bottom:rem(30);padding:0;}
.P.file .C.attachment .file .add .icon:after{top:0;content:"添加文档";font-size:rem(16)}
.P.file .C.attachment .file .add .icon svg{width:rem(80);height:rem(80);}
.P.file .C.attachment .file .add u:after{content:"添加文档";}
.P.file .C.attachment .add:active{background:$color_one;border-color:transparent}
.P.file .C.attachment .add:active u{fill:#FFF;color:#FFF;}

.P.file .C .file .ff .add u{width:rem(150);height:rem(50);}
.P.file .C .file .ff .add u:after{bottom:rem(18);padding-left:rem(20);font-size:rem(20);}
.P.file .C .file .ff .add u svg{height:100%;}
// .P.file .C.attachment .add:before, .P.file .C.attachment .add:after { content: ''; position: absolute; background: #CCC; }
// .P.file .C.attachment .add:before{top:50%;left:50%;width: rem(50);height: rem(10);margin:rem(-5) 0 0 rem(-25) }
// .P.file .C.attachment .add:after{top:50%;left:50%;width: rem(10);height: rem(50);margin:rem(-25) 0 0 rem(-5) }
.P.file .rename{opacity:0;position:absolute;bottom:0;left:0;width:100%;font-size:18px;text-align:center;border:0;border-radius:0;background:#FFF !important;transition:opacity .4s;}
.P.file .zoom{display:none;position:absolute;top:0;left:0;width:rem(40);height:rem(40);}
.P.file .zoom u{display:block;width:rem(18);height:rem(18);margin:rem(11);}
.P.file .zoom path{fill:#999}
.P.file .zoom:hover path{fill:#AAD010}
.P.file .apc-bar{position:absolute;width:200%;left:-50%;bottom:rem(-30)}
.P.file .apc-bar .touch{display:none;}
.P.file .apc-bar>b.target{top:rem(-9);right:rem(-35);}
.P.file .x1{top:-17px;right:-17px;border-radius:40px;background:#000;transform:scale(0);transition:all .4s;}
.P.file .x1:hover u:before,.P.file .x1:hover u:after{background:#FFF;}
.P.file .btn.list{clear:none;background:#AAD010;}

.P.file .P { height:rem(600); }
.P.file .C.list .file { width:rem(1200);margin:rem(50) auto 0;padding:rem(20) 0 0; }
.P.file .C.list .file:after { content:'';display:block;position:relative;overflow:visible;clear:left; }
// .P.file .C.cover .f { height:225px; }
.P.file .C.illustration .file { width:880px; }
.P.file .C.illustration .file .f { width:200px;height:84px;margin:10px; }
.P.file>.C .file .f:hover { cursor:pointer;box-shadow:0 0 rem(20) #DDD;background-color:#FFF/* transform:scale(1.05);  */}
.P.file .C .file .f:hover .x1 { transform:scale(.6); }
.P.file .C .file .f:hover .x1:hover{background:#E60000;}

.P.file .C.list .mo{display:block;position:relative;width:rem(1200);margin:0 auto;}
.P.file .C.list .mo i{display:inline-block;padding:rem(12) rem(10);font-size:rem(16);color:#999;}
.P.file .C.list .mo .prev,.P.file .C.list .mo .next{position:absolute;top:0;right:0;width:rem(40);height:rem(40);border:1px solid transparent;border-radius:rem(50);background:rgba(255,255,255,.75);}
.P.file .C.list .mo .prev{right:rem(50);}
.P.file .C.list .mo .prev u,.P.file .C.list .mo .next u{display:block;width:rem(40);height:rem(40);padding:rem(10);transform:rotate(90deg);fill:$color_one;}
.P.file .C.list .mo .prev u{transform:rotate(-90deg)}
.P.file .C.list .mo .prev:active,.P.file .C.list .mo .next:active{background:$color_one;}
.P.file .C.list .mo .prev:active u,.P.file .C.list .mo .next:active u{fill:#FFF;}
// .P.file a.submit{display:inline-block;width:rem(120);margin-left:rem(10);padding:rem(10) 0 rem(10) rem(2);text-align:uc;letter-spacing:rem(2);font-size:rem(20);color:#FFF;border-radius:rem(3);background:$color_one;}
// .P.file a.prev u,.P.file a.next u{position:absolute;top:50%;left:50%;width:16px;height:16px;margin:-8px 0 0 -4px;border:solid $color_one;border-width:3px 0 0 3px;border-radius:0;transform:rotate(-45deg);}
// .P.file a.next u{margin-left:-12px;transform:rotate(135deg);}

// .P.file .o{position:absolute;bottom:0;left:0;width:100%;height:rem(80);text-align:uc;background:rgba(255,255,255,.95)}
// .P.file .o .apc-btn{display:inline-block;width:auto;margin:rem(15);padding:rem(15) rem(30);}

.P.file .C.form .L{height:100%;}
.P.file .C.form .file{position:absolute;top:60%;left:0;width:100%;text-align:center;transform:translate(0,-50%);}
.P.file .C.form .file>div{float:none;display:inline-block;}
.P.file .C.form .file>div:hover{outline:0;box-shadow:0 0 0;}
.P.file.book .C.form.cover .file .add{ width:rem(125);height:rem(187.5);border:1px dashed #DDD;}
.P.file .C.form.cover .file .add:active{border:0;}

.P.file .C.form .file>.mo{display:block;text-align:center;}
.P.file .C.form a.back,.P.file .C.form a.upload{display:inline-block;width:rem(120);margin:rem(50) rem(20) rem(10);padding-left:rem(2);letter-spacing:rem(2);font-size:rem(20);color:#FFF;border-radius:rem(3);background:#CCC}
.P.file .C.form a.upload{color:#FFF;background:$color_one;}


/**/
.M.file.confirm .B{height:rem(430);}
.M.file.clip .B{height:rem(650);}
.M.file.banner .B{height:rem(550);}
.M.file.attachment .B{height:rem(450);}


@media screen and (max-width:2732px) and (-webkit-min-device-pixel-ratio:1.5) { //iPad Pro
}
@media screen and (max-width:2732px) and (orientation:landscape) and (-webkit-min-device-pixel-ratio:1.5) { // iPad Pro H 1366*1024
}
@media screen and (max-width:2048px) and (orientation:portrait) and (-webkit-min-device-pixel-ratio:1.5) { // iPad Pro V 1024*1366
}
@media screen and (max-width:2048px) and (-webkit-min-device-pixel-ratio:1.5) { // iPad
}
@media screen and (max-width:2048px) and (orientation:landscape) and (-webkit-min-device-pixel-ratio:1.5) { // iPad H 1024*768
}
@media screen and (max-width:1536px) and (orientation:portrait) and (-webkit-min-device-pixel-ratio:1.5) { // iPad V 768*1024
  .M.file .B{height:100%;}
  // .M.file .H{display:none;}
  .M.file .C .U{padding:0;}
}
@media (min-resolution:200dpi), screen and (max-width:1440px) and (-webkit-min-device-pixel-ratio:1.5) and (orientation:portrait){ //Android 1440p 1440*2560
// @media (min-resolution:250dpi), screen and (max-width:1440px) and (-webkit-min-device-pixel-ratio:1.5) and (orientation:portrait){ //Android 1440p 1440*2560
  .M.file.confirm .B{height:90%;}
  .M.file.clip .B{height:100%;}

  .P.file .H{height:rem(60);background:rgba(255,255,255,.95)}
  .iPhone .P.file .H,.iPad .P.file .H,.Mac .P.file .H{border:0;background:rgba(255,255,255,.5);-webkit-backdrop-filter:saturate(180%) blur(rem(20));backdrop-filter:saturate(180%) blur(rem(20));}
  .P.file .C.list .file{width:100%;padding:rem(20) 0 0;}
  .P.file .C.video .file .f{width:rem(145);height:rem(82);margin:0 0 rem(10) rem(10);}
  .P.file .C.form .file .f{width:rem(280);height:rem(158);margin:rem(20);}
  .P.file .C.attachment .add .icon:after{font-size:rem(12)}

  .P.file .C.list .mo{display:none;}
  .P.file .C.form .file{position:relative;top:0;left:0;height:100%;transform:none;display:flex;justify-content:center;align-items: center;}
  .P.file .C.form .file .mo{display:flex;position:absolute;bottom:0;left:0;width:100%;height:rem(60);}
  .P.file .C.form .file .mo .apc-btn{display:flex;flex-grow:1;height:rem(40);margin:rem(10);padding:0;background:none;}
  .P.file .C.form .file .mo .apc-btn.back{color:#999;}
  .P.file .C.form .file .mo .apc-btn.upload{color:$color_one;}
  .P.file .C.form .file .mo .apc-btn.back:active{color:#FFF;background:#999;}
  .P.file .C.form .file .mo .apc-btn.upload:active{color:#FFF;background:$color_one;}

  .P.file .apc-bar{width:100%;left:0;border:0;}
  .P.file .C.form .file .f .rename{display:none;}
}
@media screen and (max-width:1080px) and (-webkit-min-device-pixel-ratio:1.5){ // Android 1080p 1080*1920
}
@media screen and (max-width:828px) and (-webkit-min-device-pixel-ratio:1.5){ // iPhone6+ 414
}
@media screen and (max-width:786px) and (-webkit-min-device-pixel-ratio:1.5){ //
}
@media screen and (max-width:768px) and (-webkit-min-device-pixel-ratio:1.5){ //iPad
}
@media screen and (max-width:750px) and (-webkit-min-device-pixel-ratio:1.5){ // iPhone6 375
}
@media screen and (max-width:720px) and (-webkit-min-device-pixel-ratio:1.5){ // Android 720p 720*1280
}
@media screen and (max-width:640px) and (-webkit-min-device-pixel-ratio:1.5){ // iPhone5 320
}


