
@import "variable";

.C.vip .mlist.card{overflow:hidden;padding:0;}
.C.vip .mCard{float:left;width:rem(320);height:rem(180);margin:rem(30);border-radius:rem(10);background:#F5F5F5;}
.C.vip .mCard.add .add{width:100%;height:100%;border:1px solid #DDD;background:#FFF;@extend %center_flex;}
.C.vip .mCard.add .add .icon{display:block;width:rem(80);height:rem(100);fill:$color_one;}
.C.vip .mCard.add .add .txt:before{content:"新建会员卡";position:absolute;top:50%;left:0;width:100%;height:rem(20);margin-top:rem(20);text-align:center;font-size:rem(16);}
// .C.vip .mCard .pic{overflow:hidden;position:absolute;top:0;left:0;width:100%;height:100%;border-radius:rem(10);background-size:cover;background-position:center;background-repeat:no-repeat;}
// .C.vip .mCard .name{display:flex;align-items:center;position:absolute;top:rem(20);left:0;width:100%;height:rem(40);padding-left:rem(20);font-size:rem(16);color:#FFF;background:rgba(0,0,0,.75)}
// .C.vip .mCard .type{display:flex;align-items:center;position:absolute;top:rem(20);right:0;width:auto;height:rem(40);padding-right:rem(20);font-size:rem(12);color:#FFF;text-align:right;}

.C.vip .L{overflow:hidden;padding:rem(80) rem(60);}
.C.vip .mlist.card{overflow:visible;height:100%;}
.C.vip .mCard{width:33.33%;margin:0;height:rem(420);padding:rem(20);border-radius:0;background:none}
.C.vip .mCard .name{display:flex;align-items:center;position:relative;top:0;left:0;width:rem(320);height:rem(40);margin:rem(20) auto 0;padding-left:rem(20);font-size:rem(18);}
.C.vip .mCard .summary{width:rem(320);margin:0 auto;padding:0 rem(20);line-height:2;color:#666;font-size:rem(14);}
.C.vip .mCard .pic{overflow:hidden;position:relative;width:rem(320);height:rem(180);margin:0 auto;border-radius:rem(10);-webkit-box-reflect:below 1px -webkit-gradient(linear,0% 0%, 0% 100%,from(transparent), color-stop(0.9, transparent), to(rgba(255,255,255,0.2)));}
.C.vip .mCard .pic .img{width:100%;height:100%;background-position:center;background-repeat:no-repeat;background-size:cover;}
.C.vip .mCard .price,.C.vip .mCard .price,.C.vip .mCard .sales,.C.vip .mCard .start,.C.vip .mCard .end,.C.vip .mCard .use{width:rem(320);margin:rem(10) auto;padding:0 rem(20);color:#666;font-size:rem(14);}
.C.vip .mCard .create{width:rem(320);margin:rem(10) auto rem(10);padding:0 rem(20);font-size:rem(14);color:#666}
.C.vip .mCard .create:before{content:"创建：";font-size:rem(12)}
.C.vip .mCard .price:before{content:"定价：";font-size:rem(12)}
.C.vip .mCard .sales:before{content:"销售：";font-size:rem(12)}
.C.vip .mCard .start:before{content:"开始时间：";font-size:rem(12)}
.C.vip .mCard .end:before{content:"结束时间：";font-size:rem(12)}
.C.vip .mCard .use:before{content:"使用情况：";font-size:rem(12)}
.C.vip .mCard .price .cb_i{display:inline-block;position:relative;top:rem(1);width:auto;margin-right:rem(10);}
// .C.vip .mCard .price .cb_i.c{background:rgba(255,255,255,.5);}
.C.vip .mCard .price .cb_i .icon{left:rem(15);width:rem(15);height:rem(15);}
.C.vip .mCard .price .cb_i .txt{padding:0;font-size:rem(14);color:#666;}
.C.vip .mCard .price .cb_i .txt:before{position:relative;top:rem(-1);font-size:rem(12);padding-right:rem(5)}
.C.vip .mCard .price .monthly .txt:before{content:"月卡 ("}
.C.vip .mCard .price .seasonal .txt:before{content:"季卡 ("}
.C.vip .mCard .price .yearly .txt:before{content:"年卡 ("}
.C.vip .mCard .use .n{font-size:rem(14)}
.C.vip .mCard .use .n:before{padding-right:rem(5);font-size:rem(12)}
.C.vip .mCard .use .n:after{padding-left:rem(5);font-size:rem(12)}
.C.vip .mCard .use .times:before{content:"使用了"}
.C.vip .mCard .use .times:before{content:"使用了"}
.C.vip .mCard .use .times:after{content:"次，"}
.C.vip .mCard .use .save:before{content:"节约了"}
.C.vip .mCard .use .save:after{content:"新芽币"}
.C.vip .mCard .price .cb_i .txt:after{content:" ";font-size:rem(10);padding-left:rem(2)}
.C.vip .mCard .price .cb_i:after{content:" )";position:relative;top:rem(-1);font-size:rem(12);padding-left:rem(2);}

// .C.vip .apc-switch{position:absolute;top:rem(20);left:0;padding:0 rem(20)}

.M.pay .C.vip .L{padding:0;}
.M.pay .mCard .pic{width:rem(240);height:rem(135);}
.M.pay .C.vip .mlist.card{width:rem(900);width:rem(1160);padding-top:rem(90)}
.M.pay .C.vip .mlist.card .mCard{width:rem(350);height:100%;padding:0 0 0 rem(30);}
.M.pay .C.vip .mlist.card .mCard .pic{width:rem(240);height:rem(135);margin:0;}
.M.pay .C.vip .mlist.card .mCard .price:before{display:none;}
.M.pay .C.vip .mlist.card .mCard .price .cb_i{width:100%;padding-left:rem(35);border-top:1px solid #EEE;}
.M.pay .C.vip .mCard .price .cb_i:last-child{border-bottom:1px solid #EEE;}
.M.pay .C.vip .mlist.card .mCard .price .cb_i .txt{padding-top:rem(3);font-size:rem(18);}
.M.pay .C.vip .mlist.card .mCard .price .cb_i .txt:before{font-size:rem(12)}
.M.pay .C.vip .mlist.card .mCard .price .cb_i .txt:after{content:" 新芽币";}
.M.pay .C.vip .mlist.card .mCard .price .cb_i:after{font-size:rem(12)}
@media screen and (max-width:2732px) and (-webkit-min-device-pixel-ratio:1.5) { //iPad Pro
}
@media screen and (max-width:2732px) and (orientation:landscape) and (-webkit-min-device-pixel-ratio:1.5) { // iPad Pro H 1366*1024
}
@media screen and (max-width:2048px) and (orientation:portrait) and (-webkit-min-device-pixel-ratio:1.5) { // iPad Pro V 1024*1366
}
@media screen and (max-width:2048px) and (-webkit-min-device-pixel-ratio:1.5) { // iPad
}
@media screen and (max-width:2048px) and (orientation:landscape) and (-webkit-min-device-pixel-ratio:1.5) { // iPad H 1024*768
}
@media screen and (max-width:1536px) and (orientation:portrait) and (-webkit-min-device-pixel-ratio:1.5) { // iPad V 768*1024
}
@media (min-resolution:200dpi), screen and (max-width:1440px) and (-webkit-min-device-pixel-ratio:1.5) and (orientation:portrait){ //Android 1440p 1440*2560
// @media (min-resolution:250dpi), screen and (max-width:1440px) and (-webkit-min-device-pixel-ratio:1.5) and (orientation:portrait){ //Android 1440p 1440*2560
}
@media screen and (max-width:1080px) and (-webkit-min-device-pixel-ratio:1.5){ // Android 1080p 1080*1920
}
@media screen and (max-width:828px) and (-webkit-min-device-pixel-ratio:1.5){ // iPhone6+ 414
}
@media screen and (max-width:786px) and (-webkit-min-device-pixel-ratio:1.5){ //
}
@media screen and (max-width:768px) and (-webkit-min-device-pixel-ratio:1.5){ //iPad
}
@media screen and (max-width:750px) and (-webkit-min-device-pixel-ratio:1.5){ // iPhone6 375
}
@media screen and (max-width:720px) and (-webkit-min-device-pixel-ratio:1.5){ // Android 720p 720*1280
}
@media screen and (max-width:640px) and (-webkit-min-device-pixel-ratio:1.5){ // iPhone5 320
}


