
@import "variable";

// .C.stats .N{z-index:1;top:auto;bottom:rem(0);height:rem(80);background:rgba(245,245,245,.95);}
// .C.stats .N .apc-switch{margin:rem(20) auto;}
// .C.stats .N .apc-switch .curve:before{content:""}
.C.stats .U{overflow:auto;}
.C.stats .map .apc-country{width:rem(800);margin:0 auto;}
.C.stats .map .icon{display:block;}
.C.stats .map path{fill:#DDD;stroke:#DDD;stroke-width:.5px;}
//.C.stats .map path:first-child{stroke-width:0;fill:#F5F5F5}
.C.stats .map path.c{fill:$color_green;}
.C.stats .map path:hover{cursor:pointer;stroke:#FF7F00;stroke-width:1px;}
//.C.stats .map path:first-child:hover{fill:transparent;stroke-width:0;}
.C.stats .L{padding:rem(60) 0;}
.C.stats .panel{position:relative;display:block;padding:0 rem(75);border:solid transparent;border-width:rem(30) 0;}
.C.stats .panel .label{position:relative;float:left;margin:rem(10) 0 rem(30);padding:rem(10) rem(20);font-size:rem(16);transition:all .4s;}
.C.stats .panel .label .tp{display:none;}
.C.stats .panel .label:before{content:"";position:absolute;top:rem(17);left:0;width:rem(7);height:rem(7);border-radius:rem(10);background:#000;}
.C.stats .panel .apc-switch{z-index:10;top:rem(4);float:left;width:auto;height:rem(30);margin:rem(12) 0 rem(30);border-radius:rem(5);transition:all .4s;background:#F5F5F5;}
.C.stats .panel .sw_i{padding:0 rem(20);font-size:rem(12);}
// .C.stats .panel a.sw_i.c{background:#F5F5F5}
.C.stats .panel a.today:before{content:"今天"}
.C.stats .panel a.week:before{content:"本周"}
.C.stats .panel a.month:before{content:"本月"}
.C.stats .panel a.all:before{content:"累计"}
.C.stats .panel a.income:before{content:"收入"}
.C.stats .panel a.buyer:before{content:"购买"}
.C.stats .panel a.view:before{content:"访问"}
.C.stats .panel a.play:before{content:"播放"}
.C.stats .panel a.time:before{content:"时长"}
.C.stats .panel a.opinion:before{content:"发言"}
.C.stats .panel a.share:before{content:"分享"}
.C.stats .panel a.ip:before{content:"IP"}
.C.stats .panel a.user:before{content:"登录"}
.C.stats .panel a.live:before{content:"在线"}
.C.stats .panel a.reg:before{content:"注册"}
.C.stats .panel>.data{clear:left;transition:all .4s;@extend %clearfloat;}

.C.stats .L .panel .range{position:relative;top:rem(4);float:left;width:rem(400);margin:rem(12) rem(10) rem(30) rem(20);}
.C.stats .L .panel .range .apc-input{float:left;width:rem(110);margin:0 rem(10);}
.C.stats .L .panel .range .apc-input .label{display:none;}
.C.stats .L .panel .range .apc-btn{position:relative !important;float:left;width:rem(60);height:rem(30);margin:0 rem(10);padding:0;color:#FFF;letter-spacing:0;font-size:rem(14);background:$color_one;}
.C.stats .L .panel .range .apc-btn:before{content:"查询";}
.C.stats .L .panel .range .apc-btn.d{background:#999;}
// .C.stats .L .panel .range .apc-btn:{background:#999;}

.C.stats .panel.c .label,.C.stats .panel.c>.apc-switch,.C.stats .panel.c>.range,.C.stats .panel.c .data{filter:blur(10px)}
.C.stats .panel>.source.ready{opacity:0;transform:scale(.9);}
.C.stats .panel>.source .B{height:100%;background:none;}
.C.stats .panel>.source.ready .apc-pie{opacity:0;transform:translate3d(0,0,300px) rotate(-180deg);}
.C.stats .panel>.source.ready .item{opacity:0;transform:translate(0,100px)}
.C.stats .panel>.source{top:0;left:0;height:100%;background:none;transition:all .4s;-webkit-perspective:1000;-webkit-perspective-origin:50% 50%;}
.C.stats .panel>.source .apc-pie{position:absolute;top:50%;left:50%;width:rem(400);height:rem(400);margin:rem(-160) 0 0 rem(-450);transition:all 2s}
.C.stats .panel>.source .apc-pie canvas{width:100%;height:100%;}
.C.stats .panel>.source .list{position:absolute;top:50%;left:50%;width:rem(450);height:rem(350);margin:rem(-135) 0 0 rem(0);}
// .C.stats .panel>.source .title{position:absolute;top:rem(-50);left:0;width:100%;text-align:center;font-size:rem(30);line-height:2}
.C.stats .panel>.source .H{font-size:rem(24);line-height:2;background:none;}
.C.stats .panel>.source .H .n:before{margin-right:rem(10);}
.C.stats .panel>.source .H .n:after{margin-left:rem(10);}
.C.stats .panel>.source.today .H .n:before{content:"今天"}
.C.stats .panel>.source.all .H .n:before{content:"累计"}
.C.stats .panel>.source.income .H .n:before{content:"累计收入"}
.C.stats .panel>.source.income .H .n:after{content:"新芽币"}
.C.stats .panel>.source.buyer .H .n:after{content:"人购买"}
.C.stats .panel>.source.reserve .H .n:after{content:"人预约"}
.C.stats .panel>.source.view .H .n:after{content:"次访问"}
.C.stats .panel>.source.play .H .n:after{content:"次播放"}
.C.stats .panel>.source.duration .H .n:after{content:"分钟"}
.C.stats .panel>.source.opinion .H .n:after{content:"条发言"}
.C.stats .panel>.source.share .H .n:after{content:"次分享"}
.C.stats .panel>.source.ip .H .n:after{content:"次 IP 访问"}
.C.stats .panel>.source.user .H .n:after{content:"次登录"}
.C.stats .panel>.source.live .H .n:after{content:"次观看直播"}
.C.stats .panel>.source.reg .H .n:after{content:"人新注册"}
.C.stats .panel>.source.reproduce .H .n:after{content:"次转载"}
// .C.stats .panel>.source .H:after{display:block;font-size:rem(14);color:#E60000;content:"（来源为次数统计，不去重复）";letter-spacing:rem(1);}
.C.stats .panel>.source .H .n{float:left;font-size:inherit;padding:0 rem(10)}
.C.stats .panel>.source .H .apc-switch{top:rem(2);float:left;margin:0 0 0 rem(10);}
.C.stats .panel>.source .H .apc-switch .source .txt:before{content:"来源分布"}
.C.stats .panel>.source .H .apc-switch .rank .txt:before{content:"用户排行"}
.C.stats .panel>.source .C{display:flex;padding:rem(60) rem(80) 0 rem(80);background:rgba(255,255,255,.95);}
.C.stats .panel>.source .mlist{overflow:auto;width:20%;margin:0 5% 0 0;padding:0 rem(10);display:flex;flex-direction:column;}
.C.stats .panel>.source .mlist .item{float:left;width:100%;height:rem(40);min-height:rem(40);padding:0;border:0;}
.C.stats .panel>.source .mlist .item:hover{border:0;}
// .C.stats .panel>.source .mlist .item:last-child{border-bottom:1px solid #DDD;}
.C.stats .panel>.source .mlist .item .td{height:rem(40);}
.C.stats .panel>.source .list .item{position:relative;height:rem(50);padding-left:rem(30);@extend %center_flex;transition:all .4s}
.C.stats .panel>.source .list .item:nth-child(1){transition-delay:100ms}
.C.stats .panel>.source .list .item:nth-child(2){transition-delay:200ms}
.C.stats .panel>.source .list .item:nth-child(3){transition-delay:300ms}
.C.stats .panel>.source .list .item:nth-child(4){transition-delay:400ms}
.C.stats .panel>.source .list .item:nth-child(5){transition-delay:500ms}
.C.stats .panel>.source .list .item:nth-child(6){transition-delay:600ms}
.C.stats .panel>.source .list .item:nth-child(7){transition-delay:700ms}
.C.stats .panel>.source .list .item:nth-child(8){transition-delay:800ms}
// .C.stats .panel>.source .list .item:first-child{border-top:1px solid #EEE;}
.C.stats .panel>.source .list .item .icon{position:absolute;top:0;left:0;width:rem(50);height:rem(50);padding:rem(15)}
.C.stats .panel>.source .list .item.alipay .icon{padding:rem(16)}
.C.stats .panel>.source .list .item.qq .icon{padding:rem(17)}
.C.stats .panel>.source .list .item.web .icon{padding:rem(16)}
.C.stats .panel>.source .apc-bar{height:1px!important;border-width:0 rem(20)!important;background:none;}
.C.stats .panel>.source .apc-bar .cur:before{display:none;}
.C.stats .panel>.source .apc-bar b.cur{top:rem(-9);right:rem(-20);color:#666;font-size:rem(16)}
.C.stats .panel>.source .apc-bar .target{display:none;}
.C.stats .panel>.source .dd .apc-bar i.cur{background:#3296fa;}
.C.stats .panel>.source .alipay .apc-bar i.cur{background:#1E95D4;}
.C.stats .panel>.source .wechat .apc-bar i.cur{background:#B2E34B;}
.C.stats .panel>.source .toutiao .apc-bar i.cur{background:#E0470E;}
.C.stats .panel>.source .weibo .apc-bar i.cur{background:#D52B2A;}
.C.stats .panel>.source .qq .apc-bar i.cur{background:#14BAF8;}
.C.stats .panel>.source .web .apc-bar i.cur{background:#E44C27;}

.C.stats .panel>.source .close{position:absolute;top:rem(-25);right:0;width:rem(50);height:rem(50);}

.C.stats .panel>.source .table{width:100%;margin:0 auto;}
.C.stats .panel>.source .table .th .td.object:after{content:"购买内容"}
.C.stats .panel>.source .table .th .td.coin .pay:after{content:"支付金额"}
.C.stats .panel>.source .table .th .td.coin .original:after{content:"原价"}
.C.stats .panel>.source .table .th .td.time .pay:after{content:"支付时间"}
.C.stats .panel>.source .table .th .td.time .order:after{content:"下单时间"}
.C.stats .panel>.source .table .th .td.user:after{content:"学员"}

.C.stats .panel>.source .table .td .pay{font-size:inherit;}
.C.stats .panel>.source .table .td .original,.C.stats .panel>.source .table .td .order{position:relative;margin-left:rem(10);padding:rem(7) 0 0 rem(10);color:#CCC;}
.C.stats .panel>.source .table .td .original:before,.C.stats .panel>.source .table .td .order:before{content:"";position:absolute;top:rem(3);left:0;width:1px;height:rem(20);background:#CCC;transform:rotate(30deg)}
.C.stats .panel>.source .table .td .name{display:inline-block;padding:rem(2) rem(7);font-size:rem(14);border-radius:rem(3);}
.C.stats .panel>.source .table .td .name:active{color:#FFF;background:$color_one;}

.C.stats .apc-calendar{width:rem(1000);height:rem(500);margin-bottom:rem(30)}
// .mStats{display:flex;}
.mStats{width:100%;margin:0 auto;}
.mStats .item{position:relative;float:left;width:20%;margin:rem(20) 0;padding-left:rem(30);padding:rem(20) 0 rem(15) rem(30);}
.mStats .item>.n{font-size:rem(36);}
.mStats .item>.n:before{position:absolute;z-index:2;top:rem(-7);left:rem(15);padding:0 rem(5);font-size:rem(12);letter-spacing:rem(1);color:#999;}
.C.stats .mStats .item>.n:before{background:#FFF;}
.mStats .item>.n:after{display:inline;padding:0 rem(10);font-size:rem(14);letter-spacing:rem(1);}
.mStats .sBalance>.n:before{content:"账户余额"}.mStats .sBalance .n:after{content:"新芽币"}
.mStats .sIncome>.n:before{content:"课程收入"}.mStats .sIncome .n:after{content:"元"}
.mStats .sBuyer>.n:before{content:"购买人数"}.mStats .sBuyer .n:after{content:"人"}
.mStats .sReserve>.n:before{content:"预约人数"}.mStats .sReserve .n:after{content:"人"}
.mStats .sReproduce>.n:before{content:"转载分享"}.mStats .sReproduce .n:after{content:"次"}
.mStats .sView>.n:before{content:"访问次数"}.mStats .sView .n:after{content:"次"}
.mStats .sPlay>.n:before{content:"播放次数"}.mStats .sPlay .n:after{content:"次"}
.mStats .sTime>.n:before{content:"播放时长"}.mStats .sTime .n:after{content:"分钟"}
.mStats .sOpinion>.n:before{content:"互动发言"}.mStats .sOpinion .n:after{content:"条"}
.mStats .sShare>.n:before{content:"社交分享"}.mStats .sShare .n:after{content:"次"}
.mStats .sIP>.n:before{content:"访问IP"}.mStats .sIP .n:after{content:"个"}
.mStats .sUser>.n:before{content:"登录用户"}.mStats .sUser .n:after{content:"人"}
.mStats .sLive>.n:before{content:"直播在线"}.mStats .sLive .n:after{content:"人"}
.mStats .sReg>.n:before{content:"新用户"}.mStats .sReg .n:after{content:"人"}

.mStats .sOrder>.n:before{content:"订单数"}.mStats .sReg .n:after{content:"人"}

.mStats .sDD>.n:before{content:"来自钉钉"}.mStats .sDD .n:after{content:"次"}
.mStats .sAlipay>.n:before{content:"来自支付宝"}.mStats .sAlipay .n:after{content:"次"}
.mStats .sWechat>.n:before{content:"来自微信"}.mStats .sWechat .n:after{content:"次"}
.mStats .sWeibo>.n:before{content:"来自微博"}.mStats .sWeibo .n:after{content:"次"}

.mStats .item .to{position:absolute;top:0;left:0;width:100%;height:100%;border:1px solid transparent;border-radius:rem(5)}
.mStats .item:hover .to{border-color:#CCC;}
.mStats .item:hover .n{color:$color_one;}
// .mStats .item:hover .n:before{color:#333;}

// .C.section .L{padding-top:0;}



@media screen and (max-width:2732px) and (-webkit-min-device-pixel-ratio:1.5) { //iPad Pro
}
@media screen and (max-width:2732px) and (orientation:landscape) and (-webkit-min-device-pixel-ratio:1.5) { // iPad Pro H 1366*1024
}
@media screen and (max-width:2048px) and (orientation:portrait) and (-webkit-min-device-pixel-ratio:1.5) { // iPad Pro V 1024*1366
}
@media screen and (max-width:2048px) and (-webkit-min-device-pixel-ratio:1.5) { // iPad
}
@media screen and (max-width:2048px) and (orientation:landscape) and (-webkit-min-device-pixel-ratio:1.5) { // iPad H 1024*768
}
@media screen and (max-width:1536px) and (orientation:portrait) and (-webkit-min-device-pixel-ratio:1.5) { // iPad V 768*1024
}
@media (min-resolution:200dpi), screen and (max-width:1440px) and (-webkit-min-device-pixel-ratio:1.5) and (orientation:portrait){ //Android 1440p 1440*2560
// @media (min-resolution:250dpi), screen and (max-width:1440px) and (-webkit-min-device-pixel-ratio:1.5) and (orientation:portrait){ //Android 1440p 1440*2560
  .C.stats .L{padding:rem(100) 0}
  .C.stats .panel{padding:0;border-width:0;}
  .C.stats .panel .label{width:100%;height:rem(50);margin-bottom:rem(20)}
  .C.stats .panel .label:before{display:none;}
  .C.stats .panel .label .tp{display:block;position:relative;top:rem(-5);float:right;width:rem(80);height:rem(40);color:#666;font-size:rem(14);text-align:center;line-height:rem(40);border-radius:rem(5);background:#F5F5F5;}
  .C.stats .panel .label .tp .icon{display:inline-block;position:relative;top:rem(3);width:0;height:0;margin-left:rem(3);border:rem(5) solid transparent;border-top-color:#666;}
  .C.stats .panel>.apc-switch{position:absolute;top:rem(3);right:rem(20);}
  .C.stats .panel .sw_i{height:rem(40);margin-bottom:1px;}
  .C.stats .curve .apc-switch,.C.stats .region .apc-switch{display:none;flex-wrap:wrap;width:rem(140);height:auto;}
  .C.stats .curve .apc-switch.c,.C.stats .region .apc-switch.c{display:flex;}

  .mStats .item{width:33.33%;margin:0;padding-left:rem(20);}
  .mStats .item > .n{font-size:rem(20);}
  .mStats .item>.n:before{top:0;font-size:rem(10)}
  .mStats .item>.n:after{font-size:rem(10)}

  .C.stats .panel > .source .title{font-size:rem(24)}
  .C.stats .panel>.source .apc-pie{position:relative;top:0;left:0;width:rem(300);height:rem(300);margin:0 auto;transition:all 2s}
  .C.stats .panel>.source .list{position:relative;top:0;left:0;width:rem(300);height:rem(300);margin:0 auto;}

  .C.stats .apc-calendar{width:rem(300);height:rem(320);}

  .C.stats .map .apc-country{width:80%;}
}
@media screen and (max-width:1080px) and (-webkit-min-device-pixel-ratio:1.5){ // Android 1080p 1080*1920
}
@media screen and (max-width:828px) and (-webkit-min-device-pixel-ratio:1.5){ // iPhone6+ 414
}
@media screen and (max-width:786px) and (-webkit-min-device-pixel-ratio:1.5){ //
}
@media screen and (max-width:768px) and (-webkit-min-device-pixel-ratio:1.5){ //iPad
}
@media screen and (max-width:750px) and (-webkit-min-device-pixel-ratio:1.5){ // iPhone6 375
}
@media screen and (max-width:720px) and (-webkit-min-device-pixel-ratio:1.5){ // Android 720p 720*1280
}
@media screen and (max-width:640px) and (-webkit-min-device-pixel-ratio:1.5){ // iPhone5 320
}


