$font-size:16px !default;
// $color_one:#3C8DFF;
$color_one:#1A56A8;
$color_green:#A3D900;
$color_red:#E60000;

$color_dd:#4097D4;
$color_wechat:#B2E34B;
$color_wechatApp:#2BA246;

@import "function.scss";
@import "mixin.scss";
