
@import "../variable";
  
/*M定位与放大缩小，B自适应*/
.M.float{z-index:1000 !important;overflow:visible;bottom:remNew(0);left:auto;right:0;background:none !important;}
.M.float .mask{display:none;}
.M.float .B{overflow:visible;width:100%;height:100%;border-radius:remNew(20);background:rgba(#FFF,.75)!important;-webkit-backdrop-filter:saturate(180%) blur(remNew(20));backdrop-filter:saturate(180%) blur(remNew(20));transition:all .4s;}
.M.float.min{width:remNew(80);height:remNew(80);background:none;transition:all .4s .2s,background .2s;}
.M.float.min .B{border-radius:remNew(80);border:remNew(1) solid #DDD;background:rgba(#FFF,0)!important;transition:all .4s .2s;}
.M.float.mini{bottom:remNew(200);right:remNew(150);width:remNew(300);height:remNew(480);background:none;}
.M.float.mini .B{border:0;box-shadow:0 0 remNew(50) rgba(#000,.5);}
.M.float.max{z-index:2000 !important;bottom:remNew(50);right:remNew(20);width:calc(100% - 1.0666rem);height:calc(100% - 12rem);transition:all .4s,background .4s .2s;background:none;}
.M.float.max .B{overflow:hidden;border-radius:remNew(50);box-shadow:0 0 remNew(50) rgba(#000,.5);}

.M.float.prize.min{bottom:remNew(200);right:remNew(40);}
.M.float.goods.min{bottom:remNew(200);right:remNew(40);}

.M.float .cH{height:auto;padding:0;line-height:1;font-size:inherit;background:none;;}

.M.float .U{padding-top:remNew(40);}
.M.float .close{top:0;left:auto;right:0;width:remNew(100);height:remNew(100);border:0;}
.M.float .close .icon{position:relative;width:remNew(50);height:remNew(50);border-radius:remNew(50);@extend %center_flex;}
.M.float .close .icon:before{content:"";position:absolute;top:0;left:0;width:remNew(50);height:remNew(50);border-radius:remNew(50);background:#FFF;}
.M.float .close .icon:after{content:"";position:relative;z-index:1;width:remNew(30);height:remNew(5);border-radius:remNew(5);background:#666;}
.M.float.mini .close{top:remNew(-15);right:remNew(-15);width:remNew(50);height:remNew(50);}
.M.float.mini .close .icon{transform:scale(.8);}
.M.float.mini .close .icon:before{background:$color_red;}
.M.float.mini .close .icon:after{background:#FFF;}
.M.float.min .close{display:none;}

.M.float .close{border:0;background:none;@extend %center_flex;}

// .M.float.max{bottom:remNew(50);right:remNew(30);width:calc(100% - 1.875remNew)!important;height:calc(100% - 15.625remNew)!important;height:calc(100% - 12remNew)!important;transition:all .4s,background .4s .2s;background:none!important;}
.M.float.max .P.detail{background:#FFF!important;}
.M.float.max .P.status .status .icon{display:none;}

.M.float.min .P.status .status .n{position:absolute;z-index:112;top:remNew(-3);right:remNew(-3);width:remNew(25);height:remNew(25);color:#FFF;font-size:remNew(16);border-radius:remNew(30);border:remNew(2) solid #FFF;background:rgba(#196fdb,.85);@extend %center_flex;}
.M.float.min .P.list{display:none;z-index:-1;}
.M.float.min .P.detail{display:none;z-index:-1;}


.M.float.mini .L>.go{position:absolute;z-index:112;bottom:0;left:0;width:100%;height:remNew(70);color:#FFF;@extend %center_flex;@extend %backdrop;}
.M.float.mini .L>.go:before{content:"";position:absolute;z-index:0;bottom:remNew(10);left:remNew(10);width:remNew(280);height:remNew(50);border-radius:remNew(50);background:$color_red;}
.M.float.mini .L>.go:after{content:"立即抢购";position:relative;z-index:1;}
.M.float.mini .vip .L>.go{background-color:rgba(#343235,.75)}
// .M.float.mini .vip .L>.go:before{background-color:rgba(#c5a06e,.75)}



// .M.float{background:black !important;}
// .M.float .B{top:auto !important;bottom:0;left:auto !important;right:0;border-radius:remNew(100);background:rgba(#FFF,.75)!important;}
.M.float .P.status{overflow:visible;width:100%;height:100%;}
.M.float .P.status .status{z-index:inherit;display:block;width:100%;height:100%;}
.M.float .P.status .status{position:relative;bottom:auto;padding:0;font-size:inherit;text-align:inherit;border:0;background:none;;}
.M.float .P.status .icon{position:absolute;z-index:111;top:0;left:0;width:100%;height:100%;transition:all .4s;padding:rem(5);}
.M.float .P.status.prize .icon{filter: grayscale(1);opacity:.3;}
.M.float .P.status.start .icon{filter:none;opacity:1;}
// .M.float.ready .P.status .prize.status{display:block;}
.M.float .P.status .CD{position:absolute;z-index:11;left:50%;bottom:remNew(-12);height:remNew(22);color:#FFF;font-size:remNew(16);border-radius:remNew(22);@extend %center_flex;transform:translate(-50%,0);transition:all .4s;}
// .M.float .P.status .CD:before{content:"开奖";height:remNew(12);line-height:remNew(12);}
// .M.float .P.status.prize .status:before{content:"";position:absolute;z-index:1;bottom:remNew(-7);left:remNew(33);;width:remNew(1);height:remNew(12);background:#000;}
.M.float.min .P.status.prize.ready .CD{display:flex;color:#666;background:rgba(#DDD,.75);}
.M.float .P.status.prize.start .CD{display:flex;color:#FFF;background:rgba(red,.75);}
.M.float .P.status.prize .CD:before{height:remNew(12);line-height:remNew(12);margin-right:remNew(6);padding-right:remNew(6);font-size:remNew(14);border-right:remNew(1) solid rgba(#FFF,.5);}
.M.float .P.status.prize.ready .CD:before{content:"抽奖";border-color:rgba(#999,.5)}
.M.float .P.status.prize .CD.second:after{content:"秒";margin-left:remNew(5)}
.M.float.max .P.status.prize .CD{z-index:11;bottom:remNew(30);color:#999;background:none;}
.M.float.mini .P.status.prize .CD{z-index:11;bottom:remNew(15);color:#999;background:none;}
.M.float.min .P.status.prize .CD{width:remNew(100);}
.M.float.max .P.status.prize .CD.second:after{font-size:remNew(24);}
.M.float.mini .P.status.prize .CD.second:after{font-size:remNew(16);}
.M.float.min .P.status.prize .CD.second:after{font-size:remNew(14);}


.M.float .P.status.prize.ready .CD{color:#999;}
.M.float .P.status.prize.ready .CD:before{content:"抽奖倒计时";border-color:rgba(#999,.5)}
.M.float.min .P.status.prize.ready .CD:before{content:"抽奖";}

.M.float .P.status.prize.start .CD{color:$color_red;;}
.M.float .P.status.prize.start .CD:before{content:"开奖倒计时";border-color:rgba($color_red,.5)}
.M.float.min .P.status.prize.start .CD:before{content:"开奖";}

.M.float .P.status.prize .CD{width:100%;}
.M.float.max .P.status.prize.static .CD{bottom:remNew(70);color:#333;font-size:remNew(40);}
.M.float.max .P.status.prize.static .CD:before{content:"抽奖开始时间";font-size:remNew(40);}
.M.float.mini .P.status.prize.static .CD{bottom:remNew(30);color:#333;font-size:remNew(20);font-weight:700;}
.M.float.mini .P.status.prize.static .CD:before{content:"抽奖开始时间";font-size:remNew(20);font-weight:700;}
.M.float.min .P.status.prize.static .CD{display:none;}

.M.float.max .P.status.prize .CD{font-size:remNew(24);}
.M.float.max .P.status.prize .CD:before{height:remNew(20);line-height:remNew(20);margin-right:remNew(20);padding-right:remNew(20);font-size:remNew(24);}
.M.float.mini .P.status.prize .CD{font-size:remNew(16);}
.M.float.mini .P.status.prize .CD:before{margin-right:remNew(10);padding-right:remNew(10);font-size:remNew(16);}
.M.float.min .P.status.prize .CD{display:flex;color:#FFF;font-size:remNew(14);background:rgba(red,.75);}
.M.float.min .P.status.prize .CD:before{margin-right:remNew(6);padding-right:remNew(6);font-size:remNew(14);}


.M.float .P.status.goods .CD{display:none;width:remNew(50);background:rgba(#196fdb,.75);}
.M.float .P.status.goods .CD:before{content:"推荐";font-size:remNew(14);}
.M.float .P.status.goods.vip .CD{background:#d5a812;}
.M.float .P.status.goods.vip .CD:before{content:"会员卡";font-size:remNew(14);color:#FFF;}
.M.float.min .P.status.goods .CD{display:flex;}

.M.float .cH .back{position:absolute;top:0;left:0;width:remNew(210);height:remNew(100);@extend %center_flex;}
.M.float .cH .back .icon{display:block;position:relative;width:remNew(160);height:remNew(50);border-radius:remNew(50);border:remNew(1) solid #DDD;background-color:rgba(#FFF,1);transform:none;}
.M.float .cH .back .icon{bottom:inherit;left:inherit;padding:0;}
.M.float .cH .back .icon:before{content:"";position:absolute;top:remNew(8);left:50%;width:remNew(4);height:remNew(20);margin-left:remNew(-53);border-radius:remNew(10);background:#666;transform:rotate(45deg);}
.M.float .cH .back .icon:after{content:"";position:absolute;bottom:remNew(8);left:50%;width:remNew(4);height:remNew(20);margin-left:remNew(-53);border-radius:remNew(10);background:#666;transform:rotate(-45deg);}
.M.float .cH .back .txt{position:absolute;left:remNew(70);font-size:remNew(24);color:#666;}
.M.float .cH .back .txt{float:none;margin:0;padding:0;}
.M.float.prize .cH .back .txt:before{content:"更多抽奖"}
.M.float.goods .cH .back .txt:before{content:"更多推荐"}
.M.float .P.detail.multi .cH .back{display:flex;}

.M.float.goods.max .P.detail.multi .L{padding-top:remNew(100);}

.M.float .U,.M.float .L{padding:0;border-radius:0;}
// .M.float.goods .P.content.detail{border-radius:remNew(20);background:none;}
.M.float.goods .mPanel.head{height:remNew(100);@extend %center_flex;}
.M.float.goods .mPanel.head .name:before{content:"相关课程";font-size:remNew(40);}

.M.float.goods .mPanel.file{border-bottom:remNew(20) solid #EEE;background:none;}
.M.float.goods .mPanel.file .item{border:0;}
.M.float.goods .mPanel.content .mContent{padding:remNew(30) remNew(10) remNew(100);padding:0;box-shadow:0 0 0;border-radius:remNew(20);background:none;}
.M.float.goods .mPanel.content .mContent .pic.poster{width:remNew(200);height:remNew(355)}
.M.float.goods .mPanel.content .mContent .pic.poster .img{width:remNew(200);height:remNew(355)}
.M.float.goods .mPanel.content .mContent .pic.cover{width:remNew(690);height:remNew(276);border-radius:0;border-bottom-left-radius:0;border-bottom-right-radius:0;}
.M.float.goods .mPanel.content .mContent .pic.cover .img{border-radius:0;}
// .M.float.goods .mPanel.content .mContent .pic.cover{display:none;}
.M.float.goods .mPanel.content .mContent .name{width:auto;margin-bottom:0;}
.M.float.goods .mPanel.content .mContent .author{position:relative;top:0;left:0;}
.M.float.goods .mPanel.content .mContent .author:after{display:none;}
.M.float.goods .mPanel.content .mContent .author .icon{display:none;}
.M.float.goods .mPanel.content .mContent .author .txt{padding:0;text-align:center;}
.M.float.goods .mPanel.content .mContent>.time{display:none;}

.M.float.goods .mPanel.content .mContent .panel{position:relative;margin:remNew(30) auto;padding:remNew(30) remNew(30);border-radius:remNew(30);background:rgba(#FFF,.5)}
.M.float.goods .mPanel.content .mContent .price{display:flex;flex-direction:column;align-items:flex-ready;justify-content:center;font-size:remNew(50);color:#E60000;}
.M.float.goods .mPanel.content .mContent .price .n{font:inherit;}
.M.float.goods .mPanel.content .mContent .price .n:before{content:"￥";font-size:remNew(36);}
.M.float.goods .mPanel.content .mContent .price .n.original{position:relative;margin-bottom:remNew(5);padding:0 remNew(10);font-size:remNew(24);color:#FFF;text-decoration:line-through;border-radius:remNew(10);background:#DDD;}
.M.float.goods .mPanel.content .mContent .price .n.original:before{content:"";font-size:remNew(24);}
.M.float.goods .mPanel.content .mContent .price .txt{opacity:.5;line-height:2;}
.M.float.goods .mPanel.content .mContent .content{width:100%;margin-top:remNew(20);border-radius:remNew(20);}

.M.float.goods .mPanel.content .mContent .buy{position:absolute;top:50%;right:remNew(20);width:remNew(260);height:remNew(60);margin-top:remNew(-30);@extend %center_flex;}
.M.float.goods .mPanel.content .mContent .buy .to{position:relative;width:remNew(160);height:remNew(50);font-size:remNew(24);color:#FFF;border-radius:remNew(60);border-top-left-radius:remNew(60);border-bottom-left-radius:remNew(60);background:#E60000;@extend %center_flex;}
.M.float.goods .mPanel.content .mContent .buy .to:after{content:"购买课程"}
.M.float.goods .mPanel.content .mContent .buy .service{width:remNew(80);height:remNew(50);margin-left:remNew(20);font-size:remNew(24);color:#999;border-top-right-radius:remNew(60);border-bottom-right-radius:remNew(60);background:none;@extend %center_flex;}
.M.float.goods .mPanel.content .mContent .buy .service:after{content:"客服"}
.M.float.goods .mPanel.content .mContent .panel .CD{font-size:remNew(20);}
.M.float.goods .mPanel.content .mContent .panel.CD{border-bottom:remNew(80) solid #FFF;}
.M.float.goods .mPanel.content .mContent .panel.CD .CD{position:absolute;bottom:remNew(-80);left:0;width:100%;height:remNew(80);font-size:remNew(30);color:#FFF;text-shadow:0 0 remNew(30) #000;@extend %center_flex;background:#999;}
.M.float.goods .mPanel.content .mContent .panel.CD .CD:before{content:"限时特价倒计时："}

.M.float.goods .mPanel.image{position:relative;}
.M.float.goods .mPanel.image .file{position:absolute;top:0;left:0;width:100%;height:remNew(200);}

.M.float.goods .mPanel.content .mContent .panel.study{position:relative;margin:remNew(30) auto;padding:remNew(30) remNew(30);}
.M.float.goods .mPanel.content .mContent .panel.study .status{display:flex;align-items:center;justify-content:flex-ready;margin:0;font-size:remNew(50);color:$color_green;}
.M.float.goods .mPanel.content .mContent .panel.study .status .n{font:inherit;position:relative;}
.M.float.goods .mPanel.content .mContent .panel.study .status .n:before{content:"累计学习";display:block;position:relative;width:100%;font-size:remNew(20);line-height:1.5;color:#999;}
.M.float.goods .mPanel.content .mContent .panel.study .status .n:after{content:"分钟";margin-left:remNew(10);font-size:remNew(24)}
.M.float.goods .mPanel.content .mContent .panel.study .buy{position:absolute;top:50%;right:remNew(20);width:remNew(320);height:remNew(60);margin-top:remNew(-30);@extend %center_flex;}
.M.float.goods .mPanel.content .mContent .panel.study .buy .to{position:relative;width:remNew(200);height:remNew(60);font-size:remNew(24);color:#FFF;border-radius:remNew(60);border-top-left-radius:remNew(60);border-bottom-left-radius:remNew(60);background:$color_green;@extend %center_flex;}
.M.float.goods .mPanel.content .mContent .panel.study .buy .to:after{content:"";width:remNew(40);height:remNew(40);background:url('data:image/svg+xml;base64,PHN2ZyBjbGFzcz0iRXNjIiB2aWV3Qm94PSIwIDAgNTAgNTAiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZmlsbD0iI0ZGRiIgZD0iTTIuMywzOC41NUwwLDM2LjM1bDI1LTI1bDI1LDI1bC0yLjMsMi4zTDI1LDE1Ljg1TDIuMywzOC41NXoiPjwvcGF0aD48L3N2Zz4K') center no-repeat;background-size:50%;transform:rotate(90deg)}
.M.float.goods .mPanel.content .mContent .panel.study .buy .to:before{content:"我的已购";margin-left:remNew(20);}
.M.float.goods .mPanel.content .mContent .panel.study .buy .service{width:remNew(100);height:remNew(60);margin-left:remNew(20);font-size:remNew(24);color:#999;border-top-right-radius:remNew(60);border-bottom-right-radius:remNew(60);background:none;@extend %center_flex;}
.M.float.goods .mPanel.content .mContent .panel.study .buy .service:after{content:"客服"}

.mPanel.section{border-top:0 !important;}
.mPanel.section .mData{background:none !important;}

.M.float.goods .cF{height:remNew(100);background:rgba(#FFF,0);-webkit-backdrop-filter:saturate(180%) blur(remNew(20));backdrop-filter:saturate(180%) blur(remNew(20));}
.M.float.goods .cF .buy .txt:before{content:"我的已购"}

.M.float.goods.mini .mPanel .mContent{height:remNew(122);margin:0;padding:0;display:flex;justify-content:center;align-items:flex-ready;flex-direction:column;}
.M.float.goods.mini .mPanel .mContent .pic.cover{display:flex;overflow:hidden;position:absolute;top:remNew(10);left:remNew(10);width:remNew(280);height:remNew(112) !important;border-radius:remNew(10);@extend %center_flex;}
.M.float.goods.mini .mPanel .mContent .pic.poster{display:none;}
.M.float.goods.mini .mPanel .mContent .pic.cover .icon{transform:scale(.5);}
.M.float.goods.mini .mPanel .mContent .name{width:remNew(400);margin:0;padding:0;text-align:left;color:#FFF;font-size:remNew(30);line-height:1.5;@extend %text_overflow;}
.M.float.goods.mini .mPanel .mContent .author{width:auto;align-items:flex-ready;}
.M.float.goods.mini .mPanel .mContent .author .txt{color:rgba(#FFF,.3);letter-spacing:0;line-height:1.5;justify-content:flex-ready;}
.M.float.goods.mini .mPanel .mContent .author .txt:before{display:none;}
.M.float.goods.mini .mPanel .mContent .author .txt:after{display:none;}
.M.float.goods.mini .mPanel.tip{height:remNew(350);background:none;}
.M.float.goods.mini .mPanel.tip .mlist{width:100%;border:0;}
.M.float.goods.mini .mPanel.tip .mlist:before{border:0;}
.M.float.goods.mini .mPanel.tip .mlist .dur{display:none;}
.M.float.goods.mini .mPanel.price,
.M.float.goods.mini .mPanel.study,
.M.float.goods.mini .mPanel.tip .tip,
.M.float.goods.mini .mPanel.file,
.M.float.goods.mini .mPanel.stats,
.M.float.goods.mini .mPanel.section,
.M.float.goods.mini .mPanel.content.info,
.M.float.goods.mini .mPanel.image,
.M.float.goods.mini .P.status .status .n,
.M.float.goods.mini .cF,
// .M.float.goods.mini .close,
.M.float.goods.mini .back
{display:none !important;}

/*爆*/
.M.float.goods .P.content.list .mPanel .label:before{content:"推荐课程";font-size:remNew(30);}
.M.float .P.content.list .mData{position:relative;height:remNew(130);margin:remNew(30);padding:remNew(20) remNew(20) remNew(20) remNew(200);border-radius:remNew(10);border:remNew(1) solid #FFF;box-shadow:0 0 remNew(20) rgba(#000,.05);background:rgba(#FFF,1);display:flex;flex-direction:column;justify-content:center;}
.M.float .P.content.list .mData .pic.cover{position:absolute;top:remNew(20);left:remNew(20);width:remNew(160);height:remNew(90);border-radius:remNew(10)}
.M.float .P.content.list .mData .pic.cover .icon{transform:scale(.5)}
.M.float .P.content.list .mData .name{padding-right:remNew(50);font-size:remNew(30);@extend %text_overflow;-webkit-line-clamp:2;}
.M.float .P.content.list .mData .author{display:none;}
.M.float .P.content.list .mData .author .txt{font-size:remNew(20);color:#999;@extend %text_overflow2;}
.M.float .P.content.list .mData .price{margin-top:remNew(5);}
.M.float .P.content.list .mData .price .discount{margin-right:remNew(10);color:red;}
.M.float .P.content.list .mData .price .discount:before{content:"￥"}
.M.float .P.content.list .mData .price .original{color:#999;text-decoration:line-through;}
.M.float .P.content.list .mData .price .original:before{content:"￥"}
.M.float .P.content.list .mData .to .icon{position:absolute;top:50%;right:remNew(10);width:remNew(60);height:remNew(60);margin-top:remNew(-30);background-position:center;background-repeat:no-repeat;}

.P.prize.list .mPanel.head{height:remNew(100);@extend %center_flex;}
.P.prize.list .mPanel.head .label:before{content:"本次抽奖";font-size:remNew(30);}
// .P.prize.list .mPanel.list .mData{height:auto;min-height:remNew(160);padding-left:remNew(160);}
// .P.prize.list .mPanel.list .mData .pic.cover{width:remNew(120);height:remNew(120);background-size:cover;}
// .P.prize.list .mPanel.list .mData .name{font-size:remNew(24);}
// .P.prize.list .mPanel.list .mData .amount{margin-top:remNew(10);}
// .P.prize.list .mPanel.list .mData .amount .n{font-size:remNew(20);color:#999;}
// .P.prize.list .mPanel.list .mData .amount .n:before{content:"数量："}
// .P.prize.list .mPanel.list .mData .status{margin-top:remNew(10);}
// .P.prize.list .mPanel.list .mData .status .open{color:$color_green;font-size:remNew(20);}
// .P.prize.list .mPanel.list .mData .status .open:before{content:"开始："}
// .P.prize.list .mPanel.list .mData .status .CD{margin-left:remNew(10);padding:remNew(3) remNew(7);color:#FFF;font-size:remNew(20);border-radius:remNew(5);background:$color_orange;}
// .P.prize.list .mPanel.list .mData .status .CD:before{content:"倒计时："}
// .P.prize.list .mPanel.list .mData .winner{margin-top:remNew(10);}
// .P.prize.list .mPanel.list .mData .winner:before{content:"中奖名单：";font-size:remNew(20);color:#999;}
// .P.prize.list .mPanel.list .mData .winner .user{font-size:remNew(20);color:#999;}

// .P.prize.list .mPanel.list .mData.done .status:before{content:"已结束";color:#999;font-size:remNew(20)}
// .P.prize.list .mPanel.list .mData.start .status:before{content:"抽奖进行中";color:$color_orange;font-size:remNew(20)}
// .P.prize.list .mPanel.list .mData.start .status .user{color:$color_orange;font-size:remNew(20)}
// .P.prize.list .mPanel.list .mData.start .status .user:before{content:"，";}
// .P.prize.list .mPanel.list .mData.start .status .user:after{content:"人已参与";}

/*桑晒*/






// .P.prize.detail{background:#FFF;}
.P.prize.detail .mPrize .pic{width:remNew(690);width:100%;height:remNew(690);margin:0 auto;border-top-left-radius:remNew(50);border-top-right-radius:remNew(50);background-repeat:no-repeat;background-position:center;background-color:#FFF;background-size:100%;}
.max .P.prize.detail .mPrize .name{width:auto;height:remNew(100);padding:0 remNew(50);text-align:center;font-size:remNew(30);line-height:remNew(100);color:#333;@extend %text_overflow;}
.mPrize .name:before{content:"奖品：";color:#666;}
.mPrize .name .n{color:#666;font-size:inherit;}
.mPrize .name .n:before{content:"（"}
.mPrize .name .n:after{content:"份）"}
.P.prize.detail .mPrize .content{padding:0 remNew(50);color:#666;line-height:2;}
.P.prize.detail .mPrize .time{padding-top:remNew(20);text-align:center;font-size:remNew(30);}
.P.prize.detail .mPrize .time .end:before{content:"开奖时间："}
.P.prize.detail .mPrize .time .CD{height:remNew(100);color:$color_red;font-size:remNew(40);@extend %center_flex;}
.P.prize.detail .mPrize .mo{height:remNew(150);@extend %center_flex;}
.P.prize.detail .mPrize .mo .join{margin:0 remNew(20);padding:0 remNew(0);color:#FFF;border-radius:remNew(100);background:$color_red;}
.P.prize.detail .mPrize .mo .join .txt:before{content:"立即参与抽奖";}
.P.prize.detail .mPrize .mo .service,
.P.prize.detail .mPrize .mo .share{height:remNew(60);padding:remNew(10) remNew(30);color:#999;fill:#999;border-radius:remNew(100);background:#F5F5F5;}
.P.prize.detail .mPrize .mo .share .txt:before{content:"分享";}
.P.prize.detail .mPrize .mo .service .txt:before{content:"客服";}

.P.prize.detail .mPanel .mlist.user{@extend %center_flex;flex-wrap:wrap;}

// .P.prize.detail .mPanel.winner{margin-top:remNew(50);}
.P.prize.detail .mPanel.winner .label .n{@extend %center_flex;height:remNew(100);font-size:remNew(30);}
.P.prize.detail .mPanel.winner .label .n:before{content:"中奖名单（";}
.P.prize.detail .mPanel.winner .label .n:after{content:" 人）";}
.P.prize.detail .mPanel.winner .mUser{width:remNew(120);height:remNew(150);padding:0;border-bottom:0;;}
.P.prize.detail .mPanel.winner .mUser .pic{width:remNew(80);height:remNew(80);margin:0 auto;border-radius:remNew(60);background-color:#999;background-size:cover;}
.P.prize.detail .mPanel.winner .mUser .pic .icon{width:inherit;height:inherit;padding:0;border-radius:0;background:none;}
.P.prize.detail .mPanel.winner .mUser .name{margin-top:remNew(10);padding:0;line-height:1;font-size:remNew(24);text-align:center;@extend %text_overflow;}

.M.max .P.prize.detail .L{margin-bottom:remNew(300);}
.M.mini .P.prize.detail .L{margin-bottom:remNew(200);}
.P.prize.detail .mPanel.joiner .label .n{@extend %center_flex;height:remNew(80);font-size:remNew(24);color:#999;}
.P.prize.detail .mPanel.joiner .label .n:before{content:"一共 ";}
.P.prize.detail .mPanel.joiner .label .n:after{content:" 人参与抽奖";}
.P.prize.detail .mPanel.joiner .mlist{padding:0 remNew(50) !important;}
.P.prize.detail .mPanel.joiner .mUser{padding:0;border:solid #FFF;border-width:remNew(1) remNew(1) 0 0;}
.P.prize.detail .mPanel.joiner .mUser .pic{width:remNew(50);height:remNew(50);margin:0 auto;border-radius:0;background-color:#999;background-size:cover;}
.P.prize.detail .mPanel.joiner .mUser .pic .icon{width:auto;height:auto;padding:0;border-radius:0;background:none;}
.P.prize.detail .mPanel.joiner .mUser .name{margin-top:remNew(10);font-size:remNew(30);text-align:center;@extend %text_overflow;}


.M.mini .P.prize.detail .cH{display:none;}
.M.mini .P.prize.detail .U{border-radius:remNew(20);}
.M.mini .P.prize.detail .mPrize .pic.cover{width:remNew(300);height:remNew(300);border-top-left-radius:remNew(20);border-top-right-radius:remNew(20);}
.M.mini .P.prize.detail .mPrize .name{height:auto;padding:remNew(20) remNew(20) 0;font-size:remNew(20);line-height:1.5;@extend %text_overflow2;-webkit-line-clamp:2;}
// .M.mini .P.prize.detail .mPrize .name:before,
.M.mini .P.prize.detail .mPrize .content{padding:remNew(20) remNew(20) 0;font-size:remNew(18);}

.M.mini .P.prize.detail .mPrize .time {padding:0;font-size:remNew(20);}
.M.mini .P.prize.detail .mPrize .time .end{font-size:remNew(20);color:#999;}
.M.mini .P.prize.detail .mPrize .time .CD{height:auto;margin-top:remNew(10);font-size:remNew(24);}
.M.mini .P.prize.detail .mPrize .mo{height:auto;}
.M.mini .P.prize.detail .mPrize .mo .share{display:none;}
.M.mini .P.prize.detail .mPrize .mo .join{width:100%;height:remNew(50);margin-top:remNew(10);font-size:remNew(24)}
.M.mini .P.prize.detail .winner{display:none;}
.M.mini .P.prize.detail .joiner{margin-bottom:remNew(150);}
.M.mini .P.prize.detail .joiner .label .n{font-size:remNew(18);}
.M.mini .P.prize.detail .joiner .mlist{padding:0 remNew(20);}

.M.float .P.prize .cF .start{display:none;}
.M.float.max .P.prize.static .cF .start{width:auto;height:100%;@extend %center_flex;font-size:remNew(30);}
.M.float.max .P.prize.static .cF .start:before{content:"抽奖开始时间：";}
// .M.float.max .P.prize.static .cF .start:after{content:"";}

.M.mini .P.prize.detail .cF{height:remNew(120);border-bottom-left-radius:remNew(20);border-bottom-right-radius:remNew(20);}
.M.mini .P.prize.detail .cF .mo{height:remNew(90);padding:remNew(20);}
.M.mini .P.prize.detail .cF .mo .apc-btn{display:none;letter-spacing:0;}
.M.mini .P.prize.detail .cF .mo .join{display:flex;width:100%;margin:0;padding:0;height:remNew(50);font-size:remNew(24);}

.M.float.max .P.prize.static .cF{height:remNew(100);}
.M.float.mini .P.prize.static .cF{height:remNew(80);}
.M.float.mini .P.prize.done .cF{height:remNew(80);}
.M.float.mini .P.prize.done .cF .mo{height:remNew(80);}
.M.float .P.prize.static .cF .mo{display:none;}

.M.float.max .P.prize.ready .cF{height:remNew(200);}
.M.float.max .P.prize.start .cF{height:remNew(200);}
.M.float.max .P.prize.done .cF{height:remNew(120);}
.M.float.max .P.prize.done .cF .mo{height:remNew(120);}

.M.float.mini .P.status .status .icon{display:none;top:remNew(-10);left:remNew(-10);width:remNew(40);height:remNew(40);border-radius:remNew(40);border:remNew(1) solid $color_red;background-color:#FFF;}



.M.float .cF{height:remNew(150);background:rgba(#FFF,.8);-webkit-backdrop-filter:saturate(180%) blur(remNew(20));backdrop-filter:saturate(180%) blur(remNew(20));}
.M.float .cF:before{content:"";position:absolute;z-index:1;top:remNew(-30);left:0;width:100%;height:remNew(30);padding:0;background:linear-gradient(top,rgba(#FFF,0) 0,rgba(#000,.05) 100%);}
.M.float .cF .mo{width:100%;height:remNew(150);@extend %center_flex;}
.M.float .cF .mo .join{letter-spacing:0;margin:0 remNew(20);padding:0 remNew(50);color:#FFF;border-radius:remNew(100);background:$color_red;}
.M.float .cF .mo .join .txt:before{content:"立即参与抽奖";}
.M.float .cF .mo .share{visibility:hidden;}
.M.float .cF .mo .service,
.M.float .cF .mo .share{height:remNew(60);padding:remNew(10) remNew(30);color:#666;letter-spacing:0;fill:#999;border-radius:remNew(100);background:#eee;}
.M.float .cF .mo .service .txt:before{content:"客服";font-size:rem(14)}
.M.float .cF .mo .share .txt:before{content:"分享";}
.M.float .cF .mo .service .icon,
.M.float .cF .mo .share .icon{display:none;}


.M.float .cF .mo .join.d{background:#999;}
.M.float .cF .mo .join.d .txt:before{content:"抽奖即将开始";}

.M.float .cF .mo .join.end{background:#999;}
.M.float .cF .mo .join.end .txt:before{content:"抽奖结束，即将开奖";}

.M.float .cF .mo .join.c{background:none;}
.M.float .cF .mo .join.c .txt:before{content:"已参与";color:#333;font-size:remNew(40);}
.M.float.mini .cF .mo .join.c .txt:before{font-size:remNew(30);}

.M.float .P.static .cF{height:remNew(60);}

.M.float .P.done .cF{z-index:111;}
.M.float .P.done .cF .mo .join{background:none;}
.M.float .P.done .cF .mo .join .txt:before{content:"本次抽奖已结束";color:#666;font-size:remNew(30);}
.M.float .P.done .cF .mo .join.c.fail .txt:before{content:"你未中奖，谢谢参与";color:#666;font-size:remNew(30);}
.M.float .P.done .cF .mo .join.c.win .txt:before{content:"恭喜你，中奖了";color:$color_green;font-size:remNew(40);}
.M.float.mini .P.done .cF .mo .join.c .txt:before{font-size:remNew(24);}


.P.prize.list{background:#FFF;}
.P.prize.list:before{content:"";position:absolute;z-index:111;bottom:0;left:0;width:100%;height:remNew(55);background:#FFF;}
.P.prize.list .mPrize{margin-bottom:remNew(100);}
.P.prize.list .mPrize .pic{width:remNew(300);height:remNew(300);margin:0 auto;border-radius:remNew(20);background-color:#999;background-size:cover;}
.P.prize.list .mPrize .name{height:remNew(100);font-size:remNew(30);@extend %center_flex;}
.P.prize.list .mPrize .mSection{display:flex;align-items:center;position:relative;padding:remNew(40);border-top:remNew(1) solid #DDD;}
.P.prize.list .mPrize .mSection .to .icon{position:absolute;top:50%;right:remNew(10);width:remNew(60);height:remNew(60);margin-top:remNew(-30);background-position:center;background-repeat:no-repeat;}

.P.prize.list .mPrize .mSection{padding-bottom:remNew(90);}
.P.prize.list .mPrize .mSection .index{margin-right:remNew(0);font-size:remNew(30);}
.P.prize.list .mPrize .mSection:nth-child(1) .index:before{content:"第一场抽奖"}
.P.prize.list .mPrize .mSection:nth-child(2) .index:before{content:"第二场抽奖"}
.P.prize.list .mPrize .mSection:nth-child(3) .index:before{content:"第三场抽奖"}
.P.prize.list .mPrize .mSection:nth-child(4) .index:before{content:"第四场抽奖"}
.P.prize.list .mPrize .mSection:nth-child(5) .index:before{content:"第五场抽奖"}
.P.prize.list .mPrize .mSection:nth-child(6) .index:before{content:"第六场抽奖"}
.P.prize.list .mPrize .mSection:nth-child(7) .index:before{content:"第七场抽奖"}
.P.prize.list .mPrize .mSection:nth-child(8) .index:before{content:"第八场抽奖"}
.P.prize.list .mPrize .mSection:nth-child(9) .index:before{content:"第九场抽奖"}
.P.prize.list .mPrize .mSection:nth-child(10) .index:before{content:"第十场抽奖"}
.P.prize.list .mPrize .mSection .amount{font-size:remNew(30);}
.P.prize.list .mPrize .mSection .amount:before{content:"（奖品";}
.P.prize.list .mPrize .mSection .amount:after{content:"份";}
// .P.prize.list .mPrize .mSection.ready .amount:after{content:"份）";}
// .P.prize.list .mPrize .mSection.static .amount:after{content:"份）";}
.P.prize.list .mPrize .mSection .amount .n{font:inherit;padding:0 remNew(5)}
.P.prize.list .mPrize .mSection .join{margin-right:remNew(20);font-size:remNew(30);}
.P.prize.list .mPrize .mSection .join:before{content:"，"}
.P.prize.list .mPrize .mSection .join:after{content:"人已参与）"}
.P.prize.list .mPrize .mSection .join.zero:before{content:"）"}
.P.prize.list .mPrize .mSection .join.zero:after{content:""}
.P.prize.list .mPrize .mSection .join .n{font:inherit;padding:0 remNew(5)}
.P.prize.list .mPrize .mSection .start{position:absolute;bottom:remNew(40);left:remNew(160);color:#999;height:remNew(40);display:flex;align-items:center;}
.P.prize.list .mPrize .mSection .start:before{content:"开始时间："}
.P.prize.list .mPrize .mSection .CD{position:absolute;bottom:remNew(40);left:remNew(160);width:remNew(300);height:remNew(40);display:flex;align-items:center;background:#FFF;}

.P.prize.list .mPrize .mSection:before{content:"已经结束";position:absolute;bottom:remNew(46);left:remNew(40);width:remNew(100);height:remNew(30);color:#FFF;font-size:remNew(20);border-radius:remNew(5);@extend %center_flex;}
.P.prize.list .mPrize .mSection.done:before{content:"已经结束";background:#CCC;}
.P.prize.list .mPrize .mSection.done .index{color:#999;}
.P.prize.list .mPrize .mSection.done .amount{color:#999;}
.P.prize.list .mPrize .mSection.done .join{color:#999;}
.P.prize.list .mPrize .mSection .winner{position:absolute;bottom:remNew(40);left:remNew(160);width:remNew(450);height:remNew(40);color:#999;line-height:remNew(40);@extend %text_overflow;}
.P.prize.list .mPrize .mSection .winner:before{content:"中奖名单："}
.P.prize.list .mPrize .mSection .winner .user{padding-right:remNew(10);}
.P.prize.list .mPrize .mSection.done .status{display:none;}

.P.prize.list .mPrize .mSection.ready:before{content:"即将开始";background:$color_green;}
.P.prize.list .mPrize .mSection.ready .start{color:$color_green;}
.P.prize.list .mPrize .mSection.ready .CD{color:$color_green;}
.P.prize.list .mPrize .mSection.ready .CD:before{content:"抽奖倒计时：";}

.P.prize.list .mPrize .mSection.start:before{content:"正在进行";background:#FF7F00;}
.P.prize.list .mPrize .mSection.start .start:before{content:"开奖时间："}
.P.prize.list .mPrize .mSection.start .CD{color:#FF7F00;}
.P.prize.list .mPrize .mSection.start .CD:before{content:"开奖倒计时：";}

.P.prize.list .mPrize .mSection.static:before{content:"尚未开始";background:#666;}
.P.prize.list .mPrize .mSection.static .start{color:#666;}
.P.prize.list .mPrize .mSection.static .CD{color:#FF7F00;}
.P.prize.list .mPrize .mSection.static .CD:before{content:"开奖倒计时：";}




.M.float.goods .P.vip .U{border-radius:remNew(20);}
.M.float.goods.mini .P.vip .L{height:100%;padding-bottom:remNew(0)}
.M.float.goods .P.vip .mPanel.head{display:block;overflow:auto;height:100%;-webkit-overflow-scrolling:touch;}
.M.float.goods.mini .P.vip .mPanel.tip{display:none;}
.M.float.goods.mini .P.vip .mPanel.course{display:none;}




