
@import "../variable";


.M.sns .P,.M.sns .C,.M.sns .U{position:relative;}
.C.apc-opinion .N{position:static;height:auto;padding:0;background:none;}
.C.apc-opinion .N:before{display:none;}
.C.apc-opinion .N .back:after{display:none;}
.C.apc-opinion .N .back .icon{width:rem(30);height:rem(30);padding:rem(7);background:none;stroke:$color_one;stroke-width:1px;transition:all .4s}
.C.apc-opinion.oplist .N .back{display:none;}
.C.apc-opinion.oplist .N .back .icon{transform:rotate(-180deg)}
.C.apc-opinion.opdetail .N .back{display:none;}
.C.apc-opinion.opdetail .N .back .icon{transform:rotate(-90deg)}
.C.apc-opinion .N .back:active .icon{stroke:#FFF;background:$color_one;}
.C.apc-opinion .N .opinion{position:absolute;z-index:20;bottom:0;left:0;width:100%;height:rem(40);padding:0 rem(20);letter-spacing:0;font-size:rem(14);color:#FFF;border-radius:0;background:#999;justify-content:flex-start;}
.C.apc-opinion .N .opinion .icon{display:none;margin:0 rem(5)}
.C.apc-opinion .N .opinion .txt{font-size:inherit;width:100%;height:rem(40);padding:rem(2) 0 0 0;background:none;display:flex;align-items:center;}
.C.apc-opinion .N .opinion .txt:before{content:"发表评论";}
.C.apc-opinion .N .opinion.reply .txt:before{content:"回复楼主"}
.C.apc-opinion .N .opinion:active{color:#FFF;background:$color_one;}
.C.apc-opinion .N .opinion:active .icon{fill:#fff;}
.C.apc-opinion .N .chat{position:absolute;z-index:20;bottom:rem(8);right:rem(8);width:rem(50);height:rem(24);padding:0;letter-spacing:0;color:#FFF;font-size:rem(12);border-radius:rem(3);background:$color_green;@extend %center_flex;}
.C.apc-opinion .N .chat:before{content:"去聊天";}
.C.apc-opinion .N .refresh{display:none;position:absolute;z-index:20;top:rem(10);right:rem(10);width:rem(40);height:rem(40);padding:0;border-radius:rem(40);}

.C.apc-opinion .H .following{position:absolute;top:rem(10);right:rem(10);height:rem(40);padding:0 rem(10);@extend %center_flex;letter-spacing:0;}
.C.apc-opinion .H .following.new:after{content:"";display:block;position:relative;top:rem(-7);width:rem(7);height:rem(7);margin-left:rem(5);color:#FFF;border-radius:rem(20);background:#E60000;@extend %center_flex}
.C.apc-opinion .H .following .icon{position:relative;display:inline-block;width:rem(16);height:rem(16);margin-right:rem(5);fill:none;stroke:$color_one;stroke-width:3px;}
.C.apc-opinion .H .following .n{font-size:rem(20)}
.C.apc-opinion .H .following:active .icon{stroke:#FFF;}

.C.apc-opinion .H .opinion{position:absolute;z-index:20;top:rem(10);right:rem(10);height:rem(40);padding:0 rem(15);@extend %center_flex;letter-spacing:0;font-size:rem(16);}
.C.apc-opinion .H .opinion .icon{display:none;margin:0 rem(5)}
.C.apc-opinion .H .opinion .txt{font-size:inherit;}
.C.apc-opinion .H .opinion .txt:before{content:"我要发言"}
.C.apc-opinion .H .opinion.reply .txt:before{content:"回复楼主"}
.C.apc-opinion .H .opinion:active{color:#FFF;background:$color_one;}
.C.apc-opinion .H .opinion:active .icon{fill:#fff;}
.C.apc-opinion .H .refresh{position:absolute;z-index:20;top:rem(10);right:rem(10);width:rem(40);height:rem(40);padding:0;border-radius:rem(40);}


// .C.apc-opinion .N .back,.C.apc-opinion .N .close{transition:all .4s;}
// .C.list .N .back{display:none;}
// .C.detail .N .close{display:none;}

.C.apc-opinion.opinion .U[class*='op']{padding-top:rem(100)}
.C.apc-opinion .U[class*='op']{overflow:auto;overflow-x:hidden;position:absolute;z-index:1;right:0;width:100%;transition:all .4s;}
.C.apc-opinion.feed .U[class*='op'] .L{/*position:absolute;left:50%;width:rem(500);margin-bottom:rem(80);margin-left:rem(-250);*/padding:rem(60) 0 0;}
.C.apc-opinion .U[class*='op'] .L .label{display:none;}
// .C.apc-opinion .U[class*='op'] .L>.panel{position:absolute;top:0;left:0;width:100%;height:auto;}
.C.apc-opinion .U[class*='op'] a.post{position:absolute;right:rem(20);height: rem(52);margin-top:rem(15);padding: rem(15) rem(20) rem(11) rem(35); font-size: rem(20); }
.C.apc-opinion .U[class*='op'] a.tolist{display:none;position:absolute;left:rem(20);width:rem(54);height: rem(54);margin-top:rem(5);transform:rotate(-90deg); }
/*.C.apc-opinion .U[class*='op'] .form a.post:after{content:"发表评论";}*/
.C.apc-opinion .U[class*='op'] a.tolist:after{content:"";}
.C.apc-opinion .U[class*='op'] a.post path{fill:#2A8BBE;}
.C.apc-opinion .U[class*='op'] a.post:hover path{fill:#E60000;}
.C.apc-opinion .U[class*='op'] a.tolist i{position:absolute;left:10px;width:3px;height:16px;border-radius:0;background:#2A8BBE;}
.C.apc-opinion .U[class*='op'] a.tolist i:nth-child(1){top:0;transform:rotate(45deg);}
.C.apc-opinion .U[class*='op'] a.tolist i:nth-child(2){top:9px;transform:rotate(-45deg);}
/*.C.apc-opinion .U[class*='op'] .form .input{display:none;position:absolute;bottom:87px;left:0;width:100%;border-color:#DDD;background:#FFF; }
.C.apc-opinion .U[class*='op'] .form .input:before{content:"写点什么吧，和大家分享你的感受……"; }
.C.apc-opinion .U[class*='op'] .form .btn.submit{display:none;position:absolute;bottom:20px;left:0;}
.C.apc-opinion .U[class*='op'] .form .btn.cancel{display:none;position:absolute;bottom:20px;right:0;margin:0;padding:0;width:52px;height:52px;border-radius:52px;background: none;}
.C.apc-opinion .U[class*='op'] .form .btn.cancel u{width:0;height:0;border:10px solid transparent;border-bottom-color:#999;}
.C.apc-opinion .U[class*='op'] .form.c{min-height: 315px;}
.C.apc-opinion .U[class*='op'] .form.c a.post{display:none;}
.C.apc-opinion .U[class*='op'] .form.c .input{display:block;}
.C.apc-opinion .U[class*='op'] .form.c .btn.submit{display:block;}
.C.apc-opinion .U[class*='op'] .form.c .btn.cancel{display:block;}*/
// .C.apc-opinion .U[class*='op'] .oplist,.C.apc-opinion .U[class*='op'] .opdetail{width:100%;padding-bottom:rem(50);/*margin:83px 20px 0;border-top:1px solid #DDD;*/transition:all .4s;}
/*.C.apc-opinion .U[class*='op'] .oplist.c{margin-top:285px;}*/
.C.apc-opinion .U[class*='op'] .L.m .V{width:100%;}
.C.apc-opinion .U[class*='op'] .userlist{width:100%;padding:20px 20px 0;}
.C.apc-opinion .U[class*='op'] .userlist:after{content:'';display:block;position:relative;overflow:visible;clear:left;}
.C.apc-opinion .U[class*='op'] .mU{float:left;width:100px;height:100px;margin-bottom:20px;}
.C.apc-opinion .U[class*='op'] .mU[class*=' m']{color:#2A8BBE;}
.C.apc-opinion .U[class*='op'] .mU[class*=' f']{color:#FF7F00;}
.C.apc-opinion .U[class*='op'] .mU a{display:block;width:100%;height:100%;font-size:14px;text-align:center}
.C.apc-opinion .U[class*='op'] .mU a u{display:block;width:60px;height:60px;margin:10px auto;padding:14px;border:1px solid #DDD;border-radius:50px;background:#F5F5F5;}
.C.apc-opinion .U[class*='op'] .mU a u img{width:30px;height:30px;}



// .apc-opinion{}
.mlist .mOpinion { position:relative;/*min-height:100px;*/padding:rem(20) 0;}
// .mlist .mOpinion:active { background: #F5F5F5; }
.mlist>.mOpinion:after{content:"";position:absolute;bottom:0;left:0;width:100%;height:1px;border:solid transparent;border-width:0 rem(20) 0 rem(60);background:#F5F5F5 padding-box;box-sizing:border-box;}
.opdetail .mOpinion:after { display: none; }
.opdetail .mOpinion:active { background: none; }
.mlist .mOpinion .mh .icon { position:absolute;top:10px;left:0;width:rem(30); height: rem(30);}
.mlist .mOpinion .mh{height:2em;line-height:2em;font-size:rem(14)}
.mlist .mOpinion .mh .fn {position:relative;z-index:2;padding:0 rem(10) 0 rem(60);font-size:rem(12); }
.mlist .mOpinion .mh .fn.official{color: #FF7F00;}
.mlist>.mOpinion>.mh>.fn.official:after{content: '官方';position:absolute;top:rem(-1);right:rem(-25);display:inline-block;width:rem(22);height:rem(14);text-align:center;line-height:rem(16);margin-left:rem(5);padding:rem(1) rem(3);color:#FFF;font-size:rem(10);border-radius:rem(3);background:#FF7F00;}
// .mlist .mOpinion .mh .fn:active{background:red;}
.mlist .mOpinion .mh .fn .icon {overflow:hidden;position:absolute;top:rem(-5);left:rem(20);width:rem(30);height:rem(30);padding:rem(7);border-radius:rem(30);background-size:cover;fill:none;stroke:#CCC;stroke-width:rem(2);}
.mlist .mOpinion .mh .fn .icon.default{border:1px solid #DDD;border-radius:rem(30);}
.mlist .mOpinion.t>.mh .fn:before{content:"Top";position:absolute;top:rem(-1);right:rem(-62);display:inline-block;width:rem(22);height:rem(14);text-align:center;line-height:rem(16);margin-left:rem(5);padding:rem(1) rem(3);color:#FFF;font-size:rem(10);border-radius:rem(3);background:$color_green;}
// .mlist .mOpinion .mh .action time{display:inline-block;margin-left:rem(5);padding:0 rem(5);border-radius:rem(10);}
.mlist .mOpinion .mh .apc-star {position:relative;display:inline-block;margin-left:rem(5);display:none;}
.mlist .mOpinion .mh .del u{display:block;position:absolute;top:rem(9);left:rem(9);width:rem(20);height:rem(20); }
.mlist .mOpinion .mh .rp path{fill:#CCC }
.mlist .mOpinion .mh .del{position:absolute;top:0;right:0;width:rem(40);height:rem(40) !important;}
.mlist .mOpinion .mh .del path{fill:#E60000 }
.mlist .mOpinion .mh .del:after{display:none;}
.mlist .mOpinion.fail .mh,.mlist .mOpinion.fail .mc,.mlist .mOpinion.fail .mo{opacity:.3;}
.mlist .mOpinion.fail:before{content:"有敏感词，发送失败";position:absolute;top:0;left:0;width:100%;height:100%;color:#E60000;font-size:rem(30);background:rgba(#E60000,.1);@extend %center_flex;}
// .mlist .mOpinion .mc { clear:left;padding:0 rem(20) 0 rem(60);color:#333;font-size:rem(14);line-height:2 }

.mlist>.mOpinion>.operate{display:none;position:absolute;z-index:2;top:0;left:0;width:100%;height:100%;@extend %center_flex;background:rgba(0,0,0,.2)}
.mlist>.mOpinion.c>.mh,.mlist>.mOpinion.c>.mc,.mlist>.mOpinion.c>.mo,.mlist>.mOpinion.c>.like,.mlist>.mOpinion.c>.ml{filter:blur(15px)}
.mlist>.mOpinion.c>.operate{display:flex;}
.mlist>.mOpinion.c>.operate .apc-btn{width:rem(60);height:rem(60);margin:0 rem(20);font-size:rem(16);border:1px solid transparent;border-radius:rem(60);@extend %center_flex;background:rgba(255,255,255,.95)}
.mlist>.mOpinion.c>.operate .apc-btn.priority,.mlist>.mOpinion.c>.operate .apc-btn.unpriority{color:$color_one;border-color:$color_one;}
.mlist>.mOpinion.c>.operate .apc-btn.priority .icon,.mlist>.mOpinion.c>.operate .apc-btn.unpriority .icon,.mlist>.mOpinion.c>.operate .apc-btn.adminDel .icon{display:none;}
.mlist>.mOpinion.c>.operate .apc-btn.priority:before{content:"置顶"}
.mlist>.mOpinion.c>.operate .apc-btn.unpriority:before{content:"取消"}
.mlist>.mOpinion.c>.operate .apc-btn.adminDel{color:#E60000;border-color:#E60000;}
.mlist>.mOpinion.c>.operate .apc-btn.adminDel:before{content:"删除"}

.mlist .mOpinion>.mc{position:relative;padding:0 rem(20) 0 rem(60);padding-top:rem(5) !important;font-size:rem(12);line-height:2;color:#333;}
.opdetail .mOpinion .mOpinion>.mc{padding-top:0 !important;}
// .mlist .mOpinion>.mc .txt{font-size:inherit;}
.mlist .mOpinion>.mc .txt{padding:0;font-size:inherit;color:#333;letter-spacing:1px;line-height:1.5;}
.mlist .mOpinion>.mc .txt p{line-height:inherit;font-size:inherit;}
.mlist .mOpinion>.mc img{max-width:90%;}
.mlist .mOpinion>.mc .q{padding:20px 10px 0;color:#999;text-indent:0;border-top:1px solid #DDD;}
.mlist .mOpinion>.mc .icon{position:relative;top:rem(4);display:inline-block;width:rem(18);height:rem(18);margin:0 rem(2);fill:#FF7F00;}
.mlist .mOpinion .mc .file{margin:rem(20) 0 0;}
.mlist .mOpinion .mc .file .icon{top:0;display:block;width:auto;margin:0;}
.mlist .mOpinion .mc .file .img{position:relative;display:inline-block;width:rem(50);height:rem(50);margin-right:rem(5);background-size:cover;background-position:center;}
.mlist .mOpinion .mc .file .img.upload{filter:grayscale(1);}
.mlist .mOpinion .mc .file .img.upload:before{content:"";position:absolute;top:0;left:0;width:100%;height:100%;background:rgba(0,0,0,.5);}
.mlist .mOpinion .mc .file .img .apc-loading{padding:rem(10);}
.opdetail .mOpinion .mc .file .img,.mlist .mOpinion .mc .file.single img{display:block;width:auto;height:auto;margin-top:rem(10);}

.mlist .mOpinion .mc .link{position:relative;z-index:3;max-width:rem(400);height:rem(64);margin-bottom:rem(10);padding-left:rem(68);padding-right:rem(10);font-size:rem(14);line-height:2;border-radius:rem(3);background:#F5F5F5;display:flex;align-items:center;}
.mlist .mOpinion .mc .link .icon{position:absolute;top:rem(7);left:rem(7);width:rem(50);height:rem(50);border-radius:rem(3);background-size:cover;background-position:center;background-repeat:no-repeat;}
.mlist .mOpinion .mc .link:active{background:#EEE;}
.mlist .mOpinion .mc .link time{position:absolute;bottom:0;right:0;height:rem(16);padding:0 rem(5);color:#999;font-weight:700;background:#F5F5F5;@extend %center_flex;tradnsform:translate(50%,-50%)}
.mlist .mOpinion .mc .link time:after{margin-left:rem(5);font-weight:400;}
.mlist .mOpinion.study .mc .link time:after{content:"m"}
.mlist .mOpinion.opinion.course .action:before{content:"评论了课程"}
.mlist .mOpinion.course.mark .action:before{content:"收藏了课程"}
.mlist .mOpinion.section.mark .action:before{content:"收藏了课时"}
.mlist .mOpinion.course.study .action:before{content:"学习了课程"}
.mlist .mOpinion.section.study .action:before{content:"学习了课时"}
.mlist .mOpinion.opinion .action:before{content:"评论了"; margin-right:rem(5);/*font-size:rem(18) */}
.mlist .mOpinion.opinion.org .action:before{content:"评论了学校";}
.mlist .mOpinion.release.course .action:before{content:"发布了课程";}
.mlist .mOpinion.release.section .action:before{content:"发布了课时";}
.mlist .mOpinion.release.course.live .action:before{content:"发布了直播课程";}
.mlist .mOpinion.follow.user .action:before{content:"关注了用户";}
.mlist .mOpinion.follow.org .action:before{content:"关注了学校";}
.mlist .mOpinion.follow.course .action:before{content:"关注了课程";}
.mlist .mOpinion.share.course .action:before{content:"分享了课程";}
.mlist .mOpinion.reproduce.course .action:before{content:"转载了课程";}

.mlist .mOpinion .mo {padding:0 rem(20) 0 rem(60);}
.mlist .mOpinion .mo time { display:inline-block;padding-top:rem(10);color:#999;font-size:rem(12); }
// .mlist .mOpinion .mo { position:absolute;top:rem(20);right:rem(20);width:rem(200);height:rem(20);text-align:right; }
.mlist .mOpinion .mo .apc-btn-count.reply,.mlist .mOpinion .mo .apc-btn{position:relative;z-index:2;display:inline-block;height:rem(30);margin-left:rem(5);padding:0 rem(10);text-align:center;color:#999;font-size:rem(12);line-height:rem(30);letter-spacing:0;border-radius:rem(5);}
.mlist .mOpinion .mo .apc-btn-count.reply{z-index:0;}
.mlist .mOpinion .mo .apc-btn-count.reply:after{content:" 个回复"}
.mlist .mOpinion .mo .apc-btn-count.reply:active{color:#FFF;background:#999;}
.mlist .mOpinion .mo .apc-btn.priority:active,.mlist .mOpinion .mo .apc-btn.unpriority:active{color:#FFF;background:$color_one;}
.mlist .mOpinion .mo .apc-btn.adminDel:active{color:#FFF;background:$color_red;}
.mlist .mOpinion .ml .mo{display:inline-block;padding:0;}
// .mlist .mOpinion .ml .mo .apc-btn.adminDel{display:inline-block;}
.mlist .mOpinion .mo .apc-btn-count.like{ position:absolute;z-index:2;top:rem(15);right:rem(10);width:auto;height:rem(40);padding:rem(12) rem(10) 0 rem(35);text-align:left;color:#999; }
.mlist .mOpinion .mo .apc-btn-count.like .icon{position:absolute;top:rem(11);left:rem(15);width:rem(14);height:rem(14);fill:#999;}
.mlist .mOpinion .mo .apc-btn-count.like.c{animation:fall 1s;}
.mlist .mOpinion .mo .apc-btn-count.like.c .icon{fill:#FF7F00;}
.mlist .mOpinion .mo .apc-btn-count.like.c .n{color:#FF7F00;}
.mlist .mOpinion .mo .apc-btn.priority:before{content:"置顶"}
.mlist .mOpinion .mo .apc-btn.unpriority:before{content:"取消置顶"}
.mlist .mOpinion .mo .apc-btn.adminDel:before{content:"删除";color:$color_red;}
.mlist .mOpinion .mo .apc-btn.adminDel:active:before{color:#FFF;}
.mlist .mOpinion .mo .apc-btn.unfollow:before{content:"不感兴趣";}
.mlist .mOpinion .mo .apc-btn.unfollow:active:before{color:#FFF;}
.mlist .mOpinion .apc-btn.chosen.c {color:#FF7F00;}

.mlist .mOpinion.unfollow .mh,.mlist .mOpinion.unfollow .mc,.mlist .mOpinion.unfollow .mo{filter: blur(10px);}
.mlist .mOpinion>.unfollow{position:absolute;z-index:2;top:0;left:0;width:100%;height:100%;@extend %center_flex;text-align:center;}
.mlist .mOpinion>.unfollow .name{display:block;font-size:rem(20);}
.mlist .mOpinion>.unfollow .name:before{content:"不再接收 "}
.mlist .mOpinion>.unfollow .study .name:after{content:" 的学习信息"}
.mlist .mOpinion>.unfollow .collect.course .name:after{content:" 收藏课程的信息"}
.mlist .mOpinion>.unfollow .follow.people .name:after{content:" 关注用户的信息"}
.mlist .mOpinion>.unfollow .follow.course .name:after{content:" 关注课程的信息"}
.mlist .mOpinion>.unfollow .follow.org .name:after{content:" 关注学校的信息"}
.mlist .mOpinion>.unfollow .opinion.course .name:after{content:" 评论课程的信息"}
.mlist .mOpinion>.unfollow .opinion.org .name:after{content:" 评论学校的信息"}
.mlist .mOpinion>.unfollow .apc-btn{display:inline-block;margin:rem(20) rem(10) 0 0;padding:0 rem(20);letter-spacing:0;}
.mlist .mOpinion>.unfollow .yes{color:#FFF;background:$color_one;}
.mlist .mOpinion>.unfollow .no{color:#999;}
.mlist .mOpinion>.unfollow .no:active{color:#999;background:none;}
.mlist .mOpinion>.unfollow .yes:before{content:"确定"}
.mlist .mOpinion>.unfollow .no:before{content:"返回"}

.mOpinion .undo{position:absolute;z-index:2;top:rem(20);right:rem(10);width:auto;height:rem(30) !important;padding:0 rem(7);text-align:center;line-height:rem(30);font-size:rem(12);color:#E60000;border-radius:rem(3)}
.mOpinion .mh .undo{top:rem(5);right:rem(5);background:rgba(245,245,245,.95)}
.mOpinion .undo:before{content:"撤销";margin-right:rem(3);}
.mOpinion .undo:active{color:#FFF;background:#E60000;}
.mOpinion .undo .n{position:relative;top:rem(-5);font-size:rem(9);}
// .mlist .mOpinion .mo .apc-btn-count:active{background:red;}
.mlist .mOpinion .to{ position:absolute;z-index:1;top:0;left:0;width:100%;height:100%;border-radius:rem(3);border:1px solid transparent; }



// .mlist .mOpinion { position:relative;/*min-height:100px;*/padding:rem(20) rem(20) rem(10);border-bottom:1px solid #DDD;}
.oplist .mlist .mOpinion .to:active { border-color:#DDD;background: rgba(0,0,0,.05); }
.opdetail .ml .mOpinion .rp:active { background: rgba(0,0,0,.05); }

.P.content .oplist .mlist .mOpinion .to:active { border-radius:0;border-color:transparent; }
// .mlist .mOpinion .mh .photo { position:absolute;top:rem(10);left:0;width:rem(30); height: rem(30); background-image: url(book.png); background-size: auto rem(200); }
// .mlist .mOpinion .mh .fn,.mlist .mOpinion .mh .apc-star {position:relative;float:left;height:rem(20);padding-top:rem(3);font-size:rem(16); }
// .mlist .mOpinion .mh .fn {padding-left:rem(30); }
// .mlist .mOpinion .mh .fn .icon {position:absolute;top:0;left:0;width:rem(30);height:rem(30);border-radius:rem(30);}
// // .mlist .mOpinion .mh .fn img {position:absolute;top:0;left:0;width:rem(30);height:rem(30);}
// .mlist .mOpinion .mh .btn u{display:block;position:absolute;top:14px;left:14px;width:20px;height:20px; }
// .mlist .mOpinion .mh .rp path{fill:#CCC }
// .mlist .mOpinion .mh .del{position:absolute;top:0;right:0;width:48px;height:48px !important;}
// .mlist .mOpinion .mh .del path{fill:#E60000 }
// .mlist .mOpinion .mh .del:after{display:none;}
// .mlist .mOpinion .mh time { padding:5px 0 0 10px;color:#CCC;font-size:12px; }
// .mlist .mOpinion .mc,.mlist .mOpinion .mc p { clear:left;padding:10px 20px 0 30px;font-size:16px;line-height:2em;letter-spacing:1px; }
// .mlist .mOpinion .mc p{padding-left:0;text-indent:2em;}
// .oplist .mlist .mOpinion .mc { overflow:hidden; max-height:4.7em;text-overflow:ellipsis;white-space:nowrap;}
// .oplist .mlist .mOpinion .mc .image a{ display:inline-block;width:rem(50);height:rem(50);margin:rem(10) 0 0 rem(32);border-radius:3px;border:1px solid #DDD;background-size:100%;background-repeat:no-repeat;background-position:center;}
// .mlist .mOpinion a.to{ position:absolute;z-index:1;top:0;left:0;width: 100%;height:100%; }

// .mlist .mOpinion.a{min-height:rem(80);padding:rem(15) rem(20) rem(30);}
// // .mlist .mOpinion.a>.title{font-size:20px;}
// .mlist .mOpinion.a>.mh{/* padding-right:40px; */font-size:18px;letter-spacing:1px;line-height:1.5em;}
// .mlist .mOpinion.a>.ms{margin:rem(20) rem(32) rem(10);padding:0 1em;font-size:rem(12);line-height:2;color:#666;border-left:1px solid #CCC;}
// .mlist .mOpinion.a>.mc{padding:0;max-height:initial;white-space:initial;}
// .mlist .mOpinion.a>.mc p{margin:1em 0;padding:0;font-size:16px;color:#333;letter-spacing:1px;}
// .mlist .mOpinion.a>.mc img{width:100%;}
// .mlist .mOpinion.a>.mc p img{width:90%;}
// .mlist .mOpinion.a>.mc p.q{padding:20px 10px 0;font-size:14px;color:#999;text-indent:0;border-top:1px solid #DDD;}
// .mlist .mOpinion.a>.mc p.m{margin:0;}
// .mlist .mOpinion.a>.mc p.m i{color:#2A8BBE;}
.mlist .mOpinion .pic{position:absolute;top:10px;left:10px;width:60px;height:60px;border-radius:3px;background-position:center 0;background-repeat:no-repeat;background-size:cover;}
.mlist .mOpinion .pic u{position:relative;display:block;width:100%;height:100%;padding:10px;}
.mlist .mOpinion .pic u i{position:absolute;top:0;left:0;width:100%;height:100%;padding-top:3px;font-size:14px;letter-spacing:1px;color:#AAD010;@extend %center_flex;}
// .mlist .mOpinion .title{display:block;padding:3px 0 0 0;font-size:18px;color:#333;letter-spacing:1px;line-height:1.5em;}
.mlist .mOpinion .ver,.opdetail .mOpinion .ver{display:block;padding:0 0 0 0;color:#999;letter-spacing:1px;line-height:2;}
.mlist .mOpinion .ver b,.opdetail .mOpinion .ver b{padding:0 10px 0 0;font-size:14px;color:#333;}
/*.mlist .mOpinion .time{position:absolute;right:0;bottom:0;}*/
.mlist .mOpinion .stats{display:none;position:absolute;top:60px;left:100px;font-size:12px;color:#999;font-family:Segoe UI,微软雅黑;}
/*.mlist .mOpinion .stats{display:none;position:absolute;top:60px;left:100px;font-size:12px;color:#999;font-family:Segoe UI,微软雅黑;}*/
/*.mlist .mOpinion a.to:active{background:rgba(255,255,255,.1);}*/
/*.mlist .mOpinion a.to.a{background: red}*/

/*.mlist .mOpinion.em .title{color:#AAD010;}*/
/*.mlist .mOpinion.em .ver b{color:#AAD010;}*/

// // .mlist .mOpinion .mo{position:absolute;z-index:2;top:rem(15);right:rem(10);}
// .mlist .mOpinion .mo a{position:relateive;float:right;height:30px;margin-left:rem(20);padding:0 10px;font-size:14px;border:1px solid transparent;border-radius:3px;}
// .mlist .mOpinion .mo a:active{color:#F5F5F5;background:#000;}
// .mlist .mOpinion .mo a:active:before{display:none;}
// .mlist .mOpinion .mo a:active b{color:#F5F5F5;}
// .mlist .mOpinion .mo a:active path{fill:#F5F5F5;}
// .mlist .mOpinion .mo a u{position:relative;float:left;top:4px;left:0;width:20px;height:20px;}
// .mlist .mOpinion .mo a u path{fill:#2A8BBE;}
// /*.mlist .mOpinion .mo a.rp i:before{content:'回复';}*/
// .mlist .mOpinion .mo a.rp b{float:left;position:relative;top:3px;height:24px;padding:5px;margin-left:5px;color:#999;font-size:14px;}
// .mlist .mOpinion .mo a.del{/* display:none; */border-color:transparent;}
// .mlist .mOpinion .mo a.del:active{background:none;}
// .mlist .mOpinion .mo a.del path{fill:#E60000;stroke:#FFF;}
// .mlist .mOpinion .mo a.del:active path{fill:#000;stroke:#FFF;}
// .mlist .mOpinion .mo a.del:after{content:'';}
// .mlist .mOpinion .mo a.edit path{fill:#2A8BBE}
// .mlist .mOpinion .mo a.edit:active path{fill:#FFF}

.mlist .mOpinion i.rp {position:absolute;z-index:1;bottom:5px;right:0;min-width:45px;height:45px;padding:10px;margin-left:20px;font-size:28px;color:#CCC }
.mlist .mOpinion i.rp:after {content:'个回复';position:relative;top:-2px;margin-left:10px;font-size:14px;}
.mlist .mOpinion i.rp.zero:after {content:'';}
.mlist .mOpinion .del path{ fill:#E60000 }

.opdetail .mOpinion{border:0;}
.opdetail .mOpinion.a .mo a.rp b{font-size:26px;}
.opdetail .mOpinion.a .mo{top:20px;}
.opdetail .mOpinion.a .mo a{height:40px;}
.opdetail .mOpinion.a .mo a u{width:30px;height:30px;}

.mlist .mOpinion .ml { position:relative;margin:rem(20) rem(20) 0;border-top:1px solid #DDD;}
/*.mlist .mOpinion .ml:before { content:'';position:absolute;top:-5px;left:-6px;border:5px solid transparent;border-bottom-color:#DDD; }*/
.mlist .mOpinion .mOpinion {min-height:initial;padding:rem(10) rem(10) rem(7);padding:rem(5) rem(8);border-bottom:1px solid #DDD; }
.opdetail .mOpinion .mOpinion{padding:rem(10) rem(5) rem(5)}
.mlist .mOpinion .mOpinion .mh{/*float:left;*/display:inline-block;}
.mlist .mOpinion .mOpinion .mh > .fn{ display:inline-block;float:none;height: auto; padding: 0 rem(3) 0 0; font-size: rem(12);line-height: 1 }
.mlist .mOpinion .mOpinion .mh i { color:#999;font-size:rem(18);line-height:1; }
/*.mlist .mOpinion .mOpinion .mh .fn:nth-child(3) { padding-top:7px;font-size:14px; }*/
.mlist .mOpinion .mOpinion .mc {position:relative;display:inline-block;padding:0 0 0 rem(7);color:#666;font-size:rem(12);line-height:2; }
.mlist .mOpinion .mOpinion .mc .txt,.mlist .mOpinion .mOpinion .mc p{line-height:inherit}
.mlist .mOpinion .mOpinion .mc a{position:absolute;width:rem(30);height:rem(30);margin:0 rem(10);border-radius:rem(3);background-size:cover;background-position:center;}
.mlist .mOpinion .mOpinion .rp {position:absolute;z-index:1;top:0;left:0;width:100%;height:100%;}
/*.mlist .mOpinion a.more { display: block;height:50px; }*/
/*.mlist .mOpinion a.more u{display:block;width:48px;width:48px;margin:0 auto;}*/
.mlist .mOpinion a.more path{fill:#CCC;}

.P.content .apc-opinion.list>.H>.txt:before{content:"交流"}
.apc-opinion.list>.H .back{display:none;}
.apc-opinion.list.update>.H .back{display:block;}
.apc-opinion.list.following>.H .opinion{display:none;}
.apc-opinion.detail>.H .following{display:none;}
.apc-opinion.detail>.H:before{display:none;}
.apc-opinion.detail>.H .back{display:block;}
.apc-opinion.detail>.H .back:after{display:none;}
.apc-opinion.detail>.H>.txt{display:none;}

.oplist .item .mOpinion { cursor: default; }

.mlist .mOpinion>.like{min-height:rem(23);margin:rem(10) rem(20) rem(10) rem(60);padding:0 0 rem(5);border:1px solid #EEE;border-radius:rem(3);@extend %clearfloat;}
.mlist .mOpinion>.like .apc-btn-count{position:relative;float:left;width:auto;padding:rem(7) rem(5) 0 rem(25);text-align:left;color:#CCC;}
.mlist .mOpinion>.like .apc-btn-count .icon{position:absolute;top:rem(8);left:rem(10);width:rem(12);height:rem(12);fill:none;stroke:#CCC;stroke-width:rem(1)}
.mlist .mOpinion>.like .user{@extend %clearfloat;}
.mlist .mOpinion>.like .logo{position:relative;top:0;float:left;width:rem(20);height:rem(20);margin:rem(5) 0 0 rem(5);border-radius:rem(30);background-size:cover;background-position:center;}
.mlist .mOpinion>.like .logo .icon{position:absolute;top:0;left:0;width:100%;height:100%;padding:rem(3.5);border-radius:rem(30);border:1px solid #DDD;fill:none;stroke:#CCC;stroke-width:rem(2);}
.oplist .mlist .mOpinion .ml{margin:rem(10) rem(20) 0 rem(60);padding:0;border:0;border-radius:rem(5);background:#EEE;}
.oplist .mlist .mOpinion .mOpinion{position:relative; z-index:2;cursor:pointer;border-bottom-color:#FFF;}
.oplist .mlist .mOpinion .mOpinion:last-child{border-bottom:0;}
.oplist .mlist .mOpinion .mOpinion .mh{float:none;display:inline;height:rem(25);}
.oplist .mlist .mOpinion .mOpinion .mh .fn,.oplist .mlist .mOpinion .mOpinion .mc,.oplist .mlist .mOpinion .mOpinion .mc .txt,.oplist .mlist .mOpinion .mOpinion .mc p{display:inline;line-height:1.5;font-size:rem(12) !important;word-break: break-all;}


.P.sns .V>a{display:none;}
/*.P.sns .H a{position:absolute;z-index:1;top:5px;left:50%;width:300px;height:50px;margin-left:-150px;padding:13px 0;text-align:center;font-size:24px;color:#333;border:1px solid transparent;}*/
.P.sns .C{overflow:hidden;position:absolute;top:50%;left:0;width:100%;height:0%;margin-top:-80px;}
.P.sns.iC .C{overflow:hidden;position:absolute;top:0;left:0;width:100%;height:100%;margin-top:0;}
.P.sns .U[class*='op']{opacity:.9;position:absolute;width:100%;background:#EEE;transition:all .4s;}
.P.sns .U.a{display:none;top:auto;width:30%;border:solid #DDD;border-width:1px 0;background:#EEE;}
/*.P.sns .L{height:100%;}*/


// .P.sns .U[class*='op'] .oplist{width:100%;max-width:800px;margin:0 auto;border:0;}
// .P.sns .U[class*='op'] .oplist.c{margin-top:205px;}


.M.sns .U{overflow:inherit;}
.M.sns.post{background:rgba(#000,0.5)}
.M.sns.post .B{top:30% !important;left:30% !important;width:rem(600);padding-top:rem(30);border-radius:rem(10);box-shadow:0 0 rem(20) rgba(#FFF,.5);background:#F5F5F5;}
.M.sns.post .B:before{content:"";position:absolute;top:0;left:0;width:100%;height:rem(30);cursor:move;}
.M.sns.post .B.oO{opacity:0 !important}
.M.sns.post .B.oI{opacity:1 !important}
// .M.sns.post.feed .B{width:65%;}
.M.sns.post .P{border-bottom:1px solid #DDD;border-bottom-right-radius:rem(10);border-bottom-left-radius:rem(10);background:#FFF;}

// .M.sns.post .H{display:none;top:0;width:770px;margin-left:-385px;padding:12px 0;font-size:16px;}
.M.sns.post .L{width:100%;}
.M.sns.post .L .apc-textarea{width:100%;height:rem(250) !important;min-height:rem(250) !important;max-height:initial;margin:0 auto;padding:rem(15) 0;border:0;border-radius:3px;}
// .M.sns.post .L .apc-textarea.emoji{height:rem(200) !important;max-height:rem(400)}
.M.sns.post .L .apc-textarea.title,
.M.sns.post .L .apc-textarea.summary{border-bottom:0;}
// .M.sns.post .L .apc-textarea .apc-toast{width:rem(100);margin-left:rem(-50);}
.M.sns.post textarea{width:100%;height:rem(45)}
.M.sns.post .L .apc-textarea>.file{}
.M.sns.post .L .apc-textarea>.emoji{opacity:0;position:absolute;left:50%;bottom:rem(70);width:rem(495);padding:rem(10);border:1px solid #DDD;border-radius:rem(10);background:rgba(245,245,245,.75);transform:translate(-50%,100%);transition:all .4s;}
// .M.sns.post.feed .L .apc-textarea>.emoji{width:96%;}
.M.sns.post .L .apc-textarea.emoji>.emoji{opacity:1;transform:translate(-50%,0);}
// .M.sns.post .L .submit{display:none;position:absolute;bottom:rem(10);right:rem(10);width:rem(100);height:rem(40);margin:0;padding:rem(2) 0 0;color:#FFF;font-size:rem(20);border-radius:rem(3);background:#AAD010;@extend %center_flex;}
// .M.sns.post .L .submit{left:50%;margin-left:rem(250);}
.M.sns.post .L .submit:after{content:"发送";}
.M.sns.post .L .switchIDd{position:absolute;z-index: 10;left:rem(60);bottom:rem(17);width:rem(130);height:rem(26);border:1px solid #DDD;border-radius:rem(30);}
.M.sns.post .L .switchID{position:absolute;z-index: 10;left:rem(60);bottom:rem(17);width:rem(200);height:rem(150);padding:0 rem(10);line-height:rem(26);border:1px solid #DDD;border-radius:rem(5);@extend %text_overflow;box-shadow:0 0 rem(20) #DDD;background:rgba(255,255,255,.95);transition:all .4s;}
.M.sns.post .L .switchID .v{width:100%;height:100%;}
.M.sns.post .L .switchID .sw_i{justify-content:flex-start;height:inherit;padding:0 0 0 rem(10);border-top:1px solid #EEE;transition:all .4s;}
.M.sns.post .L .switchID .sw_i:first-child{border:0;}
.M.sns.post .L .switchID .sw_i .icon.user{width:rem(24);height:rem(24);border-radius:rem(30);background-size:cover;transition:all .4s;fill: none;stroke: #CCC;stroke-width: rem(2);}
.M.sns.post .L .switchID .sw_i .icon.user svg{margin: rem(4);}
.M.sns.post .L .switchID .sw_i .txt{width:rem(110);@extend %text_overflow;transition:all .4s;}
.M.sns.post .L .switchID .to{display:none;position:absolute;top:0;left:0;width:100%;height:100%;}
.M.sns.post .L .switchID.c .to{display:block;}
.M.sns.post .L .switchID.c{width:rem(160);height:rem(26);padding:0 rem(5);border-radius:rem(30);box-shadow:0 0 0;}
.M.sns.post .L .switchID.c .sw_i{opacity:0;overflow:hidden;height:0 !important;border:0;padding: 0;}
.M.sns.post .L .switchID.c .sw_i .icon.user{top:rem(1);width:rem(16);height:rem(16);}
.M.sns.post .L .switchID.c .sw_i .icon.user svg{margin: rem(1);}
.M.sns.post .L .switchID.c .sw_i .txt{width:rem(90);}
.M.sns.post .L .switchID.c .sw_i.c{opacity:1;height:100% !important;color:#666;}
.M.sns.post .L .switchID .sw_i.official .txt{color:#FF7F00;}
.M.sns.post .L .switchID .sw_i.official:after{content: '官方';display:inline-block;position: absolute;top: rem(16);right: rem(10);width: rem(26);height: rem(16);text-align: center;line-height:rem(17);font-size: rem(10);background-color:#FF7F00; color: #fff;border-radius: rem(4);}
.M.sns.post .L .switchID.c .sw_i.official:after{top:rem(4);right: rem(10);}
.M.sns.post .L .switchID .sw_i .choiced.icon{position: absolute;top:rem(10);left: rem(6);z-index: 2;width:rem(12);height:rem(12);border-radius:rem(12);background-color: #AAD010;fill: #fff;}

.M.sns.post .esc{display:none;}

.M.update .B.iC{height:80% !important;}
.M.update .P .H{position:relative;top:0;padding:30px 0 20px;font-size:30px;color:#AAD010;@extend %center_flex;}
.M.update .esc{display:none;}

// .M.entry .B{bottom:0;height:rem(120);}
// .M.entry .o{display:none;}
.M.entry .C.guest .L .user{height:rem(60);display:flex;align-items:center;}
.M.entry .C.guest .L .user .icon{display:block;position:relative;width:rem(60);height:rem(60);padding:rem(20);}
.M.entry .C.guest .L .user .txt{display:flex;width:rem(270);height:rem(60);border-bottom:1px solid #EEE;align-items:center;}
.M.entry .C.guest .L .user .txt:before{font-size:rem(14);}
.M.entry .C.guest .L .user.login .icon{stroke:$color_one;}
.M.entry .C.guest .L .user.guest .icon{stroke:#000;}
.M.entry .C.guest .L .user.guest .icon:before{content:"?";position:absolute;bottom:rem(20);right:rem(19);width:rem(10);height:rem(10);color:#FFF;font-size:rem(8);border-radius:rem(15);background:#000;@extend %center_flex;}
.M.entry .C.guest .L .user.login .txt:before{content:"登录发言";}
.M.entry .C.guest .L .user.guest .txt:before{content:"游客发言";color:#000;}

// .opFile{position:absolute;z-index:4;bottom:0;left:0;clear:left;width:100%;height:rem(60);padding:rem(10);}
// .opFile .file>*{float:left;width:rem(40);height:rem(40);margin-right:rem(10)}
// .opFile .file input#file{opacity:0;position:absolute;z-index:10;bottom:rem(10);left:rem(10);cursor:pointer;width:rem(40);height:rem(40);overflow:hidden;}
// .opFile .file .add{position:relative;z-index:1;margin:0;}
// // .opFile .file .add:before{content:"上图";position:absolute;top:0;left:0;color:#DDD;}
// .opFile .file .add path{fill:#CCC}
// .opFile .f .zoom{display:none;width:100%;height:100%;}
// .opFile .f .zoom svg,
// .opFile .f input,
// .opFile .f .x1{display:none;}

// .opFile .upload,.M.sns.post .L .submit{position:absolute;z-index:10;bottom:rem(5);right:rem(5);width:rem(80);height:rem(40);margin:0;padding-left:rem(5);color:#FFF;font-size:rem(18);border-radius:rem(3);color:$color_one;@extend %center_flex;}
// .opFile .upload{color:#FFF;background:$color_one;}
// .opFile .upload .icon{fill:#FFF;}
// .M.sns.post .L .submit .icon{display:none;}
// .opFile .upload:after{content:"发送";}
// .opFile .upload:active,.M.sns.post .L .submit:active{color:#FFF;}
// .opFile .upload svg{display:none;}

// html{font-size:20px;}

@media screen and (max-width:2732px) and (-webkit-min-device-pixel-ratio:1.5) { //iPad Pro
}
@media screen and (max-width:2732px) and (orientation:landscape) and (-webkit-min-device-pixel-ratio:1.5) { // iPad Pro H 1366*1024
}
@media screen and (max-width:2048px) and (orientation:portrait) and (-webkit-min-device-pixel-ratio:1.5) { // iPad Pro V 1024*1366
}
@media screen and (max-width:2048px) and (-webkit-min-device-pixel-ratio:1.5) { // iPad
}
@media screen and (max-width:2048px) and (orientation:landscape) and (-webkit-min-device-pixel-ratio:1.5) { // iPad H 1024*768
}
@media screen and (max-width:1536px) and (orientation:portrait) and (-webkit-min-device-pixel-ratio:1.5) { // iPad V 768*1024
}
@media screen and (max-width:1440px) and (orientation:portrait){ //Android 1440p 1440*2560
  // @media (min-resolution:250dpi), screen and (max-width:1440px) and (-webkit-min-device-pixel-ratio:1.5) and (orientation:portrait){ //Android 1440p 1440*2560
  .oplist{margin-bottom: rem(30);}
  .mlist .mOpinion{padding:rem(10) 0;}
  .opdetail .mOpinion{padding:rem(10) 0 rem(100);}
  .mlist .mOpinion.a{padding:rem(10) rem(20) rem(20);}
  .opdetail .mOpinion.a{padding:rem(10) rem(15);}
  // .mlist .mOpinion .mh>.fn{padding-top:rem(4);}
  // .mlist .mOpinion .mh .fn,.mlist .mOpinion .mc{position:relative;padding:0 rem(10) 0 rem(60);font-size:rem(16) !important;}
  // .mlist .mOpinion .mc{font-size:28px !important;}
  .mlist .mOpinion .mOpinion .mh i{font-size:rem(16);}
  .mlist .mOpinion .mh .fn u{left:rem(10);}
  .mlist .mOpinion .mo .to:active{border-color:transparent;border-radius:0;}

  .P.video .C.apc-opinion>.N{display:none;}
  .C.apc-opinion .N{display:none;height:rem(50);}
  .C.apc-opinion .N .back{width:rem(50);height:rem(50);}
  .C.apc-opinion .N .back .icon{bottom:rem(10);left:rem(10);}
  .C.apc-opinion .N .opinion{width:auto;top:rem(5)}
  .C.apc-opinion .N .refresh{top:rem(5);right:rem(5)}
  // .C.apc-opinion .U[class*='op'] .L{left:0;width:100%;margin:0;padding:rem(50) 0 !important;}
  // .C.apc-opinion .U[class*='op'] .L .label{display:block;position:absolute;top:0;left:0;width:100%;height:rem(50);display:flex;justify-content: center;align-items: center;color:#999;font-size:rem(12);background:#FFF;}
  // .C.apc-opinion .U[class*='op'] .L>.label:before{content:"";position:absolute;top:0;left:0;width:100%;height:1px;background:-webkit-linear-gradient(left,rgba(#DDD,0),#DDD 50%,rgba(#DDD,0)) content-box;}

  // .P.video .C.apc-opinion .U[class*='op'] .L{padding-top:rem(220);}
  .C.apc-opinion .U[class*='op'] .userlist{padding:rem(15) rem(15) 0;}
  .C.apc-opinion .U[class*='op'] .mU{width:rem(95);margin-bottom:rem(15);}


  // .mlist .mOpinion .mo{top:10px;right:10px;}
  .mlist .mOpinion .mo a,.mlist .mOpinion.a .mo a{height:20px;}
  .mlist .mOpinion .mo a u,.mlist .mOpinion.a .mo a u{top:rem(1);width:rem(16);height:rem(16);}
  .mlist .mOpinion .mo a.rp b{top:0;height:20px;padding:4px;font-size:14px;}

  // .mlist .mOpinion .ml{margin:rem(10) rem(10) 0;}
  // .mlist .mOpinion .mOpinion .mh > .fn{padding-left:0 !important;}

  .M.sns.post .B{position:absolute;top:0 !important;left:0 !important;width:100%;padding:0;border-radius:0;box-shadow:0 0 0;background:none !important;}
  /*.M.sns.post .B{padding:7px 5px 7px 50px;}*/
  .M.sns.post .esc{top:8px !important;left:rem(5);width:rem(40);}
  .M.sns.post .esc u{padding:rem(4);}
  // .M.sns.post .L{padding-right:65px;}
  .M.sns.post .L .apc-textarea{width:100%;height:rem(110) !important;min-height:rem(110) !important;max-height:rem(600);border:0;transition:all .4s}
  .M.sns.post .L .apc-textarea:before{top:rem(12);left:rem(9);font-size:rem(14);}
  .M.sns.post textarea{max-height:rem(460);min-height:rem(110);}
  .M.sns.post .L .apc-textarea .apc-toast{width:rem(170);height:rem(20);margin-left:rem(-85);}
  .M.sns.post .L .apc-textarea .apc-toast .txt{line-height:rem(20);}
  .M.sns.post .L .apc-textarea > .emoji{width:rem(302);height:rem(180);}
  .M.sns.post .L .apc-textarea.emoji{height:rem(310) !important;}

  // .M.sns.post textarea{height:100%!important;/* padding:rem(7); */font-size:rem(14);}
  .M.sns.post .L .apc-input{border-width:1px 0 0;}
  .M.sns.post .L .btn.submit{width:rem(60);height:rem(30);font-size:rem(16);}
  .M.sns.post .L .submit{left:auto;margin-left:0;}
  .M.sns.post .L .switch span{border-top:0;}

  .M.update .P .H{padding-top:30px;font-size:24px;}



  .apc-opinion.detail>.H:before{display:block;}


  .C.apc-opinion .cF{height:rem(60);background:none;display:flex;justify-content:center;align-items:center;background:none;-webkit-backdrop-filter:none;backdrop-filter:none;}
  .C.apc-opinion .cF .opinion{width:calc(100% - 1.25rem);height:rem(40);margin:0 rem(10) 0 rem(10);padding:0 rem(15);letter-spacing:0;font-size:rem(12);color:#999;border:1px solid #DDD;justify-content:flex-start;background:rgba(255,255,255,.95);}
  .miniprogram .C.apc-opinion .cF .opinion{margin-left:rem(60);}
  .C.apc-opinion .cF .opinion .txt{font-size:inherit;}
  .C.apc-opinion .cF .opinion .txt:before{content:"我来说两句"}
  .C.apc-opinion .cF .opinion.reply .txt:before{content:"回复楼主"}
  .iPhone .C.apc-opinion .cF .opinion,.iPad .C.apc-opinion .cF .opinion,.Mac .C.apc-opinion .cF .opinion{background:rgba(255,255,255,.5);-webkit-backdrop-filter:saturate(180%) blur(rem(20));backdrop-filter:saturate(180%) blur(rem(20))}
  .C.apc-opinion .cF .toOpinion{position:absolute;top:rem(10);right:rem(50);width:rem(50);height:rem(40);padding:0;fill:$color_one;}
  .C.apc-opinion .cF .toOpinion .n{position:absolute;top:rem(3);right:rem(8);font-size:rem(9);letter-spacing:0;color:$color_one;}

  .C.apc-opinion .cF .chat{position:absolute;z-index:20;bottom:rem(18);right:rem(58);width:rem(50);height:rem(24);padding:0;letter-spacing:0;color:#FFF;font-size:rem(12);border-radius:rem(3);background:$color_green;display:flex;justify-content:center;align-items:center;}
  .C.apc-opinion .cF .chat:before{content:"去聊天";}

  .cF .user{position:absolute;z-index:20;bottom:rem(15);right:rem(15);width:rem(30);height:rem(30);padding:0;border-radius:rem(30);}
  .cF .user .icon{stroke:$color_green;background:none;}
  .cF .user:active{background:$color_green;}
  .cF .user:active .icon{stroke:#FFF;}

  .C.apc-chat .cF{height:rem(60);background:none;display:flex;justify-content:center;align-items:center;background:none;-webkit-backdrop-filter:none;backdrop-filter:none;}
  .C.apc-chat .cF .chat{width:calc(100% - 1.25rem);height:rem(40);margin:0 auto;padding:0 rem(15);letter-spacing:0;font-size:rem(12);color:#999;border:1px solid #DDD;justify-content:flex-start;background:rgba(255,255,255,.95);}
  .C.apc-chat .cF .chat .txt{font-size:inherit;}
  .C.apc-chat .cF .chat .txt:before{content:"我来说两句"}
  .iPhone .C.apc-chat .cF .chat,.iPad .C.apc-chat .cF .chat,.Mac .C.apc-chat .cF .chat{background:rgba(255,255,255,.5);-webkit-backdrop-filter:saturate(180%) blur(rem(20));backdrop-filter:saturate(180%) blur(rem(20))}


  // .C.apc-opinion .N{height:0;background:none;}
  // .iPhone .C.apc-opinion .N,.iPad .C.apc-opinion .N,.Mac .C.apc-opinion .N,.iPhone .C.apc-opinion,.iPad .C.apc-opinion,.Mac .C.apc-opinion{border:0;background:rgba(245,245,245,.85);-webkit-backdrop-filter:saturate(180%) blur(rem(20));backdrop-filter:saturate(180%) blur(rem(20));}
  // .C.apc-opinion .N .back{display:block;}
  // .C.apc-opinion .N .back .icon{background:#000;}
  // .C.apc-opinion .N .back:active .icon{background:$color_one;}
  // .C.apc-opinion .N .close,.C.apc-opinion .N .txt{display:none;}
  .C.apc-opinion .H .following .n{font-size:rem(16);}
  // .C.apc-opinion .N .opinion{display:none;}

  // .C.apc-opinion .N .opinion{top:rem(15);right:rem(20);width:rem(90);height:rem(30);padding:0;font-size:rem(16);text-align:center;letter-spacing:rem(1);}
  // .C.apc-opinion .N .opinion{top:auto;bottom:0;right:0;width:rem(50);height:rem(50);fill:#FFF;}
  // .P.list.content>.N>.col:after{display:none;}
  // .C.apc-opinion .N .opinion .icon{left:auto;right:rem(10);width:rem(30);height:rem(30);padding:rem(7);border-radius:rem(30);background:$color_one;-webkit-box-reflect:below 1px -webkit-gradient(linear,0% 0%, 0% 100%,from(transparent), color-stop(0.7, transparent), to(rgba(255,255,255,0.1)));}
  // .C.apc-opinion .N .opinion:active{background:none}
  // .C.apc-opinion .N .opinion:active .icon{background:#FF7F00;}
  // .C.apc-opinion .N .opinion .Reply{display:none;}
  // .C.apc-opinion .N .opinion.reply .Pen{display:block;}
  // .C.apc-opinion .N .opinion.reply .Reply{display:none;}

  // .C.apc-opinion .U[class*='op']{padding-top:rem(180);}
  // .C.apc-opinion .U[class*='op'] .L{padding-top:0;}

  .mlist .mOpinion .ml{margin:rem(20) rem(10) 0;}
  // .mlist .mOpinion .mOpinion{margin:rem(10) 0 rem(7)}
  .mlist .mOpinion .mh .fn,.mlist .mOpinion .mc,.mlist .mOpinion .mo{padding:0 rem(10) 0 rem(50);}

  .mlist .mOpinion .mh .fn .icon{left:rem(10);}
  .oplist .mlist .mOpinion .ml{margin:rem(10) rem(10) rem(10) rem(50);/*background:#F5F5F5;*/}
  .mlist .mOpinion>.like{margin:rem(10) rem(10) rem(10) rem(50);/*border-color:#F5F5F5;*/}
  .mlist .mOpinion .mo .apc-btn-count.like{top:rem(5);right:0;}

  .M.sns.post .L .apc-textarea>.emoji .emoji{margin-right:0;}



}
@media screen and (max-width:1080px) and (-webkit-min-device-pixel-ratio:1.5){ // Android 1080p 1080*1920
}
@media screen and (max-width:828px) and (-webkit-min-device-pixel-ratio:1.5){ // iPhone6+ 414
}
@media screen and (max-width:750px) and (-webkit-min-device-pixel-ratio:1.5){ // iPhone6 375
  .C.apc-opinion .U[class*='op'] .mU{width:85px;}
}
@media screen and (max-width:720px) and (-webkit-min-device-pixel-ratio:1.5){ // Android 720p 720*1280
  /*.mlist .mOpinion .mh>*{padding-top:5px;}*/
  /*.mlist .mOpinion .mh>*,*/
  /*.mlist .mOpinion .mc{}*/
  /*.mlist .mOpinion .mh .fn,.mlist .mOpinion .mc{padding-left:30px;font-size:14px !important;}*/
  /*.mlist .mOpinion .mOpinion .mh i{font-size:14px;}*/
  .mlist .mOpinion .ver{padding-top:4px;}
  .mlist .mOpinion .ver b{font-size:12px;}
  .mlist .mOpinion .title{font-size:14px;}
  .mlist .mOpinion .mh .fn u{width:18px;height:18px;}

  /*.mlist .mOpinion .mh time{padding-top:4px;}*/

  /*.C.apc-opinion .T .leader,.C.apc-opinion .T .summary,.C.apc-opinion .T>div:before{font-size:12px;}*/

  .C.apc-opinion .T .switch a{width:80px;font-size:14px;}
  .C.apc-opinion .T .join{padding:12px 15px;font-size:14px;}

  .C.apc-opinion .U[class*='op'] .userlist{padding:10px 10px 0;}


  .C.apc-opinion .evolution u,.C.apc-opinion .evolution svg{height:48px;}
}
@media screen and (max-width:640px) and (-webkit-min-device-pixel-ratio:1.5){ // iPhone5 320
  // .mlist .mOpinion .mh>.fn{padding-top:rem(4);}

  /*.C.apc-opinion .T .mo,.C.apc-opinion .T .switch,.switch span{height:30px;}*/
  .C.apc-opinion .U[class*='op'] .mU{width:rem(75);}


  // .mlist .mOpinion .mh>.fn{padding-top:rem(5);}
  // .mlist .mOpinion .mh .fn,.mlist .mOpinion .mc{font-size:rem(12) !important;}
  .C.apc-opinion .T .leader,.C.apc-opinion .T .summary,.C.apc-opinion .T>div:before{font-size:rem(12);}
  .mlist .mOpinion .mOpinion .mh i{font-size:rem(14);}
  .mlist .mOpinion .mh .fn u{width:rem(16);height:rem(16);}
  .mlist .mOpinion .mh time{padding-top:rem(4);}

  .C.apc-opinion .evolution u,.C.apc-opinion .evolution svg{height:rem(40);}
  .mlist .mOpinion.a .mh{font-size:rem(14);}
  .mlist .mOpinion.a .mo a{height:rem(24);}
  .mlist .mOpinion.a .mo a u{width:rem(20);height:rem(20);}

  .opdetail .mOpinion.a .mo a.rp b{font-size:rem(16);}
}
