
@import "../variable";

.P.people .U .H{overflow:visible;height:rem(200);}
.P.people .U .H .txt{position:relative;z-index:100;color:rgba(#FFF,.2)}
// .P.people .U .H .mOrg{width:auto;padding:rem(30);text-align:center;}
.P.people .U .H .mUser .pic.logo{position:absolute;z-index:2;bottom:rem(-80);left:50%;width:rem(120);height:rem(120);margin-left:rem(-600);border:rem(10) solid rgba(#FFF,1.85);border-radius:rem(120);background-size:cover;background-position:center;background-color:#FFF;background-clip:content-box;}
.P.people .U .H .mUser .pic.cover{position:absolute;z-index:1;bottom:0;left:0;width:100%;height:100%;background-size:100% auto;background-position:center;}
.P.people .U .H .mUser .name{position:absolute;z-index:2;bottom:rem(-60);left:50%;width:rem(300);height:rem(60);margin-left:rem(-460);font-size:rem(24);@extend %center_flex;justify-content:flex-start;}
.P.people .U .H .slogan{position:absolute;z-index:2;bottom:rem(-70);left:50%;width:rem(400);height:rem(20);margin-left:rem(-460);font-size:rem(14);color:#666;@extend %center_flex;justify-content:flex-start;}
.P.people .U .H .summary{display:none;width:rem(720);margin:rem(10) 0;font-size:rem(16);line-height:2;color:#666;@extend %text_overflow;}
// .P.people .U .H .slogan .intro:before{content:"展开";font-size:rem(14)}
.P.people .U .H .follow{display:inline-block;position:relative;z-index:2;margin:rem(20) rem(10) 0;padding:rem(5) rem(10);color:rgba(255,255,255,.75);text-shadow:rem(1) rem(1) rem(3) rgba(0,0,0,.5);border:0px solid rgba(255,255,255,.5);border-radius:rem(3)}
.P.people .U .H .follow .n{font-size:rem(14);}
.P.people .U .H .follow .n:after{margin-left:rem(2);font-size:rem(12)}
.P.people .U .H .follow .to{position:absolute;top:0;left:0;width:100%;height:100%;}
.P.people .U .H .following .n:after{content:"关注"}
.P.people .U .H .follower .n:after{content:"粉丝"}


.P.people .stats{width:rem(1200);height:rem(80);margin:0 auto rem(40);display:flex;justify-content:flex-end;align-items:center;}
.P.people .stats .count{display:flex;height:rem(40);padding:0 rem(20);@extend %center_flex;}
.P.people .stats .count .txt{font-size:rem(16);}
.P.people .stats .count .txt:before{padding-right:rem(5);}
.P.people .stats .count.following .txt:before{content:"关注";}
.P.people .stats .count.follower .txt:before{content:"粉丝";}
.P.people .stats .apc-btn{display:flex;width:rem(80);height:rem(40);margin-left:rem(20);color:#FF7F00;border:1px solid #FF7F00;}
.P.people .stats .follow .txt:before{content:"关注";}


.P.people>.H .stats{display:none;position:absolute;z-index:0;/* bottom:rem(-100); */left:50%;width:rem(800);height:rem(100);padding:rem(20) 0;transform:translate(-50%,0);background:rgba(255,255,255,.85);transition:all .4s;}
.P.people>.H .stats label{position:absolute;top:rem(20);left:50%;display:inline-block;width:auto;height:rem(34);margin:0 auto;padding:rem(8) rem(20);font-size:rem(18);line-height:1.2;letter-spacing:rem(2);color:#FFF;border-radius:rem(5);background:#000;transform:translate(-50%,0)}
.P.people>.H .stats .item{position:relative;flex-grow:1;width:33%;border:1px solid transparent;border-radius:rem(5);@extend %center_flex;}
.P.people>.H .stats .item:active{border-color:#EEE;background:#F5F5F5;}
.P.people>.H .stats .item .n{color:#666;font-size:rem(16);text-align:center;}
.P.people>.H .stats .item .n:before{margin-right:rem(5);color:#000;font-size:rem(16);line-height:2;}
.P.people>.H .stats .item .n .cn{font-size:rem(14);}
.P.people>.H .stats .item.new .n:before{content:"";position:absolute;top:rem(15);right:rem(15);width:rem(10);height:rem(10);color:#FFF;border-radius:rem(20);background:#E60000;@extend %center_flex;}
.P.people>.H .stats .item .to{position:absolute;top:0;left:0;width:100%;height:100%;}
.P.people>.H .stats .item.course,.P.people>.H .stats .item.follower{margin-right:rem(50);}
.P.people>.H .stats .item.course:after,.P.people>.H .stats .item.follower:after{content:"";position:absolute;top:0;right:rem(-24);width:1px;height:100%;background:-webkit-linear-gradient(top,rgba(#FFF,0),#DDD 50%,rgba(#FFF,0)) content-box;}
.P.people>.H .stats .item.visitor .n:before{content:"本周访客";}
.P.people>.H .stats .item.visitor .n:after{content:"本周访客";}
.P.people>.H .stats .item.sumday .n:after{content:"学习天数";}
.P.people>.H .stats .item.sumtime .n:after{content:"学习时间";}
.P.people>.H .stats .item.today .n:after{content:"今日学习";}
.P.people>.H .stats .item.update .n:before{content:"动态";}
.P.people>.H .stats .item.course .n:before{content:"课程";}
.P.people>.H .stats .item.like .n:before{content:"喜欢";}
.P.people>.H .stats .item.study .n:before{content:"学过";}
.P.people>.H .stats .item.growth .n:before{content:"成长";}
.P.people>.H .stats .item.following .n:after{content:"他关注的";}
.P.people>.H .stats .item.follower .n:after{content:"关注他";}
.P.people.me>.H .stats .item.following .n:after{content:"我关注的";}
.P.people.me>.H .stats .item.follower .n:after{content:"关注我的";}
.P.people.org>.H .stats .item.update .n:after{content:"学校动态";}
.P.people.org>.H .stats .item.course .n:after{content:"学校课程";}
.P.people.org>.H .stats .item.student .n:after{content:"付费学员";}
.P.people.org>.H .stats .item.follower .n:after{content:"关注者";}


.P.people>.H .apc-switch{position:absolute;z-index:0;top:auto;left:50%;width:rem(800);height:rem(60);transform:translate(-50%,0);background:rgba(255,255,255,.85);transition:all .4s;}
.P.people>.H .apc-switch:after{content:"";position:absolute;bottom:-1px;left:0;width:100%;height:1px;background:-webkit-linear-gradient(left,rgba(#FFF,0),#DDD 50%,rgba(#FFF,0)) content-box;}
.P.people>.H .apc-switch .txt:before{margin-right:rem(5)}
.P.people>.H .apc-switch .update .txt:before{content:"动态"}
.P.people>.H .apc-switch .like .txt:before{content:"喜欢"}
.P.people>.H .apc-switch .study .txt:before{content:"学过"}
.P.people>.H .apc-switch .growth .txt:before{content:"成长"}

.P.people .C.course .H{height:rem(60);color:#FFF;background:#000;background-size:100%;background-repeat:no-repeat;background-position:center;}


.mData .apc-bar,.C.signup .apc-bar{display:flex;justify-content:flex-end;align-items: center;height:rem(20);border:0;border-radius:rem(20);padding:rem(1) rem(7) 0 0;}
.mData .apc-bar .bar_i,.C.signup .apc-bar .bar_i{display:flex;justify-content:flex-end;align-items: center;position:absolute;top:0;left:0;min-width:rem(20);height:100%;padding:rem(1) rem(7) 0 0;text-align:right;color:#FFF;border-radius:rem(20);transition:width 1s;}
.mData .apc-bar .bar_i.signup,.C.signup .apc-bar .bar_i.signup{background:$color_one;}
.mData .apc-bar .bar_i.checkin,.C.signup .apc-bar .bar_i.checkin{background:$color_green;}
.mData .apc-bar .n,.C.signup .apc-bar .n{color:#999;}
.mData .apc-bar .bar_i .n,.C.signup .apc-bar .bar_i .n{color:#FFF;}







.P.admin.home .C.home .panel.c1 .icon{background:#E60000;}
.P.admin.home .C.home .panel.c2 .icon{background:#F25500;}
.P.admin.home .C.home .panel.c3 .icon{background:#D9A213;}
.P.admin.home .C.home .panel.c4 .icon{background:#338421;}
.P.admin.home .C.home .panel.c5 .icon{background:#008B8B;}
.P.admin.home .C.home .panel.c6 .icon{background:#007FFF;}
.P.admin.home .C.home .panel.c7 .icon{background:#9400D3;}




.P.people .head{overflow:visible;height:rem(180);border-bottom:rem(10) solid #EEE;@extend %center_flex;}
// .P.people .mUser{width:rem(100);height:rem(100);background:red;}
.P.people .mUser .pic.logo{display:block;width:rem(60);height:rem(60);margin:0 auto;border-radius:rem(80);background:red;background-size:cover;background-position:center;background-color:#FFF;background-clip:content-box;}
.P.people .mUser .pic.cover{position:absolute;z-index:1;bottom:0;left:0;width:100%;height:100%;background-size:100% auto;background-position:center;}
.P.people .mUser .name{display:block;margin-top:rem(0);text-align:center;font-size:rem(20);line-height:2;}
.P.people .mUser .slogan{position:absolute;z-index:2;bottom:rem(-70);left:50%;width:rem(400);height:rem(20);margin-left:rem(-460);font-size:rem(14);color:#666;@extend %center_flex;justify-content:flex-start;}
.P.people .func .panel{border-bottom:rem(10) solid #EEE;}
.P.people .func .panel .mFunc{position:relative;height:rem(60);display:flex;align-items:center;}
.P.people .func .panel .mFunc .pic{position:absolute;top:rem(10);left:rem(10);width:rem(40);height:rem(40);padding:rem(10);fill:#000;}
.P.people .func .panel .mFunc.home .pic{fill:$color_one;}
.P.people .func .panel .mFunc.following .pic{fill:#F25500;}
.P.people .func .panel .mFunc.buy .pic{fill:#338421;}
.P.people .func .panel .mFunc.like .pic{fill:#E60000;}
.P.people .func .panel .mFunc.view .pic{fill:#AAD010;}
.P.people .func .panel .mFunc.point .pic{fill:#008B8B;}
.P.people .func .panel .mFunc.wallet .pic{fill:#D9A213;}
.P.people .func .panel .mFunc.info .pic{fill:#9400D3;}
.P.people .func .panel .mFunc .name{padding-left:rem(50);font-size:rem(14);}
.P.people .func .panel .mFunc.home .name:before{content:"我的主页";}
.P.people .func .panel .mFunc.buy .name:before{content:"我购买的";}
.P.people .func .panel .mFunc.like .name:before{content:"我喜欢的";}
.P.people .func .panel .mFunc.view .name:before{content:"我看过的";}
.P.people .func .panel .mFunc.view .pic{padding:rem(5);}
// .P.people .func .panel .mFunc.view .icon{display:block;border:1px solid #DDD;}
.P.people .func .panel .mFunc.following .name:before{content:"我的关注";}
.P.people .func .panel .mFunc.info .name:before{content:"我的资料";}
.P.people .func .panel .mFunc.point .name:before{content:"我的积分";}
.P.people .func .panel .mFunc.wallet .name:before{content:"我的钱包";}
.P.people .func .panel .mFunc .to{padding-left:rem(20);font-size:rem(14);}
.P.people .func .panel .mFunc .to .icon{position:absolute;top:0;left:auto;right:0;width:rem(60);height:rem(60);padding:rem(25);fill:#999;transform:rotate(90deg);}

.P.people .func .panel .mFunc .value{position:absolute;top:0;right:0;width:rem(200);height:rem(60);padding-right:rem(30);color:#999;font-size:rem(14);display:flex;align-items:center;justify-content:flex-end;}
.P.people .func .panel .mFunc .value:after{font-size:rem(10);margin-left:rem(5);}
.P.people .func .panel.action .mFunc .value:after{content:"个内容";}
.P.people .func .panel.action .mFunc .to .icon{display:none;}

.P.people .func .panel .mFunc .update{position:absolute;top:rem(20);right:rem(50);min-width:rem(20);height:rem(20);padding:0 rem(5);color:#FFF;border-radius:rem(30);background:$color_red;@extend %center_flex;}

.P.people .func .panel .mFunc.wallet .value:after{content:"新芽币";}
.P.people .func .panel .mFunc.point .value:after{content:"积分";}
.P.people .func .panel .mFunc.point .to .icon,.P.people .func .panel .mFunc.wallet .to .icon{display:none;}

.P.people .func .panel.home{display:none;}


.P.people .cH{padding:0;}
.P.people .cH{display:flex;justify-content:flex-start;align-items:center;height:rem(60);padding-left:rem(10);background-color:rgba(245,245,245,.5);}
.P.people .cH .txt{position:relative;height:rem(30);margin:0;padding-left:rem(5);font-size:rem(20);}
.P.people.content .collect .cH .txt:after{content:"我喜欢的";}
.P.people.content .buy .cH .txt:after{content:"我购买的";}
.P.people.content .view .cH .txt:after{content:"我看过的";}
.P.people .profile .cH .txt:after{content:"我的资料";}
// .P.people.content .collect .cH .icon{position:absolute;top:0;left:0;width:rem(30);height:rem(30);}

.P.people.content .U,.P.people.setting .U{padding-top:rem(60);}

.P.people.content .price{display:none;}

.P.people.setting .point .cH .txt:after{content:"我的积分"}
.P.people.setting .purchase .cH .txt:after{content:"我的新芽币"}
.P.people.setting .summary{width:rem(280);height:rem(120);margin:0 auto;box-shadow:0 0 rem(30) #EEE;background:#FFF;@extend %center_flex;font-size:rem(50);}
.P.people.setting .summary .n{font-size:rem(40);text-align:center;}
.P.people.setting .point .summary .n:after{display:block;width:100%;text-align:center;font-size:rem(14);}
.P.people.setting .point .summary .n.lv1:after{content:"（秀才）";}
.P.people.setting .point .summary .n.lv2:after{content:"（举人）";}
.P.people.setting .point .summary .n.lv3:after{content:"（贡士）";}
.P.people.setting .point .summary .n.lv4:after{content:"（进士）";}

.P.people.setting .record .mlist{padding:rem(20) 0 !important;}
.P.people.setting .mRecord{position:relative;padding:0 rem(20);border-bottom:1px solid #DDD;}
.P.people.setting .mRecord.th{display:none;}
.P.people.setting .mRecord .n{display:none;}
.P.people.setting .mRecord .tr{height:rem(70);}
.P.people.setting .mRecord .desc{display:block;width:rem(240);margin-bottom:rem(20);padding:0;font-size:rem(14);line-height:rem(48);@extend %text_overflow;}
.P.people.setting .mRecord .time{position:absolute;top:rem(25);left:rem(20);right:auto;width:rem(150);padding:0;color:#999;}
.P.people.setting .mRecord .value{position:absolute;top:0;right:0;width:rem(100);height:rem(50);padding-right:rem(20);justify-content:flex-end;font-size:rem(14);}


@media screen and (max-width:2732px) and (-webkit-min-device-pixel-ratio:1.5) { //iPad Pro
}
@media screen and (max-width:2732px) and (orientation:landscape) and (-webkit-min-device-pixel-ratio:1.5) { // iPad Pro H 1366*1024
}
@media screen and (max-width:2048px) and (orientation:portrait) and (-webkit-min-device-pixel-ratio:1.5) { // iPad Pro V 1024*1366
}
@media screen and (max-width:2048px) and (-webkit-min-device-pixel-ratio:1.5) { // iPad
}
@media screen and (max-width:2048px) and (orientation:landscape) and (-webkit-min-device-pixel-ratio:1.5) { // iPad H 1024*768
}
@media screen and (max-width:1536px) and (orientation:portrait) and (-webkit-min-device-pixel-ratio:1.5) { // iPad V 768*1024
}
@media screen and (max-width:1440px) and (orientation:portrait){ //Android 1440p 1440*2560
// @media (min-resolution:250dpi), screen and (max-width:1440px) and (-webkit-min-device-pixel-ratio:1.5) and (orientation:portrait){ //Android 1440p 1440*2560
  .P>.F{z-index:21;height:rem(50);background:rgba(255,255,255,.95) !important;}

  .P.people .U .H{height:rem(150);}
  .P.people .U .H .stats{bottom:rem(-90);width:100%;height:rem(90);padding:rem(10);border:solid #F5F5F5;border-width:rem(10) 0;}
  .P.people .U .H .stats .item .n{font-size:rem(18)}
  .P.people .U .H .stats .item .n:after{font-size:rem(8)}
  .P.people .U .H .stats .item.course,.P.people .U .H .stats .item.follower{margin-right:rem(15);}
  .P.people .U .H .stats .item.course:after,.P.people .U .H .stats .item.follower:after{right:rem(-8);}

  .P.people .U .H .mUser .pic.logo{bottom:rem(-50);left:rem(10);width:rem(70);height:rem(70);margin:0;border-width:rem(5);}
  .P.people .U .H .mUser .name{bottom:rem(-40);left:0;width:100%;margin:0;padding-left:rem(90);height:rem(40);font-size:rem(18);}
  .P.people .U .H .slogan{bottom:rem(-50);left:0;width:100%;height:rem(20);margin:0;padding-left:rem(90);font-size:rem(10);}

  .P.people .stats{position:absolute;z-index:20;top:0;left:0;width:100%;height:rem(40);}
  .P.people .stats .count{height:rem(30);padding:0 rem(10);}
  .P.people .stats .count .txt{font-size:rem(10);color:#FFF;text-shadow:2px 2px 2px #666;}
  .P.people .stats .follow{width:rem(50);height:rem(20);margin:0 rem(10);padding:0;font-size:rem(10);letter-spacing:0;border-radius:rem(3);background:#FFF}

  .P.people .mlist.feed{margin-top:rem(60);}

  .P.people .flex{width:100%;margin-top:rem(50);padding:rem(10);}
  .P.people .flex .panel{display:flex;width:50%;height:rem(60);margin:0;border:1px solid #FFF;background:#F5F5F5;}
  .P.people .flex .panel .item .icon{display:block;fill:#666!important;width:rem(30);height:rem(30);}
  .P.people .flex .panel .item .title{color:#666!important;font-size:rem(16);}
  .P.people .flex .panel.account .item .title{display:block;}

  .P.people .C.feed .H .account{display:none;}
  .P.people .C.feed .notice{overflow:visible;display:block;margin-top:rem(10);padding:rem(20) rem(10) rem(30);border-bottom-width:rem(10);}

  .iPhone .P.people .U .H .stats,.iPad .P.people .U .H .stats,.Mac .P.people .U .H .stats{border:0;background:rgba(255,255,255,.5);-webkit-backdrop-filter:saturate(180%) blur(rem(20));backdrop-filter:saturate(180%) blur(rem(20))}


}
@media screen and (max-width:1080px) and (-webkit-min-device-pixel-ratio:1.5){ // Android 1080p 1080*1920
}
@media screen and (max-width:828px) and (-webkit-min-device-pixel-ratio:1.5){ // iPhone6+ 414
}
@media screen and (max-width:786px) and (-webkit-min-device-pixel-ratio:1.5){ //
}
@media screen and (max-width:768px) and (-webkit-min-device-pixel-ratio:1.5){ //iPad
}
@media screen and (max-width:750px) and (-webkit-min-device-pixel-ratio:1.5){ // iPhone6 375
}
@media screen and (max-width:720px) and (-webkit-min-device-pixel-ratio:1.5){ // Android 720p 720*1280
}
@media screen and (max-width:640px) and (-webkit-min-device-pixel-ratio:1.5){ // iPhone5 320
}


