
@import "../variable";


.P.profile>.N{z-index:12;left:auto;right:rem(20);width:auto;padding:0 rem(70) 0 0;}
.P.profile>.N:before{display:none;}
.P.profile>.N>.apc-switch{width:rem(400)}
// .P.profile .apc-switch .txt{font-size: rem(20);}
.P.profile .apc-switch .info .txt:before{content:"资料"}
.P.profile .apc-switch .setting .txt:before{content:"设置"}
.P.profile .apc-switch .marketing .txt:before{content:"卡劵"}
.P.profile .apc-switch .account .txt:before{content:"账户"}
.P.profile>.N .logout{position:absolute;top:rem(10);right:0;width:rem(70);padding:rem(1) 0 0;letter-spacing:0;color:#E60000;}
.P.profile>.N .logout:active{color:#FFF;background:#E60000;}
.P.profile>.N .logout .txt:before{content:"退出"}


.P.profile .C .L .form{padding:rem(80) 0;}

.C.info.edit .form .logo.pic{display:block;position:relative;width:rem(150);height: rem(150);margin: 0 auto rem(80);border-radius:rem(160);background-size:cover;background-position:center;transition:all .4s;}
.C.info.edit .form .logo.pic .add{position: relative;display: inline-block;width:100%;height:100%;border-radius:100%;border:1px solid #CCC;fill:$color_one;}
.C.info.edit .form .logo.pic .add .icon{position:absolute;top:50%;left:50%;width:rem(80);height:rem(100);transform:translate(-50%,-50%);}
.C.info.edit .form .logo.pic .add:after{position:absolute;bottom:rem(30);left:0;width:100%;font-size: rem(14);text-align: center;letter-spacing:rem(1)}
.C.info.edit .form.basic .logo.pic .add:after{content:"你的头像"}
.C.info.edit .form .logo.pic .add:active{background-color: #3C8DFF;border:1px solid #3C8DFF;fill:#fff;}
.C.info.edit .form .logo.pic .add:active:after{color:#fff;}
.C.info.edit .form .logo.pic .modify{position:relative;display: inline-block;width:100%;height: 100%;}
.C.info.edit .form .logo.pic .modify .icon{position:absolute;top:50%;left:50%;width:rem(50);height:rem(50);padding:rem(10);transform:translate(-50%,-50%);border-radius:rem(50);background-color:rgba(0,0,0,.3);fill:#fff;stroke: #fff;}
.C.info.edit .form .logo.pic .error{position:absolute;top:0;right:0;padding:rem(2) rem(5);color:#FFF;border-radius:rem(3);background:#E60000;}
.C.info.edit .form .logo.pic .error:before{content:"请上传"}

.C.info.edit .form .slogan{height:rem(80);}
.C.info.edit .form .intro{height:rem(300);}


.C.edit .L{text-align:center;padding:rem(60) 0;@extend %clearfloat;}
.C.edit .panel{width:rem(500);margin:0 auto}
.C.edit .panel.basic>.apc-btn{display:none;}
.C.edit.vip .panel.basic>.apc-btn{display:block;}
// .C.edit  .panel{float:left;width:40%;margin:0 5%}
.C.edit .panel .label{display:block;margin-bottom:rem(20);text-align:center;font-size:rem(20);border-bottom:1px solid #DDD;}
.C.edit .panel .label .txt{display:block;color:#999;line-height:3;font-size:rem(14);letter-spacing:rem(2)}
.C.edit .option{position:relative;border:1px solid transparent;}
.C.edit .option>.label{height:rem(70);margin:0;padding-top:0;line-height:rem(70);font-size:rem(20);text-align:left;border:0;}
.C.edit .panel .apc-switch{position:absolute;top:rem(15);right:0;width:rem(270);border-radius:rem(40);}
.C.edit .panel .apc-switch .sw_i{color:#999;}
.C.edit .panel .apc-switch .sw_i.c{color:$color_one;}
.C.edit .panel .apc-switch .sw_s{border-radius:rem(40);}
.C.edit .myUpdate .sw_i.me .txt:before{content:"自己可见"}
.C.edit .myUpdate .sw_i.friend .txt:before{content:"朋友可见"}
.C.edit .myUpdate .sw_i.public .txt:before{content:"大家可见"}
.C.edit .followingUpdate .apc-switch{width:rem(180)}
.C.edit .followingUpdate .sw_i.yes .txt:before{content:"感兴趣"}
.C.edit .followingUpdate .sw_i.no .txt:before{content:"没兴趣"}

.C.edit .basic .label{display:none;margin:0;border:0;}
.C.edit .basic .label:before{content:"个人资料"}
.C.edit .basic .label .txt:before{content:"编辑完善你的个人信息"}
.C.edit.org .basic .label:before{content:"学校信息"}
.C.edit.org .basic .label .txt:before{content:"编辑完善学校信息"}
.C.edit.topic .basic .label:before{content:"专题信息"}
.C.edit.topic .basic .label .txt:before{content:"编辑完善专题信息"}
.C.edit.vip .basic .label:before{content:"创建会员卡/优惠劵"}
.C.edit.vip .basic .label .txt:before{content:"."}



.C.edit .pic{display:block;position:relative;width:100%;height: rem(300);height:rem(150);margin: 0 auto rem(40);}
.C.edit .basic .logo{position:absolute;top:50%;left:50%;width:rem(120);height: rem(120);border-radius:rem(120);transform:translate(-50%,-50%);background-color:#EEE;background-position:center;background-size:cover;background-repeat:no-repeat;}
.C.edit .basic .cover{display:none;overflow:hidden;width:100%;height:100%;border-radius:rem(5);}
.C.edit .basic .cover .img{display:block;position:relative;width:100%;height:100%;background-color:#F5F5F5;background-position:center;background-repeat:no-repeat;background-size:cover;transform:scale(1.5);transition:all .4s}
.C.edit .basic .cover:hover .img{filter:none;transform:none;}
.C.edit .basic .logo .add{display: inline-block;display:none;position: relative;width:100%;height:100%;border-radius:100%;fill:$color_one;}
.C.edit .basic .logo .add .icon{position:absolute;top:50%;left:50%;width:rem(80);height:rem(80);transform:translate(-50%,-50%);}
.C.edit .basic .logo .add:hover{box-shadow:0 0 rem(30) #DDD;outline:1px solid #EEE;background:#FFF;}
// .C.edit .basic .logo .add:after{position:absolute;bottom:rem(30);left:0;width:100%;font-size: rem(14);text-align: center;letter-spacing:rem(1)}
// .C.edit .basic .pic .add:after{content:"你的头像"}
.C.edit .basic .logo .add:active{background-color: #3C8DFF;border:1px solid #3C8DFF;fill:#fff;}
.C.edit.vip .basic .logo .add{display:inline-block;}
// .C.edit .pic .add:active:after{color:#fff;}
.C.edit .basic .logo .modify{display: inline-block;display:none;position:relative;width:100%;height: 100%;}
.C.edit .basic .logo .modify .icon{position:absolute;top:50%;left:50%;width:rem(50);height:rem(50);padding:rem(10);transform:translate(-50%,-50%);border-radius:rem(50);background-color:rgba(0,0,0,.3);fill:#fff;stroke: #fff;}
.C.edit .basic .cover{width:100%;height:100%;}
.C.edit .basic .cover .set{display:none;width:100%;height:100%;border-radius:rem(5);border:1px dashed #DDD;}
.C.edit .basic .cover .set:after{content:"设置背景";position:absolute;right:rem(20);bottom:rem(20);width:rem(80);height:rem(30);font-size:rem(14);letter-spacing:rem(1);border-radius:rem(3);background:rgba(255,255,255,.95);@extend %center_flex;fill:$color_one;}
.C.edit .basic .cover .set:active:after{color:#FFF;background-color:$color_one;fill:#fff;}
.C.edit .pic .error{position:absolute;top:0;right:0;padding:rem(2) rem(5);color:#FFF;border-radius:rem(3);background:#E60000;}
.C.edit .pic .error:before{content:"请上传"}

.C.edit.vip .basic .cover{border-radius:0;}
.C.edit.vip .basic .img{filter:none;transform:none;}
.C.edit.vip .basic .cover .set:after{content:"卡片背景"}

.C.edit .basic .item{display:flex;position:relative;width:100%;min-height:rem(60);padding:rem(12) rem(20) rem(12) rem(80);align-items:center;}
.C.edit .basic .item:hover{z-index:1;box-shadow:0 0 rem(30) #DDD;background:#FFF;}
.C.edit .basic .item:before{position:absolute;top:rem(20);left:0;width:rem(60);text-align:right;color:#999;}
.C.edit .basic .item .txt:before{color:#DDD;}
.C.edit .basic .item.orgName:before{content:"学校名"}
.C.edit .basic .item.orgName .txt:before{content:"填写学校名"}
.C.edit .basic .item.orgPhone:before{content:"电话"}
.C.edit .basic .item.orgPhone .txt:before{content:"填写电话"}
.C.edit .basic .item.orgAddr:before{content:"地址"}
.C.edit .basic .item.orgAddr .txt:before{content:"填写地址"}
.C.edit .basic .item.orgDingtax:before{content:"丁税宝"}
.C.edit .basic .item.orgDingtax .txt:before{content:"绑定丁税宝"}
.C.edit .basic .item.orgAdmin:before{content:"管理员"}
.C.edit .basic .item.orgAdmin .txt:before{content:"选择管理员"}
.C.edit .basic .item.snsbind:before{content:"绑定"}
.C.edit .basic .item.mobile:before{content:"手机"}
.C.edit .basic .item.mobile .txt:before{content:"填写手机"}
.C.edit .basic .item.fn:before{content:"用户名"}
.C.edit .basic .item.fn .txt:before{content:"填写用户名"}
.C.edit .basic .item.pw:before{content:"密码"}
.C.edit .basic .item.pw .txt:before{content:"填写密码"}
.C.edit .basic .item.name:before{content:"姓名"}
.C.edit .basic .item.name .txt:before{content:"填写姓名"}
.C.edit .basic .item.nick:before{content:"昵称"}
.C.edit .basic .item.nick .txt:before{content:"填写昵称"}
.C.edit .basic .item.slogan:before{content:"签名"}
.C.edit .basic .item.slogan .txt:before{content:"填写签名"}
.C.edit .basic .item.intro{height:auto;}
.C.edit .basic .item.intro:before{content:"简介"}
.C.edit .basic .item.subject:before{content:"主题投递"}
.C.edit .basic .item.dingMApp:before{content:"微应用"}
.C.edit .basic .item.dingMApp .txt:before{content:"绑定钉钉微应用"}
.C.edit .basic .item .txt{margin-right:rem(20);font-size:rem(18);line-height:2;}
.C.edit .basic .item .multi .txt{position:relative;z-index:1;}
.C.edit .basic .item .txt .del{display:none;position:absolute;width:rem(12);height:rem(12);border-radius:rem(16);background:red;fill:#FFF;}
.C.edit .basic .item .txt:hover .del{display:inline;}
.C.edit .basic .item.t .txt:before{display:none;}
.C.edit .basic .item .to{position:absolute;z-index:-1;top:0;left:0;width:100%;height:100%;}
.C.edit .basic .item .to:active{box-shadow:0 0 0;outline:0;background:rgba(0,0,0,.05);}
.C.edit .basic .item.lock{background:#F5F5F5;}
.C.edit .basic .item.lock .icon{position:absolute;top:0;right:0;width:rem(58);height:rem(58);padding:rem(20);fill:#CCC;}
.C.edit .basic .item.snsbind .link{position:relative;top:rem(3);width:rem(36);height:rem(36);margin-right:rem(20);@extend %center_flex;}
.C.edit .basic .item.snsbind .link .icon{display:block;width:100%;}
.C.edit .basic .item.snsbind .link.unbind path{fill:#EEE;}
.C.edit .basic .item.snsbind .link.unbind.weibo path:nth-child(1){fill:#FFF;}
.C.edit .basic .item.snsbind .link.wechat{padding:rem(3)}
.C.edit .basic .item.snsbind .link.alipay{padding:rem(6)}
.C.edit .basic .item.snsbind .link.weibo{padding:rem(3)}
.C.edit .basic .item.snsbind .link.qq{padding:rem(6)}


.C.edit.vip .basic .item.name:before{content:"名称"}
.C.edit.vip .basic .item.name .txt:before{content:"填写名称"}
.C.edit.vip .basic .item.intro:before{content:"介绍"}
.C.edit.vip .basic .item.intro .txt:before{content:"填写介绍"}
.C.edit.vip .basic .item.price:before{content:"价格"}
.C.edit.vip .basic .item.price .txt:before{content:"设置会员卡类型和价格"}

.C.edit .basic .item.subject .apc-checkbox{margin:0;transform:scale(1.5);transform-origin:0;}
.C.edit .basic .item.subject .apc-checkbox label{display:none;}

.C.edit .form .slogan{height:rem(80);}
.C.edit .form .intro{height:rem(300);}

.P.create .C.org .basic .pic{height:rem(160);margin:0 auto rem(20)}
.P.create .C.org .basic .label:before{content:"填写学校信息"}
.P.create .C.org .basic .label .txt:before{content:"上传标志"}
// .P.create .C.service .basic .item.orgAdmin .txt{color:$color_one;}
.P.create .C.org .L .submit{margin-top:rem(20);font-size:rem(18);}

.C.subarea .basic .label:before{content:"分区信息"}
.C.subarea .basic .label .txt:before{content:"."}
.C.subarea .basic .item.name:before{content:"分区名"}
.C.subarea .basic .item.name .txt:before{content:"填写分区"}
.C.subarea .basic .item.admin:before{content:"管理员"}
.C.subarea .basic .item.admin .txt:before{content:"指定管理员"}
.C.subarea .basic .item.org:before{content:"学校"}
.C.subarea .basic .item.org .txt{display:block;}
.C.subarea .basic .item.org .txt:before{content:"指定学校"}
.C.subarea .basic .submit:before{content:"创建分区"}
.C.subject .basic .submit:before{content:"创建主题"}
.C.vip .basic .submit:before{content:"创建会员卡"}


.C.group .basic .label:before{content:"小组信息"}
.C.group .basic .label .txt:before{content:"."}
.C.group .basic .item.name:before{content:"小组名"}
.C.group .basic .item.name .txt:before{content:"填写小组名"}
.C.group .basic .item.admin:before{content:"管理员"}
.C.group .basic .item.admin .txt:before{content:"指定管理员"}
.C.group .basic .item.org:before{content:"学校"}
.C.group .basic .item.org .txt{display:block;}
.C.group .basic .item.org .txt:before{content:"指定学校"}
.C.group .basic .submit:before{content:"创建小组"}


.C.subject .basic .label:before{content:"主题信息"}
.C.subject .basic .label .txt:before{content:"."}
.C.subject .basic .item.name:before{content:"主题名"}
.C.subject .basic .item.name .txt:before{content:"填写主题名"}
.C.subject .basic .item.admin:before{content:"管理员"}
.C.subject .basic .item.admin .txt:before{content:"指定管理员"}

.C.topic .basic .label:before{content:"专题信息"}
.C.topic .basic .label .txt:before{content:"."}
.C.topic .basic .item.name:before{content:"专题名"}
.C.topic .basic .item.name .txt:before{content:"填写专题名"}
.C.topic .basic .item.intro .txt:before{content:"填写简介"}
.C.topic .basic .item.admin:before{content:"管理员"}
.C.topic .basic .item.admin .txt:before{content:"指定管理员"}
.C.topic .basic .item.course:before{content:"课程"}
.C.topic .basic .item.course .txt{display:block;}
.C.topic .basic .item.course .txt:before{content:"指定课程"}
.C.topic .basic .submit:before{content:"创建专题"}


.M.profile{background:rgba(#000,0.5)}
.M.profile .B{top:50% !important;left:50% !important;width:rem(800);height:rem(400);margin:rem(-200) 0 0 rem(-400);border-radius:rem(5);box-shadow:0 0 rem(20) rgba(#FFF,.5);}
.M.profile .H{background:none;}
.M.profile.valid.mobile .H:after{content:"验证手机"}
.M.profile.set.orgName .H:after{content:"设置学校名称"}
.M.profile.set.subareaName .H:after{content:"设置分区名称"}
.M.profile.set.groupName .H:after{content:"设置小组名称"}
.M.profile.set.topicName .H:after{content:"设置专题名称"}
.M.profile.set.subjectName .H:after{content:"设置主题名称"}
.M.profile.set.orgPhone .H:after{content:"设置学校联系方式"}
.M.profile.set.mobile .H:after{content:"设置手机"}
.M.profile.set.fn .H:after{content:"设置用户名"}
.M.profile.set.fn .homepage:before{content:"你的个人主页："}
.M.profile.set.name .H:after{content:"设置真实姓名"}
.M.profile.set.nick .H:after{content:"设置昵称"}
.M.profile.set.slogan .H:after{content:"设置签名"}
.M.profile.set.intro .H:after{content:"设置简介"}
.M.profile.set.pw .H:after{content:"修改密码"}
.M.profile.set.bind.weibo .H:after{content:"绑定微博帐号"}
.M.profile.set.vipName .H:after{content:"设置会员卡"}
.M.profile .L{height:100%;@extend %center_flex;}
.M.profile .form{transform:scale(1.2)}
.M.profile .form .homepage{margin-bottom:rem(20);color:#999;}
.M.profile .form .homepage .txt{padding-left:rem(5);color:#000;}
.M.profile .form .apc-input{width:rem(260);height:rem(40);}
.M.profile .form .apc-input .ph{top:rem(12.5);}
.M.profile .form .apc-textarea{width:rem(340)}
.M.profile .form .apc-textarea.intro{height:rem(200)}
.M.profile .form .apc-input .text{font-size:rem(20);}
.M.profile .form .o{width:rem(260);margin:0 auto;}
.M.profile .form .apc-btn{float:left;width:50%;padding-left:rem(2);letter-spacing:rem(2);}
.M.profile .form .done:before{content:"确定"}
.M.profile .form .cancel{color:#999;}
.M.profile .form .cancel:active{color:#FFF;background:#999;}
.M.profile .form .cancel:before{content:"取消"}

.M.profile.bind .B{height:rem(360);}
.M.profile.bind .L{overflow:hidden;height:100%;}
.M.profile.bind .form{height:100%;margin-top:rem(60);padding:0;}
.M.profile.bind .o{display:none;}
.M.profile .form .third{width:100%;height:100%;}

.M.profile.set.vip .B{height:rem(600);margin-top:rem(-300)}
.M.profile.set.vip .form{height:rem(400);transform:none;}





@media screen and (max-width:2732px) and (-webkit-min-device-pixel-ratio:1.5) { //iPad Pro
}
@media screen and (max-width:2732px) and (orientation:landscape) and (-webkit-min-device-pixel-ratio:1.5) { // iPad Pro H 1366*1024
}
@media screen and (max-width:2048px) and (orientation:portrait) and (-webkit-min-device-pixel-ratio:1.5) { // iPad Pro V 1024*1366
}
@media screen and (max-width:2048px) and (-webkit-min-device-pixel-ratio:1.5) { // iPad
}
@media screen and (max-width:2048px) and (orientation:landscape) and (-webkit-min-device-pixel-ratio:1.5) { // iPad H 1024*768
}
@media screen and (max-width:1536px) and (orientation:portrait) and (-webkit-min-device-pixel-ratio:1.5) { // iPad V 768*1024
}
@media screen and (max-width:1440px) and (orientation:portrait){ //Android 1440p 1440*2560
// @media (min-resolution:250dpi), screen and (max-width:1440px) and (-webkit-min-device-pixel-ratio:1.5) and (orientation:portrait){ //Android 1440p 1440*2560

  .C.edit .L{padding-top:0;}
  .C.edit .panel{float:none;width:auto;}
  .C.edit .option{margin-bottom:rem(20);}
  .C.edit .option > .label{height:rem(40);line-height:rem(40);font-size:rem(16);}
  .C.edit .panel .apc-switch{position:relative;top:0;left:0;width:100%;}

  .C.edit .pic{height:rem(150);}
  .C.edit .basic .logo{width:rem(80);height:rem(80)}
  .C.edit .basic .cover .set:after{width:rem(70);height:rem(24);right:rem(10);bottom:rem(10);font-size:rem(12)}

  .C.edit .basic .item{padding:rem(15) rem(15) rem(15) rem(70);}
  .C.edit .basic .item:hover{z-index:1;box-shadow:0 0 0;background:none;}
  .C.edit .basic .item:before{width:rem(50);}
  .C.edit .basic .item .txt{font-size:rem(16)}
  .C.edit .basic .item.lock .icon{padding:rem(22)}
  .C.edit .basic .item .to:hover{box-shadow:0 0 0;outline:0;}

  .P.profile>.H{display:none;height:rem(100);}
  .P.profile>.N{display:none;top:rem(55);right:0;width:100%;height:rem(40);padding:0;background:none;-webkit-backdrop-filter:none;backdrop-filter:none;}
  // .P.profile .apc-switch{top:0;width:100%;height:100%;}
  // .P.profile .apc-switch .txt{font-size:rem(14);}
  // .P.profile .apc-switch .sw_i{font-size:rem(14);}
  .P.profile>.N .logout{top:rem(-40);right:rem(15);width:rem(60);height:rem(30);font-size:rem(14);color:#FFF;background:#E60000;}

  .P.profile .C .L .form{padding-top:rem(120);}
  .P.profile>.F{height:rem(50);}

  .C.info.edit .form .banner{display:none;}

  .M.profile .B{position:absolute;top:0 !important;left:0 !important;width:calc(100% - 1rem);height:rem(200);margin:rem(8);box-shadow:0 0 0;border-radius:rem(10);}
  .M.profile .H{font-size:rem(14);padding:0;padding-top:rem(2);text-align:center;color:#666;}
  .M.profile .H:before{display:none;}
  .M.profile.set.nick .H:after{content:"给自己设置一个昵称";}
  .M.profile.set.nick .form .apc-input{margin-top:rem(20);}
  .M.profile.set.nick .form .apc-input .label{display:none;}
  .M.profile.set.nick .form .apc-input .ph{left:50%;transform:translate(-50%,0);}
  .M.profile.set.nick .form .apc-input .text{text-align:center;}
  .M.profile.set.nick .submit{width:100%;}
  .M.profile.set.nick .cancel{display:none;}

  .M.profile.set.entName .H:after{content:"请填写你代表的企业名称";}
  .M.profile.set.entName .form .apc-input{margin-top:rem(20);}
  .M.profile.set.entName .form .apc-input .label{display:none;}
  .M.profile.set.entName .form .apc-input .ph{left:50%;transform:translate(-50%,0);}
  .M.profile.set.entName .form .apc-input .ph:before{content:"输入完整企业名称";}
  .M.profile.set.entName .form .apc-input .text{text-align:center;}
  .M.profile.set.entName .submit{width:100%;}
  .M.profile.set.entName .cancel{display:none;}

  // .M.profile.set.wechatBind .B{height:rem(300)}
  // .M.profile.set.wechatBind .H:after{content:"请选择并确认你的头像和昵称";}
  // .M.profile.set.wechatBind .L{display:flex;padding:rem(60) rem(10) 0}
  // .M.profile.set.wechatBind .mUser{width:50%;height:rem(160);display:flex;align-items:center;flex-direction:column;background:rgba(red,.1)}
  // .M.profile.set.wechatBind .mUser:before{display:block;width:100%;font-size:rem(12);text-align:center;line-height:3;color:$color_one;}
  // .M.profile.set.wechatBind .mUser.current:before{content:"当前头像"}
  // .M.profile.set.wechatBind .mUser.wechat:before{content:"微信头像"}
  // .M.profile.set.wechatBind .mUser .pic{width:rem(60);height:rem(60);border-radius:rem(60);background:rgba(red,.2)}
  // .M.profile.set.wechatBind .mUser .pic .icon{display:block;width:100%;height:100%;padding:rem(15);border-radius:rem(60);background-size:cover;fill:none;stroke:#999;stroke-width:rem(1);}
  // .M.profile.set.wechatBind .mUser .name{font-size:rem(18);line-height:3;}
  // .M.profile.set.wechatBind .submit{width:100%;}
  // .M.profile.set.wechatBind .cancel{display:none;}

  .M.profile .L{display:block;height:auto;align-items:inherit;}
  .M.profile .form{width:100% !important;padding-top:rem(50);transform:none;}
  .M.profile.pw .form{padding-top:0;}
  .M.profile.fn .homepage{position:relative;top:rem(-10);padding:0 rem(20);line-height:2;}
  .M.profile.fn .homepage:before{display:block;line-height:2;}

  .M.profile.mobile .B{height:rem(280);}
  .M.profile.fn .B{height:rem(280);}
  .M.profile.pw .B{height:rem(320);}
  .M.profile.intro .B{height:rem(360);}

}
@media screen and (max-width:1080px) and (-webkit-min-device-pixel-ratio:1.5){ // Android 1080p 1080*1920
}
@media screen and (max-width:828px) and (-webkit-min-device-pixel-ratio:1.5){ // iPhone6+ 414
}
@media screen and (max-width:786px) and (-webkit-min-device-pixel-ratio:1.5){ //
}
@media screen and (max-width:768px) and (-webkit-min-device-pixel-ratio:1.5){ //iPad
}
@media screen and (max-width:750px) and (-webkit-min-device-pixel-ratio:1.5){ // iPhone6 375
}
@media screen and (max-width:720px) and (-webkit-min-device-pixel-ratio:1.5){ // Android 720p 720*1280
}
@media screen and (max-width:640px) and (-webkit-min-device-pixel-ratio:1.5){ // iPhone5 320
}


