
@import "../variable";

.P.courseHome.iF{opacity:0;transform:scale(1.2) !important;}
.P.courseHome .C.course .L{height:100%;}
// .P.courseHome .C.course .N:before{display:none;}
.P.course.main.iB{opacity:0;transform:scale(0.9) !important;}
.P.course>.F{width:auto;}

  // .P.course .mCourse .P.user.home > .H{overflow:auto;-webkit-overflow-scrolling:touch;}
.P.course .C.course .L{padding-top:rem(80);}
.P.course .mCourse{position:relative;padding-bottom:rem(40)}
.P.course .mCourse .topic{display:none;}
.P.course .mCourse .name{display:none;}
.P.course .mCourse .author{position:relative;width:100%;height:rem(40);margin:rem(50) 0 rem(20);padding:rem(10);border-radius:rem(3);background:#F5F5F5;display:flex;align-items:center;}
.P.course .mCourse .author .icon{display:block;width:rem(20);height:rem(20);margin-right:rem(10);border-radius:rem(20);background-repeat:no-repeat;background-size:cover;background-color:#999;background-position:center;box-shadow:0 0 rem(1) #999;}
.P.course .mCourse .author .txt{float:left;font-size:rem(14);color:#999;}
.P.course .mCourse .author .follow{position:absolute;top:rem(10);right:rem(10);width:rem(40);height:rem(20);margin-left:rem(10);padding-top:rem(2);padding-left:rem(1);letter-spacing:rem(1);font-size:rem(12);color:#FF7F00;border-radius:rem(3);border:1px solid #FF7F00;}
.P.course .mCourse .author .follow:before{content:"关注"}
.P.course .mCourse .time{display:none;position:absolute;top:rem(37);left:rem(60);font-size:rem(10)}

.P.course.article > .H{display:block !important;}
.P.course.article > .H:before{display:block;content:"";position:absolute;z-index:1;top:0;left:0;width:100%;height:rem(60);background:rgba(255,255,255,.95);}
.P.course.article .mCourse{position:relative;overflow:auto;height:100%;-webkit-overflow-scrolling:touch;}
.P.course.article .mCourse .author{max-width:rem(600);margin:rem(80) auto rem(20);}
.P.course.article .mCourse .content{max-width:rem(600);margin:0 auto;}
.P.course.article .mCourse .content p{padding:rem(10) rem(20);font-size:rem(14);line-height:2}
.P.course.article .mCourse .content img{max-width:100%;}

.P.course .mCourse .apc-video{width:rem(720);height:rem(405);margin:0 auto;border-radius:rem(5);background-color:#1C1C20;}


.P.course .H{overflow:hidden;width:70%;height:100%;padding:0;border-right:0 solid #DDD;@extend %center_flex;}
.P.course .H>.txt{position:absolute;z-index:1;top:0;left:rem(80);}
.P.course .H .apc-btn-count{position:relative;float:left;display:inline-block;width:rem(30);height:rem(30);margin:rem(16) 0 0 rem(20);padding:rem(5);@extend %center_flex;}
.P.course .H .apc-btn-count .icon{width:100%;height:rem(16);}
.P.course .H .apc-btn-count.collect .icon{fill:none;stroke:#666;stroke-width:rem(1);}
.P.course .H .apc-btn-count .n{position:absolute;top:rem(-10);left:0;width:100%;padding:0 rem(7);text-align:center;font-size:rem(9);color:#999;}

.P.course>.N{display:block;z-index:21;left:auto;right:0;width:30%;padding:0 rem(20);border:0;background:rgba(#F5F5F5,.95) !important}
.P.course>.N:before{display:none;}
.P.course>.N .apc-switch .sw_i{width:50%;padding:0 rem(10);font-size:rem(16)}
// .P.course .N .apc-switch{float:left;top:0;width:50%;height:100%;}
// .P.course .N .apc-switch .sw_i{font-size:rem(16)}
// .P.course .N .apc-switch .sw1 .txt:before{content:"视频"}
// .P.course .N .apc-switch .sw2 .txt:before{content:"评论"}
// .P.course .N .apc-switch .sw3 .txt:before{content:"介绍"}
// .P.course .N .apc-switch .sw_s:before{content:"";position:absolute;bottom:rem(-18);left:50%;width:rem(12);height:rem(12);border:1px solid transparent;border-color:#DDD #DDD transparent transparent;background:#FFF;transform:translate(-50%,0) rotate(-45deg)}


.P.course .C{left:auto;right:0;width:30%;background:#F5F5F5;}
.P.course .L{padding:rem(60) 0;}

.P.course .mCourse .section{display:none;}
.P.course > .H>.mCourse .section .name{@extend %text_overflow;}
// .P.course .mCourse .section{display:none;position:relative;width:rem(720);margin:0 auto;padding-top:rem(30);padding-bottom:rem(1);}
// .P.course .mCourse .section:before{display:none;overflow:hidden;content:"相关知识点";position:absolute;top:0;left:0;height:rem(25);padding:0 rem(10);line-height:rem(25);font-size:rem(9);color:#999;box-sizing:border-box;}
// .P.course .mCourse .section .name{display:block;position:relative;height:rem(50);margin:0 0 rem(1);padding:0 rem(40) 0 rem(10);font-size:rem(16);color:#333;line-height:rem(50);}
// .P.course .mCourse .section .name .icon{position:absolute;top:rem(10);right:rem(5);width:rem(30);height:rem(30);padding:rem(5);transform:rotate(90deg)}



.P.course .mCourse .mo{width:100%;height:rem(40);margin-top:rem(30);@extend %center_flex;}
.P.course .mCourse .mo .apc-btn-count{position:relative;float:left;width:rem(40);height:rem(40);margin:0 rem(25);margin:0 rem(40);padding:rem(10);color:#999;fill:#666;border-radius:rem(60);border:1px solid #DDD;border:0;@extend %center_flex;}
// .P.course .mCourse .mo .apc-btn-count.section,.P.course .mCourse .mo .apc-btn-count.opinion{top:rem(80);}
// .P.course .mCourse .mo .apc-btn-count.collect,.P.course .mCourse .mo .apc-btn-count.share{top:rem(240);}
// .P.course .mCourse .mo .apc-btn-count.section,.P.course .mCourse .mo .apc-btn-count.collect{left:50%;transform:translate(rem(-550))}
// .P.course .mCourse .mo .apc-btn-count.opinion,.P.course .mCourse .mo .apc-btn-count.share{left:50%;transform:translate(rem(450))}
.P.course .mCourse .mo .apc-btn-count .n{position:absolute;top:rem(-8);padding:0 rem(7);font-size:rem(12);background:#FFF;}
.P.course .mCourse .mo .apc-btn-count.collect .icon,.P.course .mCourse .mo .apc-btn-count.opinion .icon{fill:none;stroke:#666;stroke-width:2px;}
.P.course .mCourse .mo .apc-btn-count:after{position:absolute;bottom:rem(-27);bottom:rem(-15);left:50%;width:rem(40);padding:0 rem(3);font-size:rem(12);text-align:center;color:#CCC;background:#FFF;transform:translate(-50%,0)}
.P.course .mCourse .mo .apc-btn-count.c:after{color:#FF7F00;}
.P.course .mCourse .mo .apc-btn-count:hover:after{display:block;}
.P.course .mCourse .mo .apc-btn-count.collect:after{content:"收藏"}
.P.course .mCourse .mo .apc-btn-count.collect.c:after{content:"已收"}
.P.course .mCourse .mo .apc-btn-count.opinion:after{content:"评论"}
.P.course .mCourse .mo .apc-btn-count.opinion.c:after{content:"已评"}
.P.course .mCourse .mo .apc-btn-count.attachment:after{content:"课件"}
.P.course .mCourse .mo .apc-btn-count.share:after{content:"分享"}
.P.course .mCourse .mo .apc-btn-count.section:after{content:"课时"}
.P.course .mCourse .mo .apc-btn-count.c{border-color:#FF7F00;}
.P.course .mCourse .mo .apc-btn-count.c .icon{fill:#FF7F00;}
.P.course .mCourse .mo .apc-btn-count.c .n{color:#FF7F00;}
.P.course .mCourse .mo .apc-btn-count.c.collect .icon{fill:none;stroke:#FF7F00;}
.P.course .mCourse .mo .apc-btn-count.c.opinion .icon{fill:none;stroke:#FF7F00;}
.P.course .mCourse .mo .apc-btn-count .icon{width:100%;height:100%;}


.mTimer{position:absolute;z-index:1;top:rem(10);right:rem(20);width:rem(120);height:rem(40);padding:rem(10);border:1px solid transparent;@extend %center_flex}
.mTimer .timer{display:block;}
.mTimer .icon{display:flex;width:rem(20);height:rem(20);margin-right:rem(10);fill:#999;}
.mTimer .icon svg{display:block;width:100%;height:100%;}
.mTimer .icon svg.AVPause{display:none;}
.mTimer .txt{display:flex;font-size:rem(20);color:#999;}



@media screen and (max-width:2732px) and (-webkit-min-device-pixel-ratio:1.5) { //iPad Pro
}
@media screen and (max-width:2732px) and (orientation:landscape) and (-webkit-min-device-pixel-ratio:1.5) { // iPad Pro H 1366*1024
}
@media screen and (max-width:2048px) and (orientation:portrait) and (-webkit-min-device-pixel-ratio:1.5) { // iPad Pro V 1024*1366
}
@media screen and (max-width:2048px) and (-webkit-min-device-pixel-ratio:1.5) { // iPad
}
@media screen and (max-width:2048px) and (orientation:landscape) and (-webkit-min-device-pixel-ratio:1.5) { // iPad H 1024*768
}
@media screen and (max-width:1536px) and (orientation:portrait) and (-webkit-min-device-pixel-ratio:1.5) { // iPad V 768*1024
}
@media (min-resolution:200dpi), screen and (max-width:1440px) and (-webkit-min-device-pixel-ratio:1.5) and (orientation:portrait){ //Android 1440p 1440*2560
// @media (min-resolution:250dpi), screen and (max-width:1440px) and (-webkit-min-device-pixel-ratio:1.5) and (orientation:portrait){ //Android 1440p 1440*2560


  .P.course > .H{display:block !important;overflow:auto;-webkit-overflow-scrolling:touch;}
  .P.course > .H .mCourse .name{display:block;padding:rem(60) rem(20) rem(10);font-size:rem(16);line-height:1.5}
  .P.course > .H .mCourse .author{width:rem(280);height:rem(20);margin:0;padding:0;}
  // .P.course > .H .mCourse .author .icon{position:absolute;top:0;left:0;width:rem(20);height:rem(20);border-radius:rem(30);background-repeat:no-repeat;background-size:cover;background-color:#999;background-position:center;box-shadow:0 0 rem(1) #999;}
  .P.course > .H .mCourse .author .txt{float:left;font-size:rem(14);color:#999;}
  // .P.course > .H .mCourse .author .follow{position:absolute;top:0;right:0;width:rem(45);height:rem(20);margin-left:rem(10);padding-top:rem(2);padding-left:rem(1);letter-spacing:rem(1);font-size:rem(12);color:#FF7F00;border-radius:rem(3);border:1px solid #FF7F00;}
  .P.course > .H .mCourse .author .follow{top:0;right:0;}
  .P.course > .H .mCourse .author .follow:before{content:"关注"}
  .P.course .mCourse .author .follow.c:before{content:"已关注"}
  .P.course .mCourse .author .follow.both:before{content:"互相关注"}
  .P.course .mCourse .author .follow.d{color:#999;border:1px solid #999;}
  .P.course > .H .mCourse .time{display:none;position:absolute;top:rem(37);left:rem(60);font-size:rem(10)}
  .P.course > .H .mCourse .text p{padding:rem(10) rem(20);font-size:rem(14);line-height:2}
  .P.course > .H .mCourse .text img{max-width:100%;}
  .P.course > .H .mTimer{display:none;}


  .P.course > .H{width:100%;min-height:100%;border:0;}
  .P.course > .H>.back,.P.course > .H>.txt{display:none;}
  .P.course > .N{top:0;width:100%;height:rem(50);background:#F5F5F5;transform:translate(0,-100%)}
  .P.course > .N .apc-switch{top:rem(5)}
  .P.course .C{z-index:20 !important;top:calc(100% - 3.125rem);width:100%;background:#F5F5F5}
  .P.course .C .mC{display:none;}
  .P.course .mCourse .author{position:absolute;top:rem(20);left:rem(20);width:rem(280);height:rem(20);margin:0;background:none;}
  .P.course .mCourse .author .icon{top:0;left:0;}
  .P.course .mCourse .apc-video{overflow:visible;position:relative;width:rem(280);height:rem(157);margin:0 auto;border-radius:rem(5)}
  .P.course .mCourse .apc-video .lock{display:none;}
  .P.course .L{padding-top:rem(40) !important;}

  .P.course.article > .H:before{display:none;}
  .P.course.article .mCourse .content{padding:0;}

  .P.course > .H > .mCourse{width:100%;}
  .P.course > .H > .mCourse > .mo{display:flex !important;height:rem(30);margin-top:0;margin-bottom:rem(50)}
  .P.course > .H > .mCourse > .mo .opinion{display:none;}
  .P.course.section > .H >.mC>.count{margin-bottom:rem(100);}

  .P.course > .H>.mCourse > .mo .apc-btn-count{width:rem(40);height:rem(30);margin:0 rem(40);padding:rem(12);border-radius:rem(5);border-color:#EEE;border:0;}
  .P.course > .H>.mCourse > .mo .apc-btn-count:after{display:none;}
  .P.course > .H>.mCourse > .mo .apc-btn-count .icon{height:rem(16);}
  .P.course > .H>.mCourse > .mo .apc-btn-count .n{font-size:rem(8)}

  .P.course > .H > .mCourse > .relative{position:relative;margin:rem(10);padding-top:rem(25);padding-bottom:rem(1);}
  .P.course > .H > .mCourse > .relative:before{display:none;overflow:hidden;content:"相关知识点";position:absolute;top:0;left:0;height:rem(25);padding:0 rem(10);line-height:rem(25);font-size:rem(9);color:#999;box-sizing:border-box;}
  .P.course > .H > .mCourse > .relative .name{position:relative;height:rem(50);margin:0 rem(10) rem(1);padding:0 rem(40) 0 rem(10);font-size:rem(14);color:#333;line-height:rem(50);}
  .P.course > .H > .mCourse > .relative .name .icon{position:absolute;top:rem(10);right:0;width:rem(30);height:rem(30);padding:rem(8);transform:rotate(90deg)}

  .P.course .apc-video .prism-play-btn{position:absolute;left:50%;bottom:rem(-60);margin-left:rem(-25) !important;background:url(data:image/svg+xml;base64,PHN2ZyBjbGFzcz0iQVZQbGF5IiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA1MCA1MCI+PHBhdGggZmlsbD0iIzNDOERGRiIgZD0iTTEyLjUsOGMwLjgsMC41LDEuOCwxLjEsMi43LDEuNmMxLjQsMC44LDIuOSwxLjcsNC40LDIuNWMxLjIsMC43LDIuNSwxLjQsMy43LDIuMWM1LjgsMy40LDExLjYsNi43LDE3LjQsMTAuMSBjMC4yLDAuMSwwLjMsMC41LDAuMywwLjZjMCwwLjQtMC41LDAuOC0wLjksMC45Yy0wLjMsMC4yLTAuNywwLjQtMSwwLjZjLTEsMC42LTIuMSwxLjItMy4xLDEuOGMtMS41LDAuOC0zLDEuNy00LjUsMi42IGMtNyw0LjEtMTQsOC4xLTIxLjEsMTIuMmMtMC4yLDAuMS0wLjUsMC4zLTAuOCwwLjNDOS40LDQzLjMsOSw0Myw5LDQyLjZWNy42QzksNyw5LjQsNi43LDkuOSw2LjdDMTAuNSw2LjcsMTIuMSw3LjgsMTIuNSw4eiIvPjwvc3ZnPgo=) center center no-repeat !important;background-size:80% !important;}
   .P.course .apc-video .prism-play-btn.playing{background-image:url(data:image/svg+xml;base64,PHN2ZyBjbGFzcz0iQVZQYXVzZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB2aWV3Qm94PSIwIDAgNDggNDgiPjxwYXRoIGZpbGw9IiMzQzhERkYiIGQ9Ik0yNy45LDQyLjZWNS40aDkuNHYzNy4zSDI3LjlMMjcuOSw0Mi42eiBNMTAuNyw0Mi42aDkuNFY1LjRoLTkuNFY0Mi42TDEwLjcsNDIuNnoiPjwvcGF0aD48L3N2Zz4NCg==) !important}
  .P.course .apc-video .prism-fullscreen-btn{position:absolute;left:50%;bottom:rem(-60);display: flex;justify-content: center;align-items: center;margin-left:rem(90) !important;color:$color_one;background:none !important;}
  .P.course .apc-video .prism-fullscreen-btn:before{display: flex;justify-content: center;align-items: center;content:"全屏";width:rem(40);height:rem(30);color:#999;border-radius:rem(3);border:1px solid #EEE;background:none;box-sizing:border-box;border:0;}
  .P.course .apc-video .prism-speed-selector{display:flex !important;position:absolute;left:50%;bottom:rem(-60);width:rem(50) !important;height:rem(50) !important;justify-content: center;align-items: center;margin-left:rem(-140) !important;color:$color_one;background:none !important;}
  .P.course .apc-video .prism-speed-selector .current-speed-selector{display:flex;justify-content: center;align-items: center;width:rem(40);height:rem(30);padding:rem(2) rem(7);color:#999;border-radius:rem(3);border:1px solid #EEE;background:none;border:0;}
  .P.course .apc-video .apc-video .count{display:none;}


  .P.course > .H>.mCourse .section{display:block;position:relative;margin:rem(10);padding-bottom:rem(1);}
  // .P.course > .H>.mCourse .section:before{display:none;overflow:hidden;content:"相关知识点";position:absolute;top:0;left:0;height:rem(25);padding:0 rem(10);line-height:rem(25);font-size:rem(9);color:#999;box-sizing:border-box;}
  .P.course > .H>.mCourse .section .name{position:relative;height:rem(50);margin:0 rem(10) rem(1);padding:0 rem(40) 0 rem(10);font-size:rem(14);color:#333;line-height:rem(50);}
  .P.course > .H>.mCourse .section .name .icon{position:absolute;top:rem(10);right:0;width:rem(30);height:rem(30);padding:rem(8);transform:rotate(90deg)}


  .P.courseHome .C.course .N{display:none;}
}
@media screen and (max-width:1080px) and (-webkit-min-device-pixel-ratio:1.5){ // Android 1080p 1080*1920
}
@media screen and (max-width:828px) and (-webkit-min-device-pixel-ratio:1.5){ // iPhone6+ 414
}
@media screen and (max-width:786px) and (-webkit-min-device-pixel-ratio:1.5){ //
}
@media screen and (max-width:768px) and (-webkit-min-device-pixel-ratio:1.5){ //iPad
}
@media screen and (max-width:750px) and (-webkit-min-device-pixel-ratio:1.5){ // iPhone6 375
}
@media screen and (max-width:720px) and (-webkit-min-device-pixel-ratio:1.5){ // Android 720p 720*1280
}
@media screen and (max-width:640px) and (-webkit-min-device-pixel-ratio:1.5){ // iPhone5 320
}


