
@import "../variable";

.P.people.home .H{height:rem(300);@extend %center_flex;}
.P.people.home>.H .mUser,.P.people.home>.H .mOrg{width:auto;padding:rem(30);text-align:center;}
.P.people.home>.H .mUser .name,.P.people.home>.H .mOrg .name{position:relative;z-index:2;padding:rem(10) 0 0;font-size:rem(20);text-align:center;line-height:2;color:#FFF;text-shadow:rem(1) rem(1) rem(3) rgba(0,0,0,.5);}
.P.people.home>.H .slogan{position:relative;z-index:2;text-align:center;line-height:2;color:rgba(255,255,255,.75);text-shadow:rem(1) rem(1) rem(3) rgba(0,0,0,.5);}
.P.people.home>.H .summary{display:none;width:rem(720);margin:rem(10) 0;font-size:rem(16);line-height:2;color:#666;@extend %text_overflow;}
// .P.people.home>.H .slogan .intro:before{content:"展开";font-size:rem(14)}
.P.people.home>.H .follow{display:inline-block;position:relative;z-index:2;margin:rem(20) rem(10) 0;padding:rem(5) rem(10);color:rgba(255,255,255,.75);text-shadow:rem(1) rem(1) rem(3) rgba(0,0,0,.5);border:0px solid rgba(255,255,255,.5);border-radius:rem(3)}
.P.people.home>.H .follow .n{font-size:rem(14);}
.P.people.home>.H .follow .n:after{margin-left:rem(2);font-size:rem(12)}
.P.people.home>.H .follow .to{position:absolute;top:0;left:0;width:100%;height:100%;}
.P.people.home>.H .following .n:after{content:"关注"}
.P.people.home>.H .follower .n:after{content:"粉丝"}
.P.people.home>.H .mUser>.pic{position:relative;z-index:2;width:rem(60);height:rem(60);margin:0 auto;padding:rem(30);box-shadow:0 0 rem(5) #DDD;border-radius:rem(150);background-size:cover;background-position:center;}
// .P.people.home>.H .item>.pic .icon{fill:none;stroke:#CCC;stroke-width:rem(1);}
.P.people.home>.H .mUser.item>.pic{fill:none;stroke:#999;stroke-width:rem(2);}
.P.people.home>.H .mUser>.cover{position:absolute;z-index:1;top:0;left:0;width:100%;height:100%;background:#F5F5F5;background-size:100%;background-repeat:no-repeat;background-position:center;}

.P.people.home>.H .stats{display:none;position:absolute;z-index:0;/* bottom:rem(-100); */left:50%;width:rem(800);height:rem(100);padding:rem(20) 0;transform:translate(-50%,0);background:rgba(255,255,255,.85);transition:all .4s;}
.P.people.home>.H .stats label{position:absolute;top:rem(20);left:50%;display:inline-block;width:auto;height:rem(34);margin:0 auto;padding:rem(8) rem(20);font-size:rem(18);line-height:1.2;letter-spacing:rem(2);color:#FFF;border-radius:rem(5);background:#000;transform:translate(-50%,0)}
.P.people.home>.H .stats .item{position:relative;flex-grow:1;width:33%;border:1px solid transparent;border-radius:rem(5);@extend %center_flex;}
.P.people.home>.H .stats .item:active{border-color:#EEE;background:#F5F5F5;}
.P.people.home>.H .stats .item .n{color:#666;font-size:rem(16);text-align:center;}
.P.people.home>.H .stats .item .n:before{margin-right:rem(5);color:#000;font-size:rem(16);line-height:2;}
.P.people.home>.H .stats .item .n .cn{font-size:rem(14);}
.P.people.home>.H .stats .item.new .n:before{content:"";position:absolute;top:rem(15);right:rem(15);width:rem(10);height:rem(10);color:#FFF;border-radius:rem(20);background:#E60000;@extend %center_flex;}
.P.people.home>.H .stats .item .to{position:absolute;top:0;left:0;width:100%;height:100%;}
.P.people.home>.H .stats .item.course,.P.people.home>.H .stats .item.follower{margin-right:rem(50);}
.P.people.home>.H .stats .item.course:after,.P.people.home>.H .stats .item.follower:after{content:"";position:absolute;top:0;right:rem(-24);width:1px;height:100%;background:-webkit-linear-gradient(top,rgba(#FFF,0),#DDD 50%,rgba(#FFF,0)) content-box;}
.P.people.home>.H .stats .item.visitor .n:before{content:"本周访客";}
.P.people.home>.H .stats .item.visitor .n:after{content:"本周访客";}
.P.people.home>.H .stats .item.sumday .n:after{content:"学习天数";}
.P.people.home>.H .stats .item.sumtime .n:after{content:"学习时间";}
.P.people.home>.H .stats .item.today .n:after{content:"今日学习";}
.P.people.home>.H .stats .item.update .n:before{content:"动态";}
.P.people.home>.H .stats .item.course .n:before{content:"课程";}
.P.people.home>.H .stats .item.like .n:before{content:"喜欢";}
.P.people.home>.H .stats .item.study .n:before{content:"学过";}
.P.people.home>.H .stats .item.growth .n:before{content:"成长";}
.P.people.home>.H .stats .item.following .n:after{content:"他关注的";}
.P.people.home>.H .stats .item.follower .n:after{content:"关注他";}
.P.people.home.me>.H .stats .item.following .n:after{content:"我关注的";}
.P.people.home.me>.H .stats .item.follower .n:after{content:"关注我的";}
.P.people.home.org>.H .stats .item.update .n:after{content:"学校动态";}
.P.people.home.org>.H .stats .item.course .n:after{content:"学校课程";}
.P.people.home.org>.H .stats .item.student .n:after{content:"付费学员";}
.P.people.home.org>.H .stats .item.follower .n:after{content:"关注者";}


.P.people.home>.H .apc-switch{position:absolute;z-index:0;top:auto;left:50%;width:rem(800);height:rem(60);transform:translate(-50%,0);background:rgba(255,255,255,.85);transition:all .4s;}
.P.people.home>.H .apc-switch:after{content:"";position:absolute;bottom:-1px;left:0;width:100%;height:1px;background:-webkit-linear-gradient(left,rgba(#FFF,0),#DDD 50%,rgba(#FFF,0)) content-box;}
.P.people.home>.H .apc-switch .txt:before{margin-right:rem(5)}
.P.people.home>.H .apc-switch .update .txt:before{content:"动态"}
.P.people.home>.H .apc-switch .like .txt:before{content:"喜欢"}
.P.people.home>.H .apc-switch .study .txt:before{content:"学过"}
.P.people.home>.H .apc-switch .growth .txt:before{content:"成长"}

.P.people.home .C.course .H{height:rem(60);color:#FFF;background:#000;background-size:100%;background-repeat:no-repeat;background-position:center;}


.mData .apc-bar,.C.signup .apc-bar{display:flex;justify-content:flex-end;align-items: center;height:rem(20);border:0;border-radius:rem(20);padding:rem(1) rem(7) 0 0;}
.mData .apc-bar .bar_i,.C.signup .apc-bar .bar_i{display:flex;justify-content:flex-end;align-items: center;position:absolute;top:0;left:0;min-width:rem(20);height:100%;padding:rem(1) rem(7) 0 0;text-align:right;color:#FFF;border-radius:rem(20);transition:width 1s;}
.mData .apc-bar .bar_i.signup,.C.signup .apc-bar .bar_i.signup{background:$color_one;}
.mData .apc-bar .bar_i.checkin,.C.signup .apc-bar .bar_i.checkin{background:$color_green;}
.mData .apc-bar .n,.C.signup .apc-bar .n{color:#999;}
.mData .apc-bar .bar_i .n,.C.signup .apc-bar .bar_i .n{color:#FFF;}

@media screen and (max-width:2732px) and (-webkit-min-device-pixel-ratio:1.5) { //iPad Pro
}
@media screen and (max-width:2732px) and (orientation:landscape) and (-webkit-min-device-pixel-ratio:1.5) { // iPad Pro H 1366*1024
}
@media screen and (max-width:2048px) and (orientation:portrait) and (-webkit-min-device-pixel-ratio:1.5) { // iPad Pro V 1024*1366
}
@media screen and (max-width:2048px) and (-webkit-min-device-pixel-ratio:1.5) { // iPad
}
@media screen and (max-width:2048px) and (orientation:landscape) and (-webkit-min-device-pixel-ratio:1.5) { // iPad H 1024*768
}
@media screen and (max-width:1536px) and (orientation:portrait) and (-webkit-min-device-pixel-ratio:1.5) { // iPad V 768*1024
}
@media (min-resolution:200dpi), screen and (max-width:1440px) and (-webkit-min-device-pixel-ratio:1.5) and (orientation:portrait){ //Android 1440p 1440*2560
// @media (min-resolution:250dpi), screen and (max-width:1440px) and (-webkit-min-device-pixel-ratio:1.5) and (orientation:portrait){ //Android 1440p 1440*2560
  .P>.F{z-index:21;height:rem(50);background:rgba(255,255,255,.95) !important;}
  .P.people.home .H{height:rem(200);background-size:cover;}
  .P.people.home>.H .stats{bottom:rem(-90);width:100%;height:rem(90);padding:rem(10);border:solid #F5F5F5;border-width:rem(10) 0;}
  .P.people.home>.H .stats .item .n{font-size:rem(18)}
  .P.people.home>.H .stats .item .n:after{font-size:rem(8)}
  .P.people.home>.H .stats .item.course,.P.people.home>.H .stats .item.follower{margin-right:rem(15);}
  .P.people.home>.H .stats .item.course:after,.P.people.home>.H .stats .item.follower:after{right:rem(-8);}


  .iPhone .P.people.home>.H .stats,.iPad .P.people.home>.H .stats,.Mac .P.people.home>.H .stats{border:0;background:rgba(255,255,255,.5);-webkit-backdrop-filter:saturate(180%) blur(rem(20));backdrop-filter:saturate(180%) blur(rem(20))}


}
@media screen and (max-width:1080px) and (-webkit-min-device-pixel-ratio:1.5){ // Android 1080p 1080*1920
}
@media screen and (max-width:828px) and (-webkit-min-device-pixel-ratio:1.5){ // iPhone6+ 414
}
@media screen and (max-width:786px) and (-webkit-min-device-pixel-ratio:1.5){ //
}
@media screen and (max-width:768px) and (-webkit-min-device-pixel-ratio:1.5){ //iPad
}
@media screen and (max-width:750px) and (-webkit-min-device-pixel-ratio:1.5){ // iPhone6 375
}
@media screen and (max-width:720px) and (-webkit-min-device-pixel-ratio:1.5){ // Android 720p 720*1280
}
@media screen and (max-width:640px) and (-webkit-min-device-pixel-ratio:1.5){ // iPhone5 320
}


