
@import "../variable";

.P.topicHome .L,.P.topicHome .mlist{height:100%;}
.P.topicHome .mlist{display:flex;background:#000;}
.P.topicHome .C.topic .N{position:static;width:auto;height:auto;padding:0;line-height:1rem;}
.P.topicHome .C.topic .N:before{display:none;}
.P.topicHome .C.topic .N .apc-btn{position:absolute;z-index:1;top:0;width:rem(80);height:100%;border-radius:0;}
.P.topicHome .C.topic .N .apc-btn:hover .icon{fill:#FFF;}
.P.topicHome .C.topic .N .apc-btn:active{background:none;}
.P.topicHome .C.topic .N .apc-btn.prev{left:0;}
.P.topicHome .C.topic .N .apc-btn.next{right:0;}
.P.topicHome .C.topic .N .apc-btn .icon{width:rem(50);height:rem(50);padding:rem(10);fill:rgba(255,255,255,.3);}
.P.topicHome .C.topic .N .apc-btn.prev .icon{transform:rotate(-90deg)}
.P.topicHome .C.topic .N .apc-btn.next .icon{transform:rotate(90deg)}

.P.topic{background:#000;}
// .P.topic .C.course .N:before{display:none;}
.P.topic .C.course .mTopic{height:rem(100);@extend %center_flex;}
.P.topic .C.course .mTopic .name{font-size:rem(20);color:#FFF;}

.P.topic .C.course .L{padding-top:rem(65)}
.P.topic .C.course .mlist{display:flex;width:100%;padding:0 rem(10);flex-wrap:wrap;}
.P.topic .C.course .mCourse{position:relative;width:rem(315);padding:rem(5)}
.P.topic .C.course .mCourse .cover{position:relative;height:rem(160);background-size:cover;background-position:center;background-repeat:no-repeat;}
.P.topic .C.course .mCourse .name{position:absolute;bottom:0;left:0;width:100%;padding:rem(10) rem(15);line-height:2;font-size:rem(12);color:rgba(255,255,255,.5);@extend %text_overflow;letter-spacing:rem(1);text-shadow:rem(1) rem(1) rem(3) rgba(0,0,0,.5);}
.P.topic .C.course .mCourse .dur{display:none;color:#999;}
.P.topic .C.course .mCourse .dur.minute .n:after{content:"分钟";padding-left:rem(5)}
.P.topic .C.course .mCourse .to{position:absolute;top:0;left:0;width:100%;height:100%;}

@media screen and (max-width:2732px) and (-webkit-min-device-pixel-ratio:1.5) { //iPad Pro
}
@media screen and (max-width:2732px) and (orientation:landscape) and (-webkit-min-device-pixel-ratio:1.5) { // iPad Pro H 1366*1024
}
@media screen and (max-width:2048px) and (orientation:portrait) and (-webkit-min-device-pixel-ratio:1.5) { // iPad Pro V 1024*1366
}
@media screen and (max-width:2048px) and (-webkit-min-device-pixel-ratio:1.5) { // iPad
}
@media screen and (max-width:2048px) and (orientation:landscape) and (-webkit-min-device-pixel-ratio:1.5) { // iPad H 1024*768
}
@media screen and (max-width:1536px) and (orientation:portrait) and (-webkit-min-device-pixel-ratio:1.5) { // iPad V 768*1024
}
@media (min-resolution:200dpi), screen and (max-width:1440px) and (-webkit-min-device-pixel-ratio:1.5) and (orientation:portrait){ //Android 1440p 1440*2560
// @media (min-resolution:250dpi), screen and (max-width:1440px) and (-webkit-min-device-pixel-ratio:1.5) and (orientation:portrait){ //Android 1440p 1440*2560

  .P.topicHome .mlist{display:block;padding-top:rem(10)}
  .P.topicHome .C.topic .N,.P.topic .C.course .N{display:none;}

  .P.topic .C.course .mTopic{height:rem(60)}
  .P.topic .C.course .L{padding-top:0;}
  .P.topic .C.course .mlist{padding:0;}
  .P.topic .C.course .mCourse{width:100%;padding:rem(5) 0;}
  // .P.topic .C.course .F{background:rgba(0,0,0,.75) !important}
}
@media screen and (max-width:1080px) and (-webkit-min-device-pixel-ratio:1.5){ // Android 1080p 1080*1920
}
@media screen and (max-width:828px) and (-webkit-min-device-pixel-ratio:1.5){ // iPhone6+ 414
}
@media screen and (max-width:786px) and (-webkit-min-device-pixel-ratio:1.5){ //
}
@media screen and (max-width:768px) and (-webkit-min-device-pixel-ratio:1.5){ //iPad
}
@media screen and (max-width:750px) and (-webkit-min-device-pixel-ratio:1.5){ // iPhone6 375
}
@media screen and (max-width:720px) and (-webkit-min-device-pixel-ratio:1.5){ // Android 720p 720*1280
}
@media screen and (max-width:640px) and (-webkit-min-device-pixel-ratio:1.5){ // iPhone5 320
}


